---
import TrainingLayout from "@/layouts/TrainingLayout.astro";
---

<TrainingLayout
  title="Training Descriptions"
  activeMainText="Training"
  activeSubText="Training Descriptions"
>
  <h1 class="heading">Training Descriptions</h1>

  <img
    src="/images/Training-graphic.png"
    alt="training graphic"
    class="float-left"
  />

  <p>
    New and cross-trained staff at HFNY Home Visiting Program sites will be
    oriented and prepared for their <br />
    roles through basic training for Family Resource Specialists (FRS), Family Support
    Specialists (FSS), <br />
    Supervisors, and Program Managers. The skills and knowledge of staff at all sites
    will be further developed through <br />
    Prenatal, Family Goal Plan (FGP), and other introductory and advanced training
    events
  </p>

  <p>
    Contact
    <a href="mailto:hfnytrainings@preventchildabuseny.org ">Sara Baldwin</a>
    for more information or to be added to the distribution list.
  </p>

  <div class="img-w-capt float-left">
    <table summary="image with caption">
      <caption>
        Click on the image above to view the current Training Calendar. (Updated
        03/18/2025)
      </caption>
      <tr>
        <td>
          <a
            href="../Staff/Documents/HFNY 2025 Core Training Calendar.pdf"
            target="_blank"
          >
            <img
              src="/images/calendar-clip.png"
              alt="Calendar icon"
              width="176"
            />
          </a>
        </td>
      </tr>
    </table>
  </div>
  <!-- end image with caption -->

  <h2>FSS Core&mdash;Foundations for Family Support (FFS)</h2>
  <p>This week-long virtual training:</p>
  <ul style="margin-top: -2px">
    <li>Targets new staff, staff new to the FSS position, and supervisors.</li>
    <li>
      Is a Healthy Families America Training that includes information specific
      to the HFNY programs.
    </li>
    <li>
      Includes instruction, skills practice, and experiential learning
      activities in groups.
    </li>
  </ul>
  <h2>FRS CORE&mdash;Family Resilience and Opportunities for Growth (FROG)</h2>
  <p>This week-long virtual training:</p>
  <ul style="margin-top: -2px">
    <li>
      Targets new hires, staff who are new to the FRS position, and supervisors.
    </li>
    <li>
      Is a Healthy Families America Training that includes information specific
      to HFNY programs.
    </li>
    <li>
      Includes instruction, skills practice, and experiential learning
      activities in groups.
    </li>
  </ul>
  <h2>Supervisor and Manager</h2>
  <p>This 5-day training (currently being provided virtually):</p>
  <ul style="margin: -2px 0">
    <li>
      Targets new supervisor and program manager hires and can also be taken as
      a refresher for experienced supervisors.
    </li>
    <li>
      Includes instruction, skills practice, experiential learning activities in
      groups, and Transfer of Learning activities to further develop skills on
      the job.
    </li>
    <li>
      Is a Healthy Families New York training developed by Prevent Child Abuse
      New York for program staff.
    </li>
  </ul>
  <p></p>
  <p class="note" style="margin-left: 2em">Pre-requisite: FSS/FRS Core.</p>
  <h2>Program Manager Orientation</h2>
  <ul style="margin: -2px 0">
    <li>
      Offered with one representative from PCANY, OCFS and CHSR each, this
      orientation covers the roles and tasks of a new PM, the multi-site
      structure, resources, support, contracts/budgeting/reporting, personnel
      and staffing, capacity building and other topics related to the program
      manager position.
    </li>
  </ul>
  <p class="note" style="margin-left: 2em">
    No prerequisites. The supervisor of the program manager is also encouraged
    to attend this orientation.
  </p>
</TrainingLayout>
