---
import TrainingLayout from "@/layouts/TrainingLayout.astro";
---

<TrainingLayout
  title="Training & Staff Development"
  activeMainText="Training"
  activeSubText="Training & Staff Development"
>
  <h1 class="heading">Training &amp; Staff Development</h1>
  <img
    src="/images/diverse-team.png"
    alt="our diverse team"
    class="float-right"
    width="50%"
  />
  <p>
    Training and Staff Development for Healthy Families New York is provided
    by&nbsp;<a href="http://www.preventchildabuseny.org/" target="_blank"
      >Prevent Child Abuse New York</a
    >'s&nbsp;Training and Staff Development Team.
  </p>

  <p>
    Prevent Child Abuse New York (PCANY) is a private, not-for-profit agency
    serving all of New York State. Its mission is to prevent child abuse in all
    its forms, with a focus on community programs and public policies that
    prioritize prevention right from the start, to make sure child abuse and
    neglect never occur.
  </p>

  <p>
    The Training and Staff Development Team prepares HFNY Family Support
    Specialists (FSS), Family Resource Specialists (FRS), Supervisors, and
    Program Managers for their roles in the HFNY home visiting program that
    includes:
    <ol>
      <li>Basic and advanced training.</li>
      <li>Curriculum development.</li>
      <li>
        On-site quality assurance, site support, and technical assistance.
      </li>
      <li>The Link, the newsletter for Healthy Families New York.</li>
      <li>Specialized materials to enhance staff development.</li>
      <li>Phone and email consultation to sites as needed.</li>
      <li>
        Materials on parenting and child development for home visitors and
        parents. <em>Available in English and Spanish.</em>
      </li>
    </ol>
  </p>
</TrainingLayout>
