---
import AboutLayout from "@/layouts/AboutLayout.astro";
---

<AboutLayout
  title="Healthy Families New York Org"
  activeMainText="About"
  activeSubText="Administration"
>
  <h1 class="heading">Administration</h1>

  <h2>Multi-Site System</h2>
  <p>
    Healthy Families New York (HFNY) is a collaboration of state, local,
    private, and publicly-funded home visiting programs affiliated with each
    other and with Healthy Families America (HFA).&nbsp;
  </p>
  <p><strong>The partners in the multi-site system are:</strong></p>
  <ul>
    <li>
      <a href="http://ocfs.ny.gov/main/Default.asp"
        >New York State Office of Children and Family Services (OCFS)</a
      >
    </li>
    <li>
      <a href="../maps">Accredited Healthy Families New York Programs</a>
    </li>
    <li>
      <a href="http://www.preventchildabuseny.org/"
        >Prevent Child Abuse New York (PCANY)&nbsp;
      </a>
    </li>
    <li>
      <a href="http://www.albany.edu/center-human-services-research/"
        >Center for Human Services Research (CHSR), University at Albany, SUNY
      </a>
    </li>
  </ul>

  <a href="/Staff/Documents/HFNY Policy Manual 2023 12.15.23.pdf">
    HFNY Site Specific Policy Manual (updated 2023-12-15)
  </a>

  <h2>HFNY Multi-Site System Administration</h2>

  <p>
    <strong>Statewide Leadership</strong>
    <br />
    Twice a year, program managers from individual programs across the state and
    the Central Administration Team gather in Albany to exchange ideas, information,
    and to offer support in achieving their shared goals.
  </p>
  <p>
    <strong>Regional Leadership</strong><br />
    Program leaders and Central Administration Team members participate in quarterly
    meetings within their own regions (Capital Region, Central/Western, Hudson Valley,
    &amp; New York City) for the same purpose as the larger statewide leadership
    meetings, focusing on topics that are relevant to the region as a whole.
  </p>
  <p>
    <strong>Central Administration</strong>
    <br />
    Every two months representatives from OCFS, PCANY and CHSR participate in a Central
    Administration committee which provides guidance and leadership to the larger
    network of HFNY programs.
  </p>

  <p>
    The HFNY Central Administration Team provides the statewide system with:
    <table width="100%" style="margin-top:-1em;">
      <tr>
        <td>
          <ul>
            <li>Support to new and developing programs</li>
            <li>Data collection and analysis</li>
            <li>Staff training and professional development opportunities</li>
            <li>Informational and networking support</li>
          </ul>
        </td>
        <td>
          <ul>
            <li>Assistance with HFA accreditation</li>
            <li>Access to educational resources</li>
            <li>Quality assurance</li>
            <li>Technical Assistance</li>
          </ul>
        </td>
      </tr>
    </table>
  </p>

  <h2 style="text-align: center;">HFNY Central Administration</h2>
  <p style="align: center">
    <img
      src="../images/HFNYCentralAdminstration.png"
      alt="HFNY Central Administration"
    />
  </p>
</AboutLayout>
