---
import AboutLayout from "../../layouts/AboutLayout.astro";
---

<AboutLayout title="Healthy Families New York Org" activeText="About HFNY">
	<!-- ***********************************************
												enter page content below
						*********************************************** -->
	<h1 class="heading">About Healthy Families New York</h1>
	<img
		src="../images/SupportingFamiliesGraphic.png"
		alt="Supporting Families Right From the Start"
		class="float-right"
	/>
	<h2>Supporting Families Right From the Start</h2>
	<p>
		Healthy Families New York (HFNY), a Healthy Families America (HFA)
		accredited home visiting program, seeks to improve the health and well-being
		of infants and children through home-based services delivered by non-profit
		organizations in local communities. HFNY was established in 1995 by the New
		York State Office of Children and Family Services (OCFS).
	</p>

	<p>
		HFNY is an evidence-based voluntary home visiting model designed to provide
		services to families that begin prenatally, or at birth, through age five.
		HFNY uses an infant mental health/relational development approach that
		promotes parent-child attachment to achieve its mission of preventing child
		abuse, neglect, and other adverse childhood outcomes.
	</p>

	<p>
		HFNY strategies are relationship-based, culturally sensitive, family
		centered, strength-based (building on parental competencies) and grounded in
		the parallel process. HFNY home visitors develop healthy relationships with
		families and partner with parents to support them in responding in a
		sensitive and in a nurturing manner to their young children. HFNY offers
		comprehensive support services designed to promote positive parent-child
		interaction, healthy child development, healthy relationships, family
		self-sufficiency, and connections to community resources when needed.
	</p>

	<h2>The goals of the program are to:</h2>
	<ul>
		<li>Support positive parent-child bonding and relationships.</li>
		<li>Promote optimal child and family health, development, and safety.</li>
		<li>Enhance family self-sufficiency.</li>
		<li>Prevent child abuse and neglect.</li>
	</ul>

	<p>
		Healthy Families New York is a collaboration of Healthy Families New York
		home visiting programs, the New York State Office of Children and Family
		Services, Prevent Child Abuse New York, Inc., the Center for Human Services
		Research of the State University of New York at Albany, and Healthy Families
		America.
	</p>

	<!-- *******************************************
					end page content code 
	******************************************* -->
</AboutLayout>

<style>
	/* We'll move the CSS here later */
</style>
