---
import AboutLayout from "../../layouts/AboutLayout.astro";
---

<AboutLayout title="Healthy Families New York Org" activeText="Testimonials">
  <h1 class="heading">Healthy Families New York Testimonials</h1>
  <h2>Promotional Video</h2>
  <p>
    Hear what families have to say about being a part of Healthy Families New
    York.
  </p>
  <br />
  <iframe
    height="350"
    width="600"
    src="https://www.youtube.com/embed/Rs14lkrL0RU"
  >
  </iframe>
  <br />
  <p>
    If you can't view the video above, here is a download link:
    <a href="../media/Video/VER61671A_en_169_1.mp4">Download</a>
  </p>
</AboutLayout>
