---
import AboutLayout from "@/layouts/AboutLayout.astro";
---

<AboutLayout
	title="Healthy Families New York Org"
	activeText="What Makes Us Unique"
>
	<h1 class="heading">What Makes Us Unique</h1>
	<img src="../images/family-groups.png" alt="Family groups" />
	<h1>HFNY</h1>
	<ul>
		<li>
			Is <strong>the first Healthy Families America (HFA) accredited</strong>
			<a href="../sites2.htm">multi-site system</a> in the nation and program practices
			are <strong>based on 25 years of research</strong> about the best ways to help
			children and families.
		</li>
		<li>
			Is <strong>managed by a strong infrastructure</strong> that includes evaluation,
			training, quality assurance and an extensive data system, mechanisms that aid
			in improving day-to-day practices.
		</li>
		<li>
			Focuses on <strong>parent/child interaction and bonding</strong>.
		</li>
		<li>
			Is <strong
				>open to first-time parents <em>as well as</em> parents with multiple children</strong
			>, who are pregnant and/or have at least one child less than three months
			of age.
		</li>
		<li>Encourages an <strong>active role for fathers</strong>.</li>
		<li>
			Workers are hired from the same communities the program serves. <strong
				>They know the neighborhoods and understand the culture</strong
			>. Many HFNY workers speak a variety of languages, including American Sign
			Language.
		</li>
		<li>
			<strong>Partners with other community programs and agencies </strong>to
			effectively connect families with needed services and resources such as
			health care providers; early childhood providers; social service agencies;
			family and social support services; employment, training, and education
			programs; and counseling and support services.
		</li>
	</ul>
</AboutLayout>
