---
import NetworkLayout from "@/layouts/NetworkLayout.astro";
---

<NetworkLayout
    title="Training"
    activeMainText="HFNY Network"
    activeSubText="Training"
>
    <h1 class="heading">Training</h1>
    <img src="/images/team.png" alt="team" />
    <h2>HFNY Training Team</h2>
    <p style="font-size: 1.25em;">
    	Prevent Child Abuse NY is a private, not-for-profit agency serving all of New York State whose
    	mission is to prevent child abuse in all its forms, with a focus on community programs and public policies
    	that prioritize prevention right from the start, to make sure child abuse and neglect never occur.
    	PCA-NY oversees the Training and Staff Development Team for HFNY.
    	See their website <a href="https://tol397.wixsite.com/transferoflearning/thepcanyteam" target="_blank">
    		here
    	</a>
    	for staff bios and more information.
    </p>
    <div class="img-w-capt float-left">
		<table summary="image with caption">
			<caption>
				Click on the image above to view the current Training Calendar.
				(Updated 06/03/2025)
			</caption>
			<tr>
				<td>
					<a href="/documents/HFNY 2025 Core Training Calendar.pdf" target="_blank">
						<img src="/images/calendar-clip.png" alt="Calendar icon" width="176" />
					</a>
				</td>
			</tr>
		</table>
    </div>
    <!-- end image with caption -->
    <div>
		<h2>Training Calendar</h2>
		<div>
		    <p>New and cross-trained Family Resource Specialists (FRS) and Family Support Specialists (FSS) are oriented and prepared for their roles through basic training provided by Prevent Child Abuse New York (PCA-NY). Supervisors and Program Managers receive their basic training from offerings facilitated by the three branches of HFNY Central Administration. The skills and knowledge of staff are further developed through offerings such as the PCA-NY Prenatal Training Modules and Workbooks, the In-House Family Goal Plan Training and the Transfer of Learning website. These and various other training resources are provided on this page.
		    </p>
		</div>
		<br />
		<p>
			Contact&nbsp;<a href="mailto:hfnytrainings@preventchildabuseny.org">Sara Baldwin</a>&nbsp;for more information or to be added to the distribution list.
		</p>

		<div>
			<h2>Important Resources</h2>
			<p style="font-size: 1.15em;">
			<ul>
				<li>
					<a href="/documents/Training Descriptions 6.12.25.pdf" target="_blank">
						HFNY Training Descriptions (PCA-NY last updated 2025-06-12)
					</a>
				</li>
				<li>
					<a href="https://docs.google.com/spreadsheets/d/1ir4v8-9BLwjEQIeldig2j7BQ3Q4Hnr0kpHAwhFLKgl4/edit?gid=1640942860#gid=1640942860"
						target="_blank">
						New Hire Training Checklist. (2025-02-06)
					</a>
				</li>
			</ul>
			</p>

			<h2>Additional Resources</h2>
			<ul>
				<li>
					<a href="/documents/PCANY HFNY Training Guide v9.2024 final.pdf" target="_blank">
						PCA-NY HFNY Training Guide (2024-09-05)
					</a>
				</li>
				<li>
					<a href="/documents/IMPORTANT WEBSITES UPDATED 081524.pdf" target="_blank">
						Guide to Websites (2024-08-15)
					</a>
				</li>
				<li>
					<a href="/documents/How to use the HFNY Training Checklist and Training BPS report on MIS.pdf"
						target="_blank">
						Guidance for using the Training Checklist and Training BPS report in the HFNY MIS (2023-08-18)
					</a>

				</li>
				<li>
					<a href="/documents/Training Codes and Topics.pdf" target="_blank">
						Listing of Training Codes and Topics from the HFNY MIS (2023-08-02)
					</a>
				</li>
				<li>
					<a href="/documents/UPDATED ASR EP Review Tool FINAL 4.10.25.docx"
						target="_blank">
						Annual Service Review and Equity Plan Review Tool (2023-05-25)
					</a>
				</li>
				<li>
					<a href="/documents/CA message on FROG transition 10-21.pdf" target="_blank">
						CA Message on Transition to FROG (2021-10-01)
					</a>
				</li>
				<li>
					<a href="/documents/HFNYCommonAcronymsAbbreviations052021.pdf" target="_blank">
						HFNY Common Acronyms and Abbreviations (2021-05-20)
					</a>
				</li>
				<li>
					<a href="/documents/AdditionalOptionalTrainingResources.pdf" target="_blank">
						Additional Training Resources (PDF list - prior to 2021)
					</a>
				</li>
			</ul>

			<h2>Links to HFNY Trainings</h2>
			<ul>
				<li>
					<h3>HFNY Financial Literacy Webinar</h3>
					<a href="/documents/Assessing Families Financial Needs slides.pdf" target="_blank">
						Assessing Families Financial Needs slide deck
					</a>
					<br />
					<a href="https://youtu.be/VT0yJALKbwQ" target="_blank">
						Assessing Families Financial Needs YouTube video (2022-09-21)
					</a>
				</li>
				<li>
					<a href="/documents/GA 4 Power Point 10.2023-FINAL.ppt" target="_blank">
						Child Abuse Maltreatment Policy Presentation-GA-4 (2023-11-13)
					</a>
				</li>
				<p class="box">
					&#9432; The HFNY self paced trainings have now been transitioned to the
					<a href="https://tol397.wixsite.com/transferoflearning" target="_blank"> Transfer of Learning and Training</a> website! Please visit that site to access all the trainings formerly listed here including prenatal training, FGP, Service Plan, Multi-Site System Orientation and Child Abuse Maltreatment Policy Presentation.
				</p>
			</ul>
		</div>
    </div>
</NetworkLayout>
