---
import NetworkLayout from "@/layouts/NetworkLayout.astro";
---

<NetworkLayout
    title="Policy Manuals and Appendices"
    activeMainText="HFNY Network"
    activeSubText="Policy Manuals and Appendices"
>
    <h1 class="heading">HFNY Policies</h1>

	<div style="margin: 0px; text-align: center;"><img
			src="/images/policiesimage.jpg" width="400">
	</div>
	<div>
		<div>
			<h2>HFNY Updated Policies for Version 8 of Best Practice Standards (2022)</h2>
			<p>
				The policy committee is continuing to meet regularly to develop updated policies
				and will occasionally request feedback from the state-wide system on draft policies
				in development. To facilitate this process, the policy committee has created a shared
				Google Drive folder where all draft policies will be stored for program feedback and
				committee responses. Here is a link to that folder:<br />
				<a target="_blank" href="https://drive.google.com/drive/folders/1lRN6RhARjCgr4MooEetu-jf2bPTAV_Zl?usp=sharing">
					HFNY Policy Program Feedback / Committee Responses
				</a>
			</p>
			<p>Below is a list of updated and finalized policy documents issued by the policy committee.</p>
			<ul>
				<li>
					<a href="/documents/Finalized Policy 1- Initiate Service Early-Effective 4-15-2025.docx">
						Finalized Policy #1 - Initiate service early (Update 2025-04-30, effective 2025-04-15)
					</a>
				</li>
				<li>
					<a href="/documents/Finalized Policy 2s- FROG- Effective 11_27_2024.docx">
						Finalized Policy #2 - Standardized assessment tool (2024-11-27)
					</a>
				</li>
				<li>
					<a href="/documents/Finalized Policy 3- Offer Services Voluntary (11-24).docx">
						Finalized Policy #3 - Voluntary nature of services (updated 2024-11-15, effective 2024-10-31)
					</a>
				</li>
				<li>
					<a href="/documents/Finalized Policy 4-Offer Services Intensely- Effective 11_27_2024.docx">
						Finalized Policy #4 - Offer services intensely (updated 2025-01-07, effective 2024-11-27)
					</a>
				</li>
				<li>
					<a href="/documents/Finalized Policy 5-DEI-Effective 11_27_2024.docx">
						Finalized Policy #5 - Services take into account family culture (Diversity Equity Inclusion)
						(effective 2024-11-27)
					</a>
				</li>
				<li>
					<a
						href="/documents/Finalized Policy 6- Promote PCI Childhood Growth  Development- Effective 2_28_2025.docx">
						Finalized Policy #6 - Promote PCI, Childhood Growth and Development (effective 2025-02-28)
					</a>
				</li>
				<li>
					<a href="/documents/Finalized Policy 7-Health Care and Community.docx">
						Finalized Policy #7 - Families are linked to health care and other service providers
						(effective 2025-05-13, updated 2025-04-15)
					</a>
				</li>
				<li>
					<a href="/documents/Finalized Policy 8- Limited Caseload Sizes- Effective 04-15-2025.docx">
						Finalized Policy #8 - Limited caseload sizes (2025-04-15)
					</a>
				</li>
				<li>
					<a href="/documents/9-1A 9-3A 9-4A.docx">
						Finalized Policy #9 - Selection of staff, staff retention and staff satisfaction (effective
						2023-06-05)
					</a>
				</li>
				<li>
					<a
						href="/documents/Finalized Policies 10-11 - Training- effective date 9_5_2024  updated 9-25-24.docx">
						Finalized Policy #10 & 11 - Training Plan/Policy (effective 2024-09-05, updated 2024-09-25)
					</a>
				</li>
				<li>
					<a
						href="/documents/Finalized Policy 12s-Ongoing Reflective Supervision- Effective 11_27_2024.docx">
						Finalized Policy #12 - Supervision of Direct Support Staff (effective 2024-11-27)
					</a>
				</li>
				<li>
					<a href="/documents/Finalized GAs-Governance and Administration -Effective 4-15-2025.docx">
						Finalized GA Policies - Governance and Administration standards (effective 2025-04-15)
					</a>
				</li>
			</ul>
		</div>
		<div>
			Here are all of the above documents in one file
            <ul>
                <li>
                    <a href="/documents/HFNY Policy Manual 2023 12.15.23.docx"> HFNY Site Policy Manual (updated 2023-12-15) </a>
                </li>
            </ul>

		</div>
		<div>
			<h2>HFNY Policy Manual Appendices</h2>
			<p>Below is a list of documents that appear listed in the HFNY Policy Manual Appendix for reference.</p>
			<ul>
				<li>
					<a href="/documents/Critical Health and Safety List (6-4).pdf" target="_blank">
						Critical Health and Safety List (related to standard 6-4) (updated 2025-02-28)
						<!-- <i class="fa-solid fa-file-pdf"></i> -->
					</a>
				</li>
				<li>
					<a href="/documents/BPS 5 Procedure Writing Guide.pdf" target="_blank">
						HFNY BPS 5 Procedure Writing Guide
					</a>
				</li>
			</ul>
		</div>
    </div>
</NetworkLayout>
