---
import NetworkLayout from "@/layouts/NetworkLayout.astro";
---

<NetworkLayout
	title="Policy Manuals and Appendices"
	activeMainText="HFNY Network"
	activeSubText="Policy Manuals and Appendices"
>
  <h1 class="heading">Listening Forums</h1>

  <div style="text-align: center"><img style="height:125px" src="/images/listeningforums.jpeg" /></div>
  <div>
    <br>
    <h2>
        The training team hosted Regional Listening Forums in March and April to hear from you. A way to connect with each other and see what is happening for folks out there, give programs a chance to connect with others in the region and for CA to gather what questions, needs or challenges/successes programs may have to share.
    </h2>
    <h2 class="instructions">
      Click on the links below to see the notes
    </h2>
    <br>
    <div>
        <p>
            <a href="/documents/Listening_Forum_1Notes_March_2020.pdf" target="_blank">March 2020</a>
        </p>
        <p>
            <a href="/documents/ListeningForum2NotesApril2020.pdf" target="_blank">April 2020</a>
        </p>
    </div>
</div>
</NetworkLayout>