---
import NetworkLayout from "@/layouts/NetworkLayout.astro";
---

<NetworkLayout
    title="Policy Manuals and Appendices"
    activeMainText="HFNY Network"
    activeSubText="Policy Manuals and Appendices"
>
    <h1 class="heading">CA Updated Policy</h1>

    <div>
        <ul>
            <li>
                <a
                    href="/documents/HFNY CA Policy Manual - December 2023.pdf"
                    target="_blank"
                >
                    CA Policy Manual aka The NYS Multi-Site Central Administration
                    Policy Manual (updated December 2023)
                </a>
            </li>
        </ul>

        <div style="margin: 30px; text-align: center;">
            <img
                src="/images/updatespolicy.jpg"
                width="500"
                height="75"/>
        </div>
        <div>
            <h2>CA Policy Manual Appendices</h2>
            <p>
                Below is a list of documents that appear listed in the CA Policy
                Manual Appendix for reference.
            </p>
            <ul>
                <li>
                    <a
                        href="/documents/2023 - Appendix A - 12 Critical Elements and GA.pdf"
                        target="_blank"
                    >
                        (A) 12 Critical Elements
                    </a>
                </li>
                <li>
                    <a
                        href="/documents/2023 - Appendix B - HFNY Performance Targets.pdf"
                        target="_blank"
                    >
                        (B) HFNY Performance Targets
                    </a>
                </li>
                <li>
                    <a
                        href="/documents/2023 - Appendix C - HFNY Performance Indicators.pdf"
                        target="_blank"
                    >
                        (C) HFNY Performance Indicators
                    </a>
                </li>
                <li>
                    <a
                        href="/documents/2023 - Appendix D - HFNY Quarterly Report Guidelines & Template.pdf"
                        target="_blank"
                    >
                        (D) HFNY Quarterly Report
                    </a>
                </li>
                <li>
                    <a
                        href="/documents/2023 - Appendix E - HFNY ASR & Equity Plan Guidelines & Template.pdf"
                        target="_blank"
                    >
                        (E) HFNY ASR & Equity Plan Guidelines
                    </a>
                </li>
                <li>
                    <a
                        href="/documents/2023 - Appendix F - HFNY New Hire Training Checklist (2024-02-13).pdf"
                        target="_blank"
                    >
                        (F) HFNY New Hire Training Checklist (2024-02-13)
                    </a>
                </li>
                <li>
                    <a
                        href="/documents/2023 - Appendix G - HFNY QA Site Visit Tool 8.3 Edition .pdf"
                        target="_blank"
                    >
                        (G) HFNY Quality Assurance Site Visit Tool
                    </a>
                </li>
                <li>
                    <a
                        href="/documents/2023 - Appendix H - HFNY TA Process Document.pdf"
                        target="_blank"
                    >
                        (H) HFNY Technical Assistance Process Document
                    </a>
                </li>
                <li>
                    <a
                        href="/documents/2023 - Appendix I - HFNY TA Process Flow Chart.pdf"
                        target="_blank"
                    >
                        (I) HFNY Technical Assistance Process Flowchart
                    </a>
                </li>
                <li>
                    <a
                        href="/documents/2023 - Appendix J - HFNY TA Request Form.pdf"
                        target="_blank"
                    >
                        (J) HFNY Technical Assistance Request Form
                    </a>
                </li>
                <li>
                    <a
                        href="/documents/2023 - Appendix K - HFNY CA Technical Assistance Tracking Log.pdf"
                        target="_blank"
                    >
                        (K) HFNY Technical Assistance Tracking Log
                    </a>
                </li>
                <li>
                    <a
                        href="/documents/2023 - Appendix L - OCFS Research Approval Guidelines.pdf"
                        target="_blank"
                    >
                        (L) OCFS Research Approval Guidelines
                    </a>
                </li>
                <li>
                    <a
                        href="/documents/2024 - Appendix M - HFNY Participant Critical Incident Report.pdf"
                        target="_blank"
                    >
                        (M) HFNY Participant Critical Incident Report
                    </a>
                </li>
                <li>
                    <a
                        href="/documents/2023 - Appendix N - HFNY Program Critical Incident Report.pdf"
                        target="_blank"
                    >
                        (N) HFNY Program Critical Incident Report
                    </a>
                </li>
            </ul>
        </div>
    </div>
</NetworkLayout>
