---
import ResearchLayout from "@/layouts/ResearchLayout.astro";
---

<ResearchLayout
  title="Research/CQI"
  activeMainText="Research"
  activeSubText="Continuous Quality Improvement (CQI)"
>
  <h1 class="heading">Continuous Quality Improvement (CQI)</h1>

  <p>
    Healthy Families New York maintains a Management Information System (MIS) to
    facilitate close attention to continuous quality improvement.
  </p>
  <h3>
    Healthy Families New York uses data collected from individual programs
    through the MIS to:
  </h3>
  <ul>
    <li>
      Assess whether the program is being implemented with fidelity to the model
      (i.e., delivering core program components according to the prescribed
      schedule and dose).
    </li>
    <li>Monitor program performance.</li>
    <li>Improve the quality of services provided.</li>
  </ul>
  <p>
    The data allow HFNY to track programs&rsquo; progress in achieving several
    performance targets related to the goals of HFNY. This information is used
    to develop protocols for program policy and quality improvement activities,
    and to develop and pilot projects to improve program practice.
  </p>

  <h3>
    To achieve projected outcomes, Healthy Families New York programs work
    towards 21 goals (Performance Targets) in three domains:
  </h3><br />

  <div>
    <img
      src="../images/baby-checkup.png"
      alt="Infant check-up"
      width="15%"
      class="float-left"
    />
    <p>
      <strong>Health and Development:</strong> These performance targets include
      assisting parent/s and baby to get connected to medical providers for prenatal
      and general medical care, well-baby care, developmental assessments, lead assessments,
      and scheduled immunizations.
    </p><br />
  </div>
  <div>
    <img
      src="../images/mother-baby-interact-01.png"
      alt="Mother and baby interracting"
      width="15%"
      class="float-left"
    />
    <p>
      <strong>Parent-Child Interaction:</strong> These performance targets focus
      on parents&rsquo; early bonding with their baby through activities that celebrate
      parent-baby interactions thereby developing positive parenting skills. Attention
      is focused on reducing parental stress, because stress is a risk factor for
      child abuse and neglect. Stress is measured by the Parental Stress Index, so
      that reduction of stress can also be measured.
    </p>
    <p class="clear"></p>
  </div>

  <div>
    <img
      src="../images/mom-graduate.png"
      alt="Mom graduating"
      width="15%"
      class="float-left"
    />
    <p>
      <strong>Family Life-Course:</strong> These performance targets address family
      self-sufficiency. Family goals focus on employment, education, and training.
      Family life-course targets measure receipt of Temporary Assistance to Needy
      Families (TANF), referrals to other services for concrete health and safety
      needs (i.e., cribs, housing, food, heat) and services for maternal and family
      health (i.e., mental health, substance abuse, and domestic violence).
    </p>
    <p class="clear"></p>
  </div>

  <p>
    All of the performance targets are tracked through data that are entered
    into the MIS. Reports are generated from the system and analyzed to
    determine progress. This information is also used to determine areas for
    improvement and further study. CQI activities occur on a monthly, quarterly,
    biannual, and annual basis. Activities pertaining to national model
    accreditation occur every five years.
  </p>

  <h4>Continuous Quality Improvement</h4>
  <img
    src="../images/cqi-matrix.png"
    alt="CQI matrix graphic"
    width="33%"
    class="float-right"
  />
  <p>
    Program evaluation and quality assurance projects are used to help improve
    how HFNY is delivered to our families. Data for these projects are collected
    from participating families and program staff. Information learned from
    evaluations, pilot projects and performance targets are discussed with
    administrators and necessary changes are implemented in order to benefit the
    families we serve. For examples of our recent pilot projects and evaluation
    activities, please visit our <a href="'researchtopractice"
      >Research to Practice page</a
    >.
  </p>
</ResearchLayout>
