---
import ResearchLayout from "@/layouts/ResearchLayout.astro";
---

<ResearchLayout
  title="Research"
  activeMainText="Research"
  activeSubText="Research"
>
  <h1 class="heading">Research</h1>

  <p>
    Healthy Families New York is an evidence-based program, which means that the
    positive outcomes associated with the program are supported by the research
    of independent scholars using the most widely accepted methods and standards
    of the scientific community. The evaluation work done in New York has
    contributed to Healthy Families America being classified by the federal
    government as an evidence-based program.
  </p>

  <p>
    Evaluation in Healthy Families New York takes two primary forms: <a
      href="cqi.htm"
      >continuous quality improvement (CQI)
    </a>through the monitoring of performance measures and a longitudinal<a
      href="rct.htm"
    >
      randomized controlled trial (RCT)</a
    > begun in 2000 that is currently collecting data for a 15-year follow-up.
  </p>

  <h2>Healthy Families New York Works!</h2>
  <h3>Improves birth outcomes</h3>
  <ul class="left">
    <li>
      48% <a
        href="http://www.ajpmonline.org/article/S0749-3797(08)00845-3/abstract"
        >reduction in low birth weight (LBW)</a
      > deliveries among women who enrolled before the 31st week of pregnancy.
    </li>
  </ul>
  <img
    src="../images/mother-with-newborn.png"
    alt="mother with newborn"
    width="40%"
    class="float-right"
  />
  <h3>
    Prevents <a
      href="http://www.sciencedirect.com/science/article/pii/S0145213408000148"
      >child abuse</a
    > and neglect
  </h3>
  <ul class="left">
    <li>
      50% reduction in subsequent confirmed <a
        href="https://www.ncjrs.gov/pdffiles1/nij/grants/232945.pdf"
        >child protective (CPS)
      </a>reports after 7 years for mothers with a confirmed report prior to
      program entry.
    </li>
    <li>
      49% reduction in the rate at which children of young, first time moms who
      enrolled early in pregnancy were confirmed as victims in<a
        href="https://www.ncjrs.gov/pdffiles1/nij/grants/232945.pdf"
      >
        CPS reports</a
      > between ages 5&nbsp;to&nbsp;7.
    </li>
    <li>
      At ages 1, 2, and 7 HFNY mothers reported committing 75%-88% fewer acts of
      serious physical abuse.
    </li>
  </ul>
  <p class="clear"></p>

  <h3>
    Promotes<a href="Publications/HFNYPromotesSuccessatSchoolwithcitation.pdf">
      success in school
    </a>
  </h3>
  <img
    src="../images/elementary-school.png"
    alt="Elementary school class"
    width="40%"
    class="float-left"
  />

  <ul class="left">
    <li>50% less likely to repeat first grade.</li>
    <li>
      70% more likely to score above grade level in first grade on three
      specific behaviors that promote learning.
    </li>
    <li>
      2.7 times more likely to be participating in a gifted program by age 7.
    </li>
    <li>26% reduction in receipt of special education services by age 7.</li>
    <li>
      23% reduction in below-average scores for receptive vocabulary for
      children of young, first-time mothers who enrolled in the program early in
      pregnancy.
    </li>
  </ul>

  <p class="clear"></p>
  <img
    src="../images/reading-to-children.png"
    alt="Father reading to children"
    width="30%"
    class="float-right"
  />
  <h3>Supports positive parenting</h3>
  <ul class="left">
    <li>
      At age 2, home visited mothers were more likely to endorse appropriate<a
        href="Publications/HFNYRandomizedTrialWorkingPaper.pdf"
      >
        limit setting strategies</a
      >.
    </li>
    <li>
      At age 3, home visited mothers were more likely to be observed using
      parenting strategies that stimulated the child&rsquo;s cognitive skills
      and were <a href="Publications/final_HFNY_obs_working_paper_7-16-08.pdf"
        >sensitive to the child&rsquo;s needs</a
      >
      and cues.
    </li>
    <li>
      At age 7, home visited mothers used<a
        href="https://www.ncjrs.gov/pdffiles1/nij/grants/232945.pdf"
      >
        non-violent discipline</a
      > strategies more often.
    </li>
  </ul>
  <p class="clear"></p>
  <img
    src="../images/piggy-bank.png"
    alt="Piggy bank"
    width="25%"
    class="float-left"
  />
  <h3>
    <a
      href="http://ocfs.ny.gov/main/reports/HFNY%20Program%20Cost%20Synopsis%2012-14-09%20.pdf"
      >Saves money</a
    >
  </h3>
  <ul class="left">
    <li>
      $1,000 to serve a family during pregnancy is totally recovered before a
      child&rsquo;s birth due to a reduction in low birth weight births.
    </li>
    <li>
      For mothers with histories of CPS reports, there was a return of over $3
      for every $1 invested by child&rsquo;s 7th birthday.
    </li>
  </ul>
</ResearchLayout>

<!-- special style for this page =========================== -->
<style>
  ul.left {
    position: relative;
    left: -1em;
  }

  ul.right {
    position: relative;
    left: 1em;
  }
</style>
