---
import ResearchLayout from "@/layouts/ResearchLayout.astro";
import { db, Publication } from "astro:db";

const pubs = await db.select().from(Publication);
const distinctCats = await db
  .selectDistinct({ category: Publication.category })
  .from(Publication);

// console.log(pubs);
// console.log(distinctCats);

// New and improved version coming soon - Thanks to Astro DB
// pull out each individual set of rows per category
// get a distinct list of catergories
// loop through the categories in a foreach and get the rows for each category
// and create layout for pubs within each category
---

<ResearchLayout
  title="Publications"
  activeMainText="Research"
  activeSubText="Publications"
>
  <main>
    <h1 class="heading">Publications</h1>
    <h3>Where can I get more information about HFNY&rsquo;s effectiveness?</h3>
    <p class="instructions">
      Click on the headings below or <a class="button" id="expandAll"
        >Expand All</a
      >
      <a class="button" id="collapseAll" style="display:none;">Collapse All</a>
    </p>
    <div id="accordion">
      <!-- map through the items in distinctCats and create a new section for each category -->
      <!-- filter the items in pubs and map through to create a new entry for each publication -->
      {
        distinctCats.map((cat) => (
          <>
            <h2 class="accordion-toggle">
              {cat.category === "Journal"
                ? "Journal Articles and Book Chapters"
                : cat.category + "s"}
            </h2>
            <div class="accordion-content">
              <ul class="link-list">
                {pubs
                  .filter((pub) => pub.category === cat.category)
                  .map((pub) => (
                    <>
                      <li>
                        <a href={pub.fullPath} target="_blank">
                          {pub.title}
                        </a>
                        {pub.additionalInfo && (
                          <>
                            <span class="small-text">{pub.additionalInfo}</span>
                          </>
                        )}
                      </li>
                    </>
                  ))}
              </ul>
            </div>
          </>
        ))
      }
    </div>
    <br />
    <p>
      Note: Some of the links above will take you away from the
      healthyfamiliesnewyork.org site. Please see
      <a href="/disclaimer">disclaimer.</a>
    </p>
  </main>

  <script
    type="text/javascript"
    src="https://ajax.googleapis.com/ajax/libs/jquery/1.7/jquery.min.js"
  ></script>
  <script type="text/javascript" src="../js/accordion.js"></script>
  <style>
    /* accordion styles ===================== */
    .accordion-toggle {
      color: #39c;
      text-decoration: underline;
      cursor: pointer;
    }
    .accordion-content {
      display: none;
      padding-bottom: 0;
    }
    .accordion-content.default {
      display: block;
    }
    .instructions {
      background-image: url(../images/template_images/instructions-icon.png);
      background-repeat: no-repeat;
      position: left top;
      color: #1d809c;
      padding-left: 1.5em;
    }

    /* Timeline dates */
    .date-list dl {
      display: inline-block;
      clear: left;
      border-bottom: 1px solid #ccc;
      margin-bottom: 1em;
      padding-bottom: 0.5em;
      min-height: 4em;
    }

    .date-list dt {
      font-size: 4em;
      color: #ccc;
      float: left;
      margin: 0 0.25em 0 0;
      padding: 0;
      line-height: 0.8em;
      position: relative;
    }

    .date-list dd {
      margin: 0 0 0 10em;
      line-height: 1.6em;
    }

    .disc {
      padding-left: 0.75em;
      background-image: url(../images/template_images/black-bullet.png);
      background-repeat: no-repeat;
      background-position: 0px 10px;
    }
  </style>
</ResearchLayout>
