---
import ResearchLayout from "@/layouts/ResearchLayout.astro";
---

<ResearchLayout
  title="Research/Randomized Control Trial (RCT)"
  activeMaintext="Research"
  activeSubText="Randomized Control Trial (RCT)"
>
  <h1 class="heading">Randomized Controlled Trial (RCT)</h1>

  <p>
    Since 2000, Healthy Families New York (HFNY) has been rigorously evaluated
    using a longitudinal
    <strong>Randomized Controlled Trial (RCT)</strong>. Women who met the
    assessment criteria for HFNY were randomly assigned to either an
    intervention group that was offered HFNY services or a control group that
    was given information and referrals to other appropriate services.
  </p>

  <p>
    <strong>Baseline and follow-up data were collected for 1,173 women</strong
    >in the HFNY and control groups at the <strong
      >time of the child's birth and at the first, second, third, and seventh
      birthdays</strong
    >(with various levels of retention). Data were collected from in-depth
    interviews with mothers, child welfare and public assistance administrative
    records, the HFNY Management Information System (MIS), and videotaped
    observations of parent-child interactions. The target children were also
    interviewed when they were approximately seven years old and their first
    grade school records were requested from their schools.<br />
    <br />
    <strong
      >The RCT has demonstrated that Healthy Families New York has both
      immediate and lasting impacts on families for a number of outcomes,
      including:</strong
    >
  </p>
  <table width="100%" style="margin-top:-1em;">
    <tr>
      <td>
        <ul>
          <li>Birth outcomes &amp; child health</li>
          <li>Educational outcomes</li>
          <li>Child abuse and neglect</li>
        </ul>
      </td>
      <td>
        <ul>
          <li>Cost savings</li>
          <li>Parenting competencies</li>
        </ul>
      </td>
    </tr>
  </table>
  <p>&nbsp;</p>

  <!-- image thumbnail with expand button -->
  <div style="text-align: center;">
    <div class="img-w-capt" style="padding-bottom:1em;">
      <table summary="image with caption">
        <caption style="width:100%; text-align:center;"
          ><a
            href="../images/consort-diagram-02192016.png"
            target="_blank"
            class="button-large">Click to See a Larger View of the Diagram.</a
          ></caption
        >
        <tr>
          <td>
            <a href="../images/consort-diagram-02192016.png" target="_blank"
              ><img
                src="../images/consort-diagram-02192016.png"
                alt="Consort diagram"
                width="400px"
              /></a
            >
          </td>
        </tr>
      </table>
    </div><!-- end image with caption -->
  </div><!-- end chart -->

  <p>
    <strong
      >In 2017, we completed a 15-year follow-up study. In-depth interviews
    </strong>with mothers and their now adolescent children were conducted to
    assess outcomes such as:
  </p>

  <table width="100%" style="margin-top:-1em;">
    <tr>
      <td>
        <ul>
          <li>Maternal life course</li>
          <li>Family conflict</li>
          <li>Child abuse and neglect</li>
          <li>Delinquent/criminal activity</li>
        </ul>
      </td>
      <td>
        <ul>
          <li>Parenting practices</li>
          <li>Youth behaviors</li>
          <li>Health and access to health care</li>
          <li>Educational experiences</li>
        </ul>
      </td>
    </tr>
  </table>
  <p class="clear"></p>
  <p><strong>Administrative data</strong> is being collected to obtain:</p>
  <table width="100%" style="margin-top:-1em;">
    <tr>
      <td>
        <ul>
          <li>Child maltreatment reports</li>
          <li>Birth records</li>
          <li>Foster care services use</li>
        </ul>
      </td>
      <td>
        <ul>
          <li>Juvenile/criminal justice system involvement</li>
          <li>Food stamps and public assistance benefits</li>
          <li>School records</li>
        </ul>
      </td>
    </tr>
  </table>
  <p class="clear"></p>

  <p class="clear"></p>
  <p>
    <!-- <img src="../images/PPN_logo.png" alt="Promising Practices Network logo" width="15%" class="float-left" /> -->
  </p>
  <p>
    Based on the evaluation's rigorous random assignment design and the
    program's significant and positive effects on a range of outcomes, <strong
      >HFNY was designated as a "proven program" by RAND's Promising Practices
      Network and an effective program by both Child Trends and the Office of
      Juvenile Justice and Delinquency Prevention</strong
    >.These findings also played a substantial role in the designation of
    Healthy Families America home visiting programs like HFNY, as meeting the
    federal DHHS criteria for an evidence-based early childhood home visiting
    service delivery model.
  </p>
</ResearchLayout>
