---
import NetworkLayout from "@/layouts/NetworkLayout.astro";
---

<NetworkLayout
  title="CWP"
  activeMainText="HFNY Network"
  activeSubText="Child Welfare Protocol (CWP)"
>
  <main>
    <h1 class="heading">Child Welfare Protocol resources</h1>
    <ul>
      <li>
        <img
          src="../images/new.png"
          style="height: 30px; width: 30px; margin: 0;"
        />
        <a
          href="Documents/Informed Consent for RGC Evaluation Participants (Updated Jan2025).pdf"
          target="_blank"
        >
          Informed consent form for the reflective group consultation evaluation
          survey (updated 2025)
        </a>
      </li>
      <li>
        <a
          href="Documents/Informed Consent for RGC Evaluation Participants.pdf"
          target="_blank"
        >
          Informed consent form for the reflective group consultation evaluation
          survey (2024 version)
        </a>
      </li>
      <li>
        <a
          href="Documents/HFNY Active Reports CWP Handling 7-25-24.pdf"
          target="_blank"
        >
          Document with a table that details how the HFNY MIS handles reports
          for CWP participants (updated 7/25/24)
        </a>
      </li>
      <li>
        <a href="https://youtu.be/E6PkBgSNWdk" target="_blank">
          Child Welfare Overview for HFNY
        </a>
        <br />
        <iframe
          height="350"
          width="600"
          src="https://www.youtube.com/embed/E6PkBgSNWdk"
        >
        </iframe>
        <br />
      </li>
    </ul>
  </main>
</NetworkLayout>
