---
import NetworkLayout from "@/layouts/NetworkLayout.astro";
import Accordion from "@/components/Accordion.astro";

// Define accordion items
const accordionItems = [
  {
    togglerTitle:
      '<h2>Immigration Resources</h2>',
    togglerContent: `
        <div>
    		Many discussions have been had regarding the stress for our families and staff related to potential
    		changes in federal
    		immigration policy, which has clearly been on the rise. We have reached out to colleagues at the New
    		York State Bar
    		Association for updated resources and information. Below is what they have shared with us so far.
    		<br />
    		<p>
    		<h3>HFNY Central Administration Listening Forum</h3>
    		</p>
    		<a href="/documents/HFNY Immigration Listening Forum Consolidated Notes Final 03042025.pdf"
    			target="_blank">
    			HFNY Immigration Listening Forum Consolidated Notes
    		</a>
    		<br />
    		Central Administration held a listening forum to discuss immigration concerns, strategies,
    		and resources. These are the notes from the forum. Some of the links in this document lead
    		to the OCFS SharePoint for Accreditation site. If you do not have access to this resource,
    		please reach out to your Program Manager.
    		<br />
    		<p>
    		<h3>Mass Deportation Resources</h3>
    		</p>
    		<a href="Documents/2025.1 OAG-GO-SED Immigration-Students.pdf" target="_blank">
    			Safeguarding the rights of immigrant students
    		</a>
    		<br />
    		This document was issued jointly by the NYS Office of the Attorney General,
    		Governor's Office, and State Education Department.
    		<br />
    		<br />
    		<a href="https://nylag.org/what-to-do-after-a-loved-one-is-detained-by-ice/" target="_blank">
    			What to do after a loved one is detained by ICE
    			<img src="/images/template_images/OffsiteIcon.png" alt="external link" title="external link" />
    		</a>
    		<br />
    		A resource from the NY Legal Access Group (in multiple languages)
    		<br />
    		<p>
    		<h4>Emergency Preparedness resources</h4>
    		</p>
    		<a href="https://www.immigrantdefenseproject.org/emergency-preparedness" target="_blank">
    			IDP Emergency Preparedness page
    			<img src="/images/template_images/OffsiteIcon.png" alt="external link" title="external link" />
    		</a>
    		<br />
    		<a href="https://www.nyc.gov/site/immigrants/legal-resources/immigrant-caregivers.page"
    			target="_blank">
    			MOIA page - Resources for Immigrant Caregivers
    			<img src="/images/template_images/OffsiteIcon.png" alt="external link" title="external link" />
    		</a>
    		<br />
    		<p>
    		<h4>Know Your Rights (KYR) materials shared</h4>
    		</p>
    		<a href="https://www.immigrantdefenseproject.org/know-your-rights-with-ice/" target="_blank">
    			IDP KYR Flyers, Booklets, Posters, and Infographics
    			<img src="/images/template_images/OffsiteIcon.png" alt="external link" title="external link" />
    		</a>
    		<br />
    		<a href="https://www.ilrc.org/red-cards" target="_blank">
    			ILRC (Immigrant Legal Resource Center) KYR red card
    			<img src="/images/template_images/OffsiteIcon.png" alt="external link" title="external link" />
    		</a>
    		<br />
    		<a href="https://miracoalition.org/news/know-your-rights/" target="_blank">
    			MIRA (Massachusetts Immigrant & Refugee Advocacy Coalition) KYR page
    			<img src="/images/template_images/OffsiteIcon.png" alt="external link" title="external link" />
    		</a>
    		<br />
    		<p>
    		<h4>NYS protections re: collaboration with ICE</h4>
    		</p>
    		<a href="https://www.immigrantdefenseproject.org/ice-courts/" target="_blank">
    			IDP Protect Our Courts Act information
    			<img src="/images/template_images/OffsiteIcon.png" alt="external link" title="external link" />
    		</a>
    		<br />
    		<a href="https://www.nyc.gov/site/probation/about/persons-not-to-be-detained.page" target="_blank">
    			NYC Admin Code 9-205 "Persons Not to Be Detained" information
    			<img src="/images/template_images/OffsiteIcon.png" alt="external link" title="external link" />
    		</a>
    		<br />
    		<p>
    			<a href="/documents/Resilience and Community Care Toolkit.pdf" target="_blank">
    				Resilience and Community Care Toolkit
    				<img src="/images/template_images/OffsiteIcon.png" alt="external link" title="external link" />
    			</a>
    			<br />
    			This resource is aimed to help community organizers and has important well-being information
    			for you and your staff. Though you may not see yourselves as community organizers, for the
    			families you serve, you are a place of safety and support. By providing safety and support
    			you are taking on a lot of stressors that have a negative impact on your overall well-being.
    			Hopefully the attached toolkit has some useful information for you and your team.
    		</p>
    		<p>
    			<a href="https://www.nyc.gov/site/immigrants/legal-resources/know-your-rights-federal-immigration-enforcement-ice.page"
    				target="_blank">
    				NYC Mayors Office of Immigrant Affairs - KYR Federal Enforcement Immigration
    				<img src="/images/template_images/OffsiteIcon.png" alt="external link" title="external link" />
    			</a>
    			<br />
    			Please note that the page was last updated in 2020 so it
    			will likely be updated in early 2025 as information changes.
    			Here you will find the following resources:
    		<ul>
    			<li>
    				ICE Fact Sheets in 15 languages
    			</li>
    			<li>
    				Infographic for a free and safe immigration legal assistance hotline in 16 languages
    			</li>
    			<li>
    				A video on workers’ rights in an encounter with ICE in 12 languages
    			</li>
    		</ul>
    		</p>
    		<p>
    			<a href="https://www.immigrantdefenseproject.org/know-your-rights-with-ice/" target="_blank">
    				Immigrant Defense Project - KYR with ICE
    				<img src="/images/template_images/OffsiteIcon.png" alt="external link" title="external link" />
    			</a>
    			<br />
    			Last updated in 2021 so updates may be forthcoming. This resource has Know Your Rights
    			flyers for different contexts in various languages.
    		<ul>
    			<li>
    				KYR at home and on the street - available in 16 languages
    			</li>
    			<li>
    				KYR in your car - available in 3 languages
    			</li>
    			<li>
    				When ICE lies to you - available in 2 languages
    			</li>
    			<li>
    				From detention - available in 2 languages
    			</li>
    		</ul>
    		</p>
    		<p>
    			<a href="https://www.immigrantdefenseproject.org/emergency-preparedness/" target="_blank">
    				Immigrant Defense Project - Emergency Preparedness
    				<img src="/images/template_images/OffsiteIcon.png" alt="external link" title="external link" />
    			</a>
    			<br />
    			Information on making an emergency plan for immigration raids, advocating for a family member
    			in an immigration bond hearing, meeting with a lawyer, medical needs, childcare needs,
    			financial needs
    		</p>
    		<p>
    			<a href="https://raidsmap.immdefense.org/" target="_blank">
    				ICE Raids Map
    				<img src="/images/template_images/OffsiteIcon.png" alt="external link" title="external link" />
    			</a>
    			<br />
    			Information about ICE raids by geographical location. Please note this was last updated in early
    			2022.
    		</p>
    	</div>
    `,
  },
  {
    togglerTitle: `
        <h2>HFNY Guidance Regarding COVID-19</h2>
    `,
    togglerContent: `
        <div>
    		<a
    			href="https://www.childtrends.org/publications/resources-for-supporting-childrens-emotional-well-being-during-the-covid-19-pandemic#resources">
    			Resources for Supporting Children’s Emotional Well-being during the COVID-19 Pandemic
    			<img src="/images/template_images/OffsiteIcon.png" alt="external link" title="external link" />
    		</a>
    		<p></p>
    		<a
    			href="https://www.mindbodygreen.com/articles/how-to-calm-your-anxiety-about-coronavirus-in-90-seconds">
    			How To Calm Your Anxiety About The Coronavirus In 90 Seconds
    			<img src="/images/template_images/OffsiteIcon.png" alt="external link" title="external link" />
    		</a>
            <p></p>
    		<a href="/documents/FAQHFNYCOVID_19052021.pdf" target="_blank">COVID-19: HFNY FAQs and Responses</a>
            <p></p>
    		<a href="/documents/ChildhoodInflammatoryDiseaseRelatedtoCOVID.docx">Childhood Inflammatory
    			Disease Related to COVID-19s</a>
                <p></p>
    		<a href="https://www.cdc.gov/covid/"
    			target="_blank">CDC Guidelines for Face Coverings</a>
                <p></p>
    		<a href="/documents/updatedHFNYFinancialResourcescovid19472020.xlsx" target="_blank">HFNY Financial
    			Resources</a>
                <p></p>
    		<a href="/documents/covid19emailfromocfs.pdf" target="_blank">OCFS Email dated 03/16/2020</a>
            <p></p>
    		<a href="/documents/HFNY Participant Critical Incident Report 1-2024 Final.docx" target="_blank">
    			Participant Critical Incident Report (fillable by Staff) (2024-01-30)
    		</a>
    		<p></p>
    		<a href="/documents/Program-Critical-Incident-Report-Fillable-by-PM GA5A-20231218.doc" target="_blank">
    			Program Critical Incident Report (fillable by PM) (2023-12-18)
    		</a>
    		<p></p>
    		<a href="https://www.bestrongfamilies.org/covid-19-support" target="_blank">Be Strong Families-
    			COVID-19 Support</a>
                <p></p>
    		<a href="/documents/ResourcesforClientsDuringCOVID19.pdf" target="_blank">Resources for Clients During
    			COVID-19</a>
                <p></p>
    		<a href="https://parentsasteachers.zoom.us/webinar/register/WN_gx2NVguwTp6prgS1Fn1LHw"
    			target="_blank">
    			WEBINAR: Home Visiting Service Delivery as States Re-Open:
    			Q & A Session with HV Models</a>
                <p></p>
    		<a href="https://preventchildabuseny.org/covid-19-resources-and-response">Prevent Child Abuse New York
    			-
    			COVID 19 RESOURCES AND RESPONSE</a>
                <p></p>
    		<a href="/documents/Considerationsforresumingihv032021.pdf" target="_blank">Considerations for Resuming in Home
    			Visits</a>
                <p></p>
    		<a href="https://coronavirus.health.ny.gov/system/files/documents/2020/11/covid-19-pregnancy-consumer-faq-and-resources-updated-doh-111920.pdf"
    			target="_blank">
    			COVID-19 Resources for Pregnant People and their Families</a>
                <p></p>
    	</div>
    `},
    {
        togglerTitle: `
            <h2>Resources and Guidelines for Virtual Visits</h2>
        `,
        togglerContent: `
            <div>
    		    <a target="_blank" href="/documents/CHEERSvirtualvisitsguidelines032020.pdf">HFA CHEERS Guidelines for Virtual
    		    	Visits</a>
                    <p></p>
    		    <a href="https://agesandstages.com/using-asq-in-a-virtual-environment/" target="_blank">Resources
    		    	for
    		    	using the ASQ virtually.</a>
                    <p></p>
    		    <a target="_blank" href="/documents/cheerstiplist032020.pdf">CHEERS Tip Sheet for Phone and Video
    		    	Visits</a>
                    <p></p>
    		    <a target="_blank" href="/documents/FRS-Guidelines-for-Virtual-FROG-Scale-Visits-(7.5.22).pdf">
    		    	FRS Guidelines for Conducting Virtual FROG Scale Visits
    		    </a>
                <p></p>
    		    <a target="_blank" href="/documents/FSSGuidelinesfo ConductingVirtua HomeVisit0320.pdf">HFNY Guidelines for
    		    	Virtual Home Visits</a>
                    <p></p>
    		</div>
        `
    },
    {
        togglerTitle: `<h2>Responses/Resources for Unexpected or Dangerous Occurrences</h2>`,
        togglerContent: `
            <div>
    			<a href="/documents/stafflettertohfny032321.pdf" target="_blank">
    				A Message From Central Administration - March 2021
    			</a>
    			<p></p>
    			<a href="/documents/messagefromca062020.pdf" target="_blank">
    				A Message From Central Administration - June 2020
    			</a>
                <p></p>
    			<a href="/documents/CVLNFlyer082021.pdf" target="_blank">New York Crime Victims Legal
    				Help</a>
                    <p></p>
    			<a href="https://nhvrc.org/keeping-connected/" target="_blank">Access to phones and Internet for
    				families</a>
                    <p></p>
    			<a href="/documents/staffletterfromca062020.pdf" target="_blank">A Letter to HFNY Staff from
    				Central Administration</a>
                    <p></p>
    			<a href="/documents/emergencyresources062020.pdf" target="_blank">Resources for Diversity
    				Discussions</a>
                    <p></p>
    		</div>
        `
    }
]
---

<NetworkLayout
  title="Emergency Resources"
  activeMainText="HFNY Network"
  activeSubText="Emergency Resources"
>

<div style="min-height: 500px">
    <h1 class="heading">OCFS, PCANY and CHSR Resources, Forms and Guidelines</h1>
    <img src="../images/staycalm.jpg" class="float-right" width="150" height="230">
    <p class="instructions">
    	Click on the sections to expand or click
    	<a class="button" id="expandAll">Expand All</a>
    	<a class="button" id="collapseAll" style="display:none;">Collapse All</a>
    </p> 
    <Accordion accItems={accordionItems} id="frs-accordion" />
</div>
</NetworkLayout>