---
import NetworkLayout from "@/layouts/NetworkLayout.astro";
---

<NetworkLayout
  title="HFNY Calendar"
  activeMainText="HFNY Network"
  activeSubText="HFNY Calendar"
>
  <main>
    <h1 class="heading">HFNY Calendar</h1>
    <p>
      Please
      <a
        href="https://docs.google.com/spreadsheets/d/1mHMMN88GtWqt_2koxvEhwcyf6YAKMMwrUew3sI_oQCU/edit?usp=sharing"
        target="_blank"
      >
        click here to view the HFNY Calendar
      </a>
      which includes events for the year from all three branches of Central Administration
      (OCFS, CHSR and PCANY). The calendar is a Google Sheet so updates can be viewed
      in real time. Check back periodically for updates.
    </p>
    <p>
      <h2>Additional Information</h2>
    </p>
    <ul>
      <li>
        <b>In-Services:</b> In-service trainings deepen staff's knowledge and skill
        regarding a specific topic. They are conducted as needed, with a typical
        duration of 2-3 hours per training and can be focused on one role or multiple
        roles. In-service trainings are structured, include a teaching/didactic component
        and may include opportunities for skills based practice.
      </li>
      <li>
        <b>Support Calls:</b> Support calls are designed to provide information and
        support around a change in practice, policy or the development of a new tool
        or resource. They are scheduled as needed with a typical duration of 1-1.5
        hrs. Support calls are semi-structured and include information sharing as
        well as time for Q&A.
      </li>
      <li>
        <b>Forums:</b> Forums are networking opportunities for staff to share challenges,
        successes and ideas with peers around specific issues. Forums are scheduled
        as needed, with a typical duration of 1-1.5 hrs, and are usually focused
        on a specific role. Forums do not include a formal training or didactic component.
        They usually include a mix of large group and breakout group discussions
        and are facilitated using open ended questions, reflection and summary. The
        goal of a forum is to offer a space for peer support and shared learning.
      </li>
      <li>
        <b>Office Hours:</b> Office hours are designed to provide Q&A around a certain
        aspect of practice. They are scheduled as needed, with a typical duration
        of 1-1.5 hrs, and may or may not be focused on a specific role. They are
        typically unstructured, as they are driven by staff questions rather than
        a pre-planned format.
      </li>
      <li>
        <b>Committee:</b> Committees are workgroups designed to engage in discussion
        and joint decision making regarding a particular matter pertinent to the
        HFNY network. Committees meet at regular, planned intervals and generally
        require some level of commitment from attendees
      </li>
      <li>
        <b>Regional & Statewide Meetings:</b> Statewide Leadership Meetings are held
        twice a year and are attended by all Program Managers and all CA members
        across the state to exchange ideas, information, and to offer support in
        achieving their shared goals. Regional Meetings are held quarterly by region
        and are attended by Program Managers and at least one member from each branch
        of CA. Regional meetings are used for the same purpose as the larger statewide
        leadership meetings, focusing on topics that are relevant to the region as
        a whole. Network updates are also discussed at both regional and statewide
        meetings. Both these meetings are contractual requirements for OCFS funded
        HFNY programs.
      </li>
      <li>
        <b>Book club:</b> Book clubs are periodic, time limited gatherings to discuss
        a pre-selected book relevant to the work of HFNY. They are optional professional
        development opportunities that can generally be attended by any staff member
        in the network
      </li>
    </ul>
  </main>
</NetworkLayout>
