---
import NetworkLayout from "@/layouts/NetworkLayout.astro";
---

<NetworkLayout
  title="HFNY Network Landing Page"
  activeMainText="HFNY Network"
  activeSubText="Landing Page"
>
  <h1 class="heading">HFNY Network</h1>
  <p>
    This section of the web site is only for authorized Healthy Families New
    York users, and provides access to many resources, including practice
    guides, training materials, notes from meetings/forums, and much, much more.
  </p>
  <hr />
  <h2 style="text-align: center;">Recently Updated HFNY Documents</h2>
  <hr />
  <!-- Test -->
  <table id="tblNetworkDocs" style="clear: none;" class="display">
       <thead>
         <tr>
           <th>Category</th>
           <th>Document Title</th>
           <th>Related Page</th>
           <th>Date Posted</th>
         </tr>
       </thead>
       <tbody>
         <tr>
           <td>Site Information</td>
           <td>
             <a href="../Documents/HFNYSiteInfo.pdf" target="_blank">
               HFNY Site information
             </a>
           </td>
           <td> (multiple) </td>
           <td>2025-02-13</td>
         </tr>
         <tr>
           <td>FAQ</td>
           <td>
             <a href="Documents/FAQs/SERVICE PLAN - FAQ.pdf" target="_blank">
               FAQ - Service Plan
             </a>
           </td>
           <td>
             <a href="support.htm"> QA/TA, FAQs, and CQI </a>
           </td>
           <td>2024-12-09</td>
         </tr>
         <tr>
           <td>Service Plan</td>
           <td>
             <a href="Documents/Service Plan Handbook.pdf" target="_blank">
               Service Plan handbook
             </a>
           </td>
           <td>
             <a href="FSS.htm"> FSS Worker Role </a>
           </td>
           <td>2024-11-19</td>
         </tr>
         <tr>
           <td>Policy</td>
           <td>
             <a
               href="Documents/Finalized Policy 3- Offer Services Voluntary (11-24).docx"
               target="_blank"
             >
               Finalized Policy 3 - Offer Services Voluntary
             </a>
           </td>
           <td>
             <a href="HFNYupdatedpolicies.htm"> HFNY Policies </a>
           </td>
           <td>2024-11-15</td>
         </tr>
         <tr>
           <td>Policy</td>
           <td>
             <a
               href="Documents/Finalized Policy 4-Offer Services Intensely- Effective 11_27_2024.docx"
               target="_blank"
             >
               Finalized Policy 4 - Offer Services Intensely
             </a>
           </td>
           <td>
             <a href="HFNYupdatedpolicies.htm"> HFNY Policies </a>
           </td>
           <td>2024-11-15</td>
         </tr>
         <tr>
           <td>Forum Notes</td>
           <td>
             <a
               href="Documents/Maintaining Professional Boundaries FSS Forum 1024.pdf"
               target="_blank"
             >
               Maintaining Professional Boundaries
             </a>
           </td>
           <td>
             <a href="FRSFSSForums.htm"> FRS/FSS Forums </a>
           </td>
           <td>2024-11-13</td>
         </tr>
         <tr>
           <td>Policy</td>
           <td>
             <a
               href="Documents/Finalized Policy 12s-Ongoing Reflective Supervision- Effective 11_27_2024.docx"
               target="_blank"
             >
               Finalized Policy 12 - Ongoing Reflective Supervision
             </a>
           </td>
           <td>
             <a href="HFNYupdatedpolicies.htm"> HFNY Policies </a>
           </td>
           <td>2024-11-04</td>
         </tr>
         <tr>
           <td>Policy</td>
           <td>
             <a
               href="Documents/Finalized Policy 2s- FROG- Effective 11_27_2024.docx"
               target="_blank"
             >
               Finalized Policy 2 - FROG
             </a>
           </td>
           <td>
             <a href="HFNYupdatedpolicies.htm"> HFNY Policies </a>
           </td>
           <td>2024-11-04</td>
         </tr>
         <tr>
           <td>Policy</td>
           <td>
             <a
               href="Documents/Finalized Policy 4-Offer Services Intensely- Effective 11_27_2024.docx"
               target="_blank"
             >
               Finalized Policy 4 - Offer Services Intensely
             </a>
           </td>
           <td>
             <a href="HFNYupdatedpolicies.htm"> HFNY Policies </a>
           </td>
           <td>2024-11-04</td>
         </tr>
         <tr>
           <td>Policy</td>
           <td>
             <a
               href="Documents/Finalized Policy 5-DEI-Effective 11_27_2024.docx"
               target="_blank"
             >
               Finalized Policy 12 - DEI
             </a>
           </td>
           <td>
             <a href="HFNYupdatedpolicies.htm"> HFNY Policies </a>
           </td>
           <td>2024-11-04</td>
         </tr>
         <tr>
           <td>Training</td>
           <td>
             <a
               href="Documents/HFNY 2025 Core Training Calendar.pdf"
               target="_blank"
             >
               HFNY Training Calendar
             </a>
           </td>
           <td>
             <a href="training.htm"> Training </a>
           </td>
           <td>2024-11-04</td>
         </tr>
         <tr>
           <td>Worker Roles</td>
           <td>
             <a href="Documents/Program Manager Timeline.pdf" target="_blank">
               Program Manager Timeline
             </a>
           </td>
           <td>
             <a href="programmanager.htm"> Program Manager Worker Role </a>
           </td>
           <td>2024-10-04</td>
         </tr>
       </tbody>
  </table>

  <!-- jQuery for mobile menu -->
  <script
    type="text/javascript"
    src="https://ajax.googleapis.com/ajax/libs/jquery/1.7/jquery.min.js"
    is:inline></script>
  <!-- dataTables -->
  <script
    type="text/javascript"
    src="https://cdn.datatables.net/1.11.4/js/jquery.dataTables.min.js"
  ></script>
  <link
    rel="stylesheet"
    type="text/css"
    href="https://cdn.datatables.net/1.11.4/css/jquery.dataTables.min.css"
  />
  <script type="text/javascript" is:inline>
    jQuery(document).ready(function ($) {
      $("#tblNetworkDocs").DataTable({
        language: {
          emptyTable: "No records.",
        },
        pageLength: 9,
        bLengthChange: false,
        bStateSave: true,
        bSort: true,
        responsive: true,
        order: [[3, "desc"]],
        autoWidth: false,
      });
      document.getElementById('tblNetworkDocs_wrapper').style.clear = 'none'
      document.getElementById('tblNetworkDocs_info').style.clear = 'none'
    });
  </script>
</NetworkLayout>
