---
import MISLayout from "@/layouts/MISLayout.astro";
---

<MISLayout title="MIS" activeMainText="MIS" activeSubText="MIS">
  <h1 class="heading">Management Information Systems (HFNYMIS)</h1>
  <p>
    Each HFNY program manages their site&rsquo;s data in web-based computer
    software designed to
  </p>
  <ul>
    <li>Help staff plan home visits</li>
    <li>Monitor the quality of data</li>
    <li>Display data for analysis</li>
    <li>Measure fidelity to the HFA model</li>
    <li>
      Report to funders, accreditation peer reviewers and agency management
    </li>
    <li>Support program improvement activities</li>
  </ul>
  <img
    src="/images/asian-family-1.png"
    alt="Family portrait"
    class="float-right"
    width="40%"
  />
  <p>
    Information about various members of the family is gathered by program staff
    at timed intervals and entered in the web-based software:
  </p>
  <ul>
    <li>
      The Primary Caretaker 1 (PC1), 99% of the time, this is <strong
        >the mother</strong
      >
    </li>
    <li>
      Other Biological Parent (OBP), 99% of the time, this is <strong
        >the father</strong
      >
    </li>
    <li>
      Primary Caretaker 2 (PC2), when OBP is not living in the home, there may
      be a <strong>secondary caretaker</strong> in the home, such as maternal grandmother
    </li>
    <li>The <strong>target child</strong></li>
  </ul>
  <p>
    Demographics, medical events, home visits, referrals, and economic and
    educational status, together with developmental screens for the target child
    and assessment of the mother&rsquo;s stress levels, constitute the bulk of
    the data collected.
  </p>
  <p>
    Twenty different data collection forms are filled out by staff, either
    online or on paper, and are reviewed by supervisors.
  </p>
  <p>
    <strong
      >Each Program Manager oversees entry of the program's data into the
      Management Information System</strong
    > (MIS) and has the responsibility of creating a quality assurance plan to ensure
    the data reflect the work of their program. Various reports have been developed
    to assist with the process.
  </p>
  <p>
    <strong>HFNY central administration members</strong> responsible for the oversight
    and support of the program sites have the ability to view the information from
    a statewide perspective.
  </p>
  <img
    src="/images/staffmember-on-call.png"
    alt="staff member on the phone at computer"
    class="float-left"
    width="50%"
  />
  <p>
    MIS support is provided by the Center for Human Services Research (CHSR)
    Information Support Team. Telephone (518-591-8610) and <a
      href="mailto:support@chsr1.zohosupport.com">email support</a
    > are available Monday through Friday from 8 a.m. to 4 p.m. On-site training,
    specialized reports requests and statewide training sessions are also available.
    <strong>Self-paced online training modules</strong> are also available to orient
    users of the web-based application.
  </p>
</MISLayout>
