---
import NetworkLayout from "@/layouts/NetworkLayout.astro";
---

<NetworkLayout
    title="Healthy Families Missives"
    activeMainText="HFNY Network"
    activeSubText="Healthy Families Missives"
>
    <h1 class="heading">Healthy Families New York Missives</h1>

	<div align="center" width="750" height="125" style="border:thick" :"margin: 25px">
		<img src="/images/hfnymissivesimage.png" width="350" height="100" />
	</div>
	<div align="center" style="font-style: italic">
		<p style="font-family: Georgia, 'Times New Roman', Times, serif">
		<h2 style="color:#0489B1">Below are links to HFNY missives, listed with the most recent date first.<br />
			Feel free to print and distribute these missives to HFNY staff.</h2>
		</p>
	</div>

	<div align="left">
		<h2>2021 Missives</h2>
		<ul>
			<li><a target="_blank" href="/documents/hfnymissive20210917.pdf">09/17/2021 - Report Catalog upgrades</a></li>
			<li><a target="_blank" href="/documents/hfnymissive20210910.pdf">09/10/2021 - ASQ requirements schedule, MIS
					access roles</a></li>
			<li><a target="_blank" href="/documents/hfnymissive20210903.pdf">09/03/2021 - CHEERS Handbook, PC1 name change,
					HFNY transfer cases</a></li>
			<li><a target="_blank" href="/documents/hfnymissive08202021.pdf">08/20/2021 - Report Documentation, Job Postings,
					HV log instructions</a></li>
			<li><a target="_blank" href="/documents/finalhfnymissive08062021.pdf">08/06/2021 - Job Postings, Out of Home
					Visits, PHQ2/9</a></li>
			<li><a target="_blank" href="/documents/ccimissivemaile07162021.pdf">07/16/2021 - CHEERS Check-In - Requirements
					for ALL HFNY Programs</a></li>
			<li><a target="_blank" href="/documents/July162021HFNYmissive.pdf">07/16/2021 - MIS Security, ASQ and HD7</a>
			</li>
			<li><a target="_blank" href="/documents/PCANYmissive07092021.pdf">07/08/2021 - Transfer of Learning website</a>
			</li>
			<li><a target="_blank" href="/documents/junemissivefinal062021.pdf"> 06/30/2021 - MIS Security, Adding new Users,
					ASQ, HFNY website</a></li>
			<li><a target="_blank" href="/documents/finalhfny05072021missive.pdf"> 05/07/2021 - New HFNY Password, Exit
					Survey information, Supervisor Dashboard</a></li>
			<li><a target="_blank" href="/documents/hfnymissive040921final.pdf"> 04/16/2021 - HFNY New Password, HFA Core
					Training Info, CHEERS CCI,
					New User Request Procedure Change</a></li>
			<li><a target="_blank" href="/documents/hvlogchangemissives021221.pdf"> 02/12/2021 - Home Visit Log Updates
					regarding Out of Home and Virtual Visits</a></li>
			<li><a target="_blank" href="/documents/012921missive.pdf"> 01/29/2021 - Level change when entering TCID form,
					PC1 at enrollment, Case filters</a></li>
			<li><a target="_blank" href="/documents/01222021missive.pdf"> 01/22/2021 - Home Visit Log change delay, Level TR,
					Editing demographic info</a></li>
			<li><a target="_blank" href="/documents/01152021missive.pdf"> 01/15/2021 - Screening Tools, Site Filters, HFA
					Wraparound Training Standards</a></li>
			<li><a target="_blank" href="/documents/finaljanuary82021missive.pdf"> 01/08/2021 - New Year, New Dates;HFNY
					Website updates; HV log changes</a></li>
		</ul>

		<h2>2020 Missives</h2>
		<ul>
			<li><a target="_blank" href="/documents/hf12172020missive.pdf"> 12/17/2020 - New Missive format, FGP webinar,
					Supervisor Form Approval, "lost" narratives</a></li>
			<li><a target="_blank" href="/documents/hfmissive12042020.pdf"> 12/04/2020 - FGP, documents Timeout, Internet
					Connections, Removing Supervisor Approval for forms</a></li>
			<li><a target="_blank" href="/documents/finalhfnymissive112020.pdf"> 11/20/2020 - Service Plan, Internet Issues,
					MIS Timeouts, Goal Status Date</a></li>
			<li><a target="_blank" href="/documents/finalhfnymissive_111020.pdf"> 11/10/2020 - Edits to MIS Forms, Moving
					cases off of Level TR </a></li>
			<li><a target="_blank" href="/documents/hfnymissive102920fgp.pdf"> 10/29/2020 - Family Goal Plan</a></li>
			<li><a target="_blank" href="/documents/hfmissive102020final.pdf"> 10/02/2020 - Level TR to CO, ASQ Update,
					Timeouts, Support Tickets</a></li>
			<li><a target="_blank" href="/documents/MISSIVEHF08202020.pdf"> 08/20/2020 - HFNY website staff section update,
					TC Med form update, Support Ticket assistance</a></li>
			<li><a target="_blank" href="/documents/MISSIVEHF08102020.pdf"> 08/10/2020 - New Screen Re-Design, Edits to
					Parent Survey, Pre-assessment and Pre-Intake</a></li>
			<li><a target="_blank" href="/documents/2MISSIVEHF07312020.pdf">07/31/2020 - New Screen Re-Design, Details on
					Tickets, Staff on Extended Leave</a></li>
			<li><a target="_blank" href="/documents/MISSIVEHF07132020.pdf">07/14/2020 - Home Visit Log Update - Virtual
					Visits</a></li>
			<li><a target="_blank" href="/documents/MISSIVEHF07012020.pdf">07/03/2020 - Referral Source update, Worker
					Dashboards, User Lock out Update</a></li>
			<li><a target="_blank" href="/documents/MISSIVEHFmay202020.pdf">05/21/2020 - MIS maintenance alert, Level TR to
					Level CO</a></li>
			<li><a target="_blank" href="/documents/MISSIVEHFmay082020.pdf">05/08/2020 - MIS maintenance, Worker
					terminations, Browsers</a></li>
			<li><a target="_blank" href="/documents/MISSIVEHFapril252020.pdf">04/23/2020 - CHEERS updates, Home Visit Log
					updates, Search Field revision, Level TR and TC ID issue</a></li>
			<li><a target="_blank" href="/documents/MISSIVEHFapril2020.pdf">04/09/2020 - COVID-19 FAQ and Financial Info,
					HFNY website staff password</a></li>
			<li><a target="_blank" href="/documents/MISSIVEHFmarch2020.pdf">03/24/2020 - COVID-19, USER accounts, HFNY
					website password</a></li>
			<li><a target="_blank" href="/documents/MISSIVEHF03132020.pdf">03-13-2020 - TC Medical Form, Several Report
					Updates, Level Form Review</a></li>
			<li><a target="_blank" href="/documents/hfmissivemarch20.pdf">03/05/2020 - Family Goal Plan on the HV log; All
					Workers option on Supervision Form</a></li>
			<li><a target="_blank" href="/documents/hfnymissivejan2020.pdf">01/29/2020 - Deleting Levels, Change Email
					address, 10-2 Training, Batch case assignment</a></li>
		</ul>
		<h2>2019 Missives</h2>
		<ul>
			<li><a target="_blank" href="/documents/hfmissive120319.pdf">12-03-2019 - Ethics Training, Level Change
					Certificates, Transferring staff,<br />Printing the Pre-Assessment and Pre-Intake, Ticket
					Guidelines</a></li>
			<li><a target="_blank" href="/documents/hfmissiveworkerterm.pdf">11-18-2019 - Healthy Families Worker
					Termination</a></li>
			<li><a target="_blank" href="/documents/hfmissivedashboard.pdf">11-13-2019 - Healthy Families New Home Page:
					Dashboards</a></li>
			<li><a target="_blank" href="/documents/HFMIS110819.pdf">11-08-2019 - HFNY Exit Survey, FSS Enrolled Case
					Tickler, Cheers Check In Tool reminder</a></li>
			<li><a target="_blank" href="/documents/2MISSIVEuseragreement2019.pdf">09-24-2019 - Healthy Families MIS User
					Agreement</a></li>
			<li><a target="_blank" href="/documents/HFMIS091319.pdf">09-12-2019 - Missing Cheers Check In, Guidelines for
					submitting tickets, Terming staff members in MIS, Supervisor dashboard</a></li>
			<li><a target="_blank" href="/documents/HFMIS300819.pdf">08-30-2019 - TC Medical Approval Button, Birth Outcomes
					report</a></li>
			<li><a target="_blank" href="/documents/08072019missive.pdf">08-07-2019 - Levels, Support tickets, Staff on
					Leave</a></li>
			<li><a target="_blank" href="/documents/07182019missive.pdf">07-18-2019 - Cheers Check-In, Transfer Cases,
					Support Ticket Guidelines</a></li>
			<li><a target="_blank" href="/documents/HFMIS0617019.pdf">06-17-2019 - Supervisor Dashboard, Immunization Report,
					ASQ-SE</a></li>
			<li><a target="_blank" href="/documents/HFMIS51419.pdf">05-14-2019 - Updated CHEERS Check in, Home Visits
					Performed in Time Period<br />
					and Cases Served in Time Period Reports</a></li>
			<li><a target="_blank" href="/documents/HFMIS5819.pdf">05-08-2019 - TC medical supervisor approval, editing case
					demographics, user request info</a></li>
			<li><a target="_blank" href="/documents/HFMIS043019.pdf">04-30-2019 - Cheers Check-in Form updates, TC Medical
					form updates, In-depth discussion</a></li>
			<li><a target="_blank" href="/documents/HFMIS041019.pdf">04-10-2019 - Service Plan, Supervisions, Support
					Tickets</a></li>
			<li><a target="_blank" href="/documents/HFMIMIS04012019.pdf">04-01-2019 - Support Ticket Issue, In-depth
					discussions, PI schedule</a></li>
			<li><a target="_blank" href="/documents/HFMIS03042019.pdf">03-04-2019 - Cheers Check In for multiple TC,
					Supervision forms before changeover, user requests and worker forms</a></li>
			<li><a target="_blank" href="/documents/HFMIS02262019.pdf">02-26-2019 - Performance Indicator Info; HFAST; CHEERS
					recommendations</a></li>
			<li><a target="_blank" href="/documents/HFMIS02112019.pdf">02-11-2019 - Supervision form, MIECHV info for CHEERS,
					duplicate screens</a></li>
			<li><a target="_blank" href="/documents/HFMIS02042019.pdf">02-04-2019 - CHEERS info, Supervision Form and Level M
					info</a></li>
			<li><a target="_blank" href="/documents/HFMIS01092019.pdf">01-09-2019 - New Levels, ASQ-SE and Supervision
					Form</a></li>
		</ul>
	</div>
</NetworkLayout>