---
import ContactLayout from "@/layouts/ContactLayout.astro";
---

<ContactLayout
  title="CHSR"
  activeMainText="Contact"
  activeSubText="Center for Human Services Research UAlbany/SUNY"
>
  <h1 class="heading">Contact Center for Human Services Research</h1>

  <a
    href="http://www.albany.edu/center-human-services-research/"
    target="_blank"
    class="no-icon"
    ><img
      src="/images/CHSR_logo_stack.png"
      alt="Center for Human Services Research"
      class="float-right"
    /></a
  >
  <h2>Center for Human Services Research</h2>
  <p>
    University at Albany/SUNY<br />
    Richardson 184<br />
    135 Western Ave.<br />
    Albany, NY 12222<br />
    Fax: (518) 442-5732<br />
    <a
      href="http://www.albany.edu/center-human-services-research/"
      target="_blank">Website</a
    >

    <p>
      <a href="mailto:elee@albany.edu">Eunju Lee, PhD</a> &ndash; Director<br />
      Phone: (518) 442-5773
    </p>
    <p>
      <a href="mailto:eberical@albany.edu">Erin Berical, MSEd</a> &ndash; Assistant
      Director/Research Scientist<br />
      Phone: (518) 591-8615
    </p>
    <h3>Research &amp; Evaluation:</h3>
    <p>
      <a href="mailto:sdietzel@albany.edu">Susan Dietzel, PhD</a> &ndash; Senior
      Research Scientist <br />
      Phone: (518) 591-8796
    </p>
    <p>
      <a href="mailto:mray2@albany.edu">Maile Ray, D.Sc., MPH</a> &ndash; Senior
      Research Scientist<br />
      Phone: (518) 442-5346
    </p>
    <p>
      <a href="mailto:mrriley@albany.edu">Moira Riley, PhD</a> &ndash; Senior Research
      Scientist<br />
      Phone: (518) 442-3658
    </p>
    <p>
      <a href="mailto:cnoble@albany.edu">Corinne Noble, MS</a> &ndash; Research Scientist<br
      />
      Phone: (518) 591-8785
    </p>

    <h3>MIS:</h3>

    <p>
      <a href="mailto:cpapas@albany.edu">Chris Papas, MBA</a> &ndash; Program Manager/Programmer<br
      />
      Phone: (518) 442-5425
    </p>
    <p>
      <a href="mailto:crobohn@albany.edu">Cori Robohn</a> &ndash; Tech Support Manager/Information
      Systems Technician<br />
      Phone: (518) 591-8610
    </p>
    <p>
      <a href="mailto:mjcampito@albany.edu">Mike Campito, BS</a> &ndash; Programmer/Analyst<br
      />
      Phone: (518) 442-8610
    </p>
    <p>
      <a href="mailto:jdimailig@albany.edu">Jeremeeh Dimailig</a> &ndash; Information
      Systems Assistant<br />
      Phone: (518) 442-5759
    </p>
    <p>
      <a href="mailto:jrobohn@albany.edu">Jay Robohn, BBA</a> &ndash; Senior Web
      Developer/HFNY Website Developer<br />
      Phone: (518) 442-5424
    </p>
    <p>
      <a href="mailto:brsimmons@albany.edu">Ben Simmons, BS</a> &ndash; Senior Programmer/Analyst<br
      />
      Phone: (518) 442-5762
    </p>
    <p>
      <a href="mailto:autkin@albany.edu">Ani Utkin, BS</a> &ndash; Programmer/Analyst<br
      />
      Phone: (518) 591-5719
    </p>
  </p>
</ContactLayout>
