---
import ContactLayout from "@/layouts/ContactLayout.astro";
// TODO: Fix the column layout to match original site
---

<ContactLayout
  title="Contact Us"
  activeMainText="Contact"
  activeSubText="Contact Us"
>
  <h1 class="heading">Contact Us</h1>

  <div class="group">
    <div class="logo">
      <a href="/contact/ocfs"
        ><img
          src="/images/OCFS Logo_new.png"
          alt="Office of Children and Family Services"
        /></a
      >
    </div>
    <div class="address">
      <p>
        <strong
          ><a href="/contact/ocfs"
            >New York State Office of Children and Family Services</a
          ></strong
        >
      </p>
    </div>
  </div>

  <div class="group">
    <div class="logo">
      <a href="/contact/pcany"
        ><img
          src="/images/PCALogo_NY_2C.jpg"
          alt="Prevent Child Abuse New York"
          width="220px"
        /></a
      >
    </div>
    <div class="address">
      <p>
        <strong
          ><a href="/contact/pcany">Prevent Child Abuse New York</a></strong
        >
      </p>
    </div>
  </div>

  <div class="logo">
    <a href="/contact/chsr"
      ><img
        src="/images/CHSR_logo.png"
        alt="Center for Human Services Research"
      /></a
    >
  </div>
  <div class="address">
    <p>
      <strong
        ><a href="/contact/chsr">Center for Human Services Research</a></strong
      ><br />
      <em
        >Any questions regarding this website can be directed to Center for
        Human Services Research:
      </em><br />
      Phone: 518-591-8610 <br />
      E-mail: <a href="mailto:support@chsr1.zohosupport.com"
        >support@chsr1.zohosupport.com</a
      >
    </p>
  </div>
</ContactLayout>
