---
import ContactLayout from "@/layouts/ContactLayout.astro";
// TODO: Convert information to a database table and refactor page to generate rows dynamically
---

<ContactLayout
  title="OCFS"
  activeMainText="Contact"
  activeSubText="NYS Office of Children and Family Services"
>
  <h1 class="heading">Contact OCFS</h1>

  <a href="http://www.ocfs.ny.gov" target="_blank" class="no-icon"
    ><img
      src="/images/OCFS Logo_new.png"
      alt="Office of Children & Family Services"
      class="float-right"
    /></a
  >
  <h2>New York State Office of Children and Family Services</h2>
  <p>
    <strong>Bureau of Family Strengthening and Community Support</strong><br />
    52 Washington Street, <br />
    North Building, 3rd Floor<br />
    Rensselaer, NY 12144<br />
    Fax: (518) 402-6824<br />
    <a href="http://www.ocfs.ny.gov" target="_blank">Website</a>
  </p>
  <p>
    <a href="mailto:Karen.Kissinger@ocfs.ny.gov">Karen Kissinger</a>
    &ndash; Director, Bureau of Family Strengthening and Community Support<br />
    Phone: (518) 402-6513
  </p>
  <p>
    <a href="mailto:Allison.Contento@ocfs.ny.gov">Allison Contento</a>
    &ndash; Program Coordinator, Healthy Families New York<br />
    Phone: (518) 486-3451
  </p>
  <p>
    <a href="mailto:Melanie.Schraa@ocfs.ny.gov">Melanie Schraa</a>
    &ndash; Program Supervisor<br />
    Phone: (518) 486-4610
  </p>
  <p>
    <a href="mailto:Suzan.Millington@ocfs.ny.gov">Suzan Millington</a>
    &ndash; Program Supervisor<br />
    Phone: (518) 402-6500
  </p>
  <p>
    <a href="mailto:Thomas.Dwyer@ocfs.ny.gov">Thomas Dwyer</a>
    &ndash; Program Contract Manager<br />
    Phone: (518) 473-3673
  </p>
  <p>
    <a href="mailto:Karen.Harkness@ocfs.ny.gov">Karen Harkness</a>
    &ndash; Program Contract Manager<br />
    Phone: (518) 473-0791
  </p>
  <p>
    <a href="mailto:Adrianna.Hodgson@ocfs.ny.gov">Adrianna Hodgson</a>
    &ndash; Program Contract Manager<br />
    Phone: (518) 473-6295
  </p>
  <p>
    <a href="mailto:Karli.Chiavelli@ocfs.ny.gov">Karli Chiavelli</a>
    &ndash; Program Contract Manager<br />
    Phone: (518) 402-5818
  </p>
  <p>
    <a href="mailto:Jennifer.Denny@ocfs.ny.gov">Jennifer Denny</a>
    &ndash; Program Contract Manager<br />
    Phone: (518) 486-5599
  </p>
  <p>
    <a href="mailto:Lorraine.Cummings@ocfs.ny.gov">Lorraine Cummings</a>
    &ndash; Program Contract Manager<br />
    Phone: (518) 473-8866
  </p>
  <p>
    <a href="mailto:Megan.DelSignore@ocfs.ny.gov">Megan DelSignore</a>
    &ndash; Program Contract Manager<br />
    Phone: (518) 486-7866
  </p>
  <p>
    <a href="mailto:Roseanna.Counterman@ocfs.ny.gov">Roseanna Counterman</a>
    &ndash; Program Contract Manager (MIECHV)<br />
    Phone: (518) 474-9431
  </p>
  <p>
    <a href="mailto:Matthew.Newman@ocfs.ny.gov">Matthew Newman</a>
    &ndash; Program Contract Manager (MIECHV)<br />
    Phone: (518) 474-8120
  </p>

  <p>&nbsp;</p>

  <p>
    <strong
      >Bureau of Research, Evaluation and Performance Analytics (BREPA)</strong
    ><br />
    52 Washington Street<br />
    North Building, Room 323<br />
    Rensselaer, NY 12144<br />
    Fax: (518) 402-6826
  </p>
  <p>
    <a href="mailto:Kristen.Kirkland@ocfs.ny.gov">Kristen Kirkland, MSW, PhD</a>
    &ndash; Research Scientist IV, HFNY Research &amp; Evaluation Coordinator<br
    />
    Phone: (518) 473-8833
  </p>
  <p>
    <a href="mailto:Claudia.Miranda-Julian@ocfs.ny.gov"
      >Claudia Miranda-Julian, MSW, PhD
    </a>
    &ndash; Research Scientist III<br />
    Phone: (518) 473-0340
  </p>
  <p>
    <a href="mailto:Ava.Berman@ocfs.ny.gov">Ava Berman, MPA</a>
    &ndash; Program Research Specialist, Human Services<br />
    Phone: (518) 473-3104
  </p>
  <p>
    <a href="mailto:Walter.Shelley2@ocfs.ny.gov">Walter W. Shelley, PhD</a>
    &ndash; Research Scientist II<br />
    Phone: (518) 473-9642
  </p>
  <p>
    <a href="mailto:Margaret.Fiacchi@ocfs.ny.gov">Margaret Fiacchi, MPA</a>
    &ndash; Research Scientist II<br />
    Phone: (518) 473-6680
  </p>
  <p>
    <a href="mailto:Clem.Washington-Flowers@ocfs.ny.gov"
      >Clem Washington-Flowers, MSW, MPH</a
    >
    &ndash; Research Scientist I<br />
    Phone: (518) 473-9405
  </p>
  <p>
    <a href="mailto:Emily.Rodak@ocfs.ny.gov">Emily Rodak</a>
    &ndash; Program Research Assistant<br />
    Phone: (518) 486-4410
  </p>
</ContactLayout>
