---
import ContactLayout from "@/layouts/ContactLayout.astro";
---

<ContactLayout
  title="PCANY"
  activeMainText="Contact"
  activeSubText="Prevent Child Abuse New York"
>
  <h1 class="heading">Contact PCANY</h1>

  <a href="http://www.preventchildabuseny.org/" target="_blank" class="no-icon"
    ><img
      src="/images/PCA_logo.png"
      alt="Prevent Child Abuse New York"
      class="float-right"
    /></a
  >
  <h2>Prevent Child Abuse New York</h2>
  <p>
    Main Office<br />
    4 Global View<br />
    Troy, NY 12180<br />
    Fax: (518) 436-5889<br />
    <a href="http://www.preventchildabuseny.org/" target="_blank">Website</a>
  </p>
  <p>
    <a href="mailto:thathaway@preventchildabuseny.org">Tim Hathaway</a> &ndash; Executive
    Director<br />
    (518) 445-1273 Ext 101<br />
  </p>
  <p>
    <a href="mailto:eleveillee@preventchildabuseny.org">Erika Leveillee</a> &ndash;Training
    &amp; Staff Development Director<br />
    (518) 880-3577<br />
    (518) 588-3660 (cell)
  </p>

  <p>
    <a href="mailto:ebutowsky@preventchildabuseny.org">Ellen Butowsky</a> &ndash;
    Training &amp; Staff Development Associate Director<br />
    (845) 399-0911 (cell)<br />
  </p>
  <p>
    <a href="mailto:marcher@preventchildabuseny.org">Manouska Archer</a> &ndash;
    Training &amp; Staff Development FAW Specialist<br />
    (845) 220-6985 (cell)<br />
  </p>
  <p>
    <a href="mailto:lgalatio@preventchildabuseny.org">Lisa Galatio </a> &ndash; Training
    &amp; Staff Development FSS Specialist <br />
    (607) 382-7066<br />
  </p>
  <p>
    <a href="mailto:idasilva@preventchildabuseny.org">Isabel daSilva</a> &ndash;
    Training &amp; Staff Development FSS Specialist <br />
    (845) 536-7867<br />
  </p>
  <p>
    <a href="mailto:sfields@preventchildabuseny.org"> Samantha Fields </a>
    &ndash; Training &amp; Staff Development FSS Specialist
    <br />
    (917) 864-6049 (cell)
    <br />
  </p>
  <p>
    <a href="mailto:cchant@preventchildabuseny.org">Caroline Chant</a> &ndash; Training
    &amp; Staff Development FRS Specialist<br />
    (845) 417-2259 (cell)<br />
  </p>
  <p>
    <a href="mailto:fhorne@preventchildabuseny.org">Fatima Horne</a> &ndash; Training
    &amp; Staff Development FRS Specialist<br />
    (518) 360-8278 (cell)<br />
  </p>
  <p>
    <a href="mailto:jsmith@preventchildabuseny.org"> Jill Smith </a>
    &ndash; Training &amp; Staff Development FRS Specialist
    <br />
    (607) 329-1067
    <br />
  </p>
  <p>
    <a href="mailto:crosario@preventchildabuseny.org"> Carmen Rosario </a>
    &ndash; Training &amp; Staff Development FRS Specialist
    <br />
    (347) 593-3232 (cell)
    <br />
  </p>
  <p>
    <a href="mailto:hfnytrainings@preventchildabuseny.org">Tina Tison</a> &ndash;
    Program Associate<br />
    (518) 813-0629 (cell)<br />
  </p>
</ContactLayout>
