---
import HomeVisitsLayout from "@/layouts/HomeVisitsLayout.astro";
---

<HomeVisitsLayout
  title="Home Visits"
  activeMainText="Home Visits"
  activeSubText="Is HFNY for me?"
>
  <h1 class="heading">Is HFNY for me?</h1>

  <p>
    If you are expecting a baby or are the parent of an infant younger than 3
    months of age AND answer YES to any of the questions below, then Healthy
    Families New York may be for you.
  </p>

  <p class="instructions">Click on the questions below.</p>

  <div id="accordion">
    <h2 class="accordion-toggle">
      Do you want to know what to expect during pregnancy, labor, and delivery?
    </h2>
    <div class="accordion-content">
      <img
        src="../images/support-worker-01.png"
        alt="Support worker with pregnant woman"
        class="float-left"
        width="15%"
      />
      <p>
        Your HFNY support specialist can provide you with information about how
        to stay healthy and feel good while you&rsquo;re expecting. She can help
        alleviate any anxieties you may have about the birth experience and
        offer techniques to assist in a smooth delivery.
      </p>
      <p class="clear"></p>
    </div>
    <h2 class="accordion-toggle">
      Do you want to learn how your baby develops before birth and during the
      first years?
    </h2>
    <div class="accordion-content">
      <img
        src="../images/baby-playing.png"
        alt="Baby playing"
        class="float-left"
        width="15%"
      />
      <p>
        Babies grow so fast! Your HFNY support specialist can help you track
        your baby&rsquo;s development month by month during pregnancy and after
        birth. She can explain developmental milestones, what you can do to help
        your baby meet these milestones, and answer any questions you may have
        about what to expect from your baby as he or she grows.
      </p>
      <p class="clear"></p>
    </div>
    <h2 class="accordion-toggle">
      Do you want to understand how to respond when your baby cries and fusses?
    </h2>
    <div class="accordion-content">
      <img
        src="../images/mom-with-crying-baby.png"
        alt="Mom comforting crying baby"
        class="float-left"
        width="15%"
      />
      <p>
        Baby&rsquo;s sometimes cry when they are hungry, wet, or tired, and
        sometimes they cry even after they are fed, changed, and rested. Your
        HFNY support specialist can teach you healthy coping strategies for when
        your baby cries and you don&rsquo;t know why. She can show you signs to
        look for if your baby may be sick and help you recognize when to call
        the pediatrician.
      </p>
      <p class="clear"></p>
    </div>
    <h2 class="accordion-toggle">
      Do you want to know how to make parenting fun?
    </h2>
    <div class="accordion-content">
      <img
        src="../images/baby-bath.png"
        alt="Baby in the bath"
        class="float-left"
        width="15%"
      />
      <p>
        Feeding your baby can be relaxing, bath time can be filled with splashes
        and giggles, and playtime can provide an opportunity for learning and
        laughing. Your HFNY support specialist can work with you to make caring
        for your baby a joyful experience.
      </p>
      <p class="clear"></p>
    </div>
    <h2 class="accordion-toggle">
      Do you want assistance in ensuring that your and your family&rsquo;s basic
      needs and goals are met?
    </h2>
    <div class="accordion-content">
      <img
        src="../images/sonogram.png"
        alt="couple getting a sonogram"
        class="float-left"
        width="20%"
      />
      <p>
        Your HFNY support specialist can connect you with resources in your
        community to aid with housing, healthcare, education, employment, and
        childcare. She can assist you with forms and processes that are
        sometimes confusing. She can help you prioritize and manage needs and
        demands that may seem overwhelming.
      </p>
      <p class="clear"></p>
    </div>
    <h2 class="accordion-toggle">
      Do you want to connect with other parents like you?
    </h2>
    <div class="accordion-content">
      <img
        src="../images/pregnant-group.png"
        alt="Group of expectant mothers"
        class="float-left"
        width="17%"
      />
      <p>
        Parenting is an important job and almost everyone can use support from
        others who understand what it&rsquo;s like to care for a newborn. Your
        HFNY support specialist can connect you with other moms and dads in your
        community. These connections can be invaluable in providing support and
        social interaction for you and your baby.
      </p>
      <p class="clear"></p>
    </div><!-- end accordion -->
  </div>
  <p>&nbsp;</p>
  <div>
    <p>
      We all need a little guidance to navigate the challenges and joys of
      parenthood. To find a Healthy Families New York program in your area,
      please click on the map image or call 518-591-8610.
    </p>
  </div>
  <div>
    <h5>
      <p class="ps-link">
        For a complete listing of HFNY sites, click
        <a href="../Documents/HFNYSiteInfo.pdf" target="_blank" float="right">
          here
        </a> (Updated 2025-02-13).
        <a href="../maps" float="right"
          ><img src="../images/program_sites_link.png" width="50%" /></a
        >
      </p>
    </h5>
  </div>
</HomeVisitsLayout>

<script
  type="text/javascript"
  src="https://ajax.googleapis.com/ajax/libs/jquery/1.7/jquery.min.js"></script>
<script type="text/javascript" src="../js/accordion.js"></script>
<style>
  /* accordion styles ===================== */
  .accordion-toggle {
    color: #39c;
    text-decoration: underline;
    cursor: pointer;
  }
  .accordion-content {
    display: none;
    padding-bottom: 0;
  }
  .accordion-content.default {
    display: block;
  }
  .instructions {
    background-image: url(../images/template_images/instructions-icon.png);
    background-repeat: no-repeat;
    position: left top;
    color: #1d809c;
    padding-left: 1.5em;
  }

  /* Timeline dates */
  .date-list dl {
    display: inline-block;
    clear: left;
    border-bottom: 1px solid #ccc;
    margin-bottom: 1em;
    padding-bottom: 0.5em;
    min-height: 4em;
  }

  .date-list dt {
    font-size: 4em;
    color: #ccc;
    float: left;
    margin: 0 0.25em 0 0;
    padding: 0;
    line-height: 0.8em;
    position: relative;
  }

  .date-list dd {
    margin: 0 0 0 10em;
    line-height: 1.6em;
  }

  .disc {
    padding-left: 0.75em;
    background-image: url(../images/template_images/black-bullet.png);
    background-repeat: no-repeat;
    background-position: 0px 10px;
  }
</style>
