---
import HomeVisitsLayout from "../../layouts/HomeVisitsLayout.astro";
---

<HomeVisitsLayout
  title="Home Visits"
  activeMainText="Home Visits"
  activeSubText="Home Visits"
>
  <h1 class="heading">Home Visits</h1>
  <!-- web team -->

  <h2>What are Home Visits?</h2>
  <p>
    The Healthy Families New York Home Visiting Program offers home-based
    services to support expectant families and new parents with the changes and
    needs that often come with the birth of a new child.
    <strong>Services are provided at no cost</strong>. Families who participate
    in the program are offered long-term, in-home services until the child is in
    school or Head Start.
  </p>

  <h2>Healthy Families New York services:</h2>
  <img
    src="../images/home-visit-01a.png"
    alt="home visit"
    class="float-right"
  />
  <ul>
    <li>
      Begin with a specially-trained staff member meeting your family in your
      home for an assessment of the strengths and challenges that are unique to
      your family.
    </li>
    <li>
      After the assessment, you are provided with referrals and services that
      address your family&rsquo;s needs and goals.
    </li>
    <li>
      Services may include in-home visits beginning on a weekly basis and
      decreasing over time as your family&rsquo;s needs change. Home visits
      typically last an hour.
    </li>
  </ul>

  <h2>During visits, your home visitor may:</h2>
  <ul>
    <li>
      <strong>Connect you</strong> with medical providers for prenatal/well-baby
      visits and immunizations.
    </li>
    <li>
      <strong>Provide you with information</strong> on prenatal care, parenting,
      infant and child development, and child health.
    </li>
    <li>
      <strong>Demonstrate activities</strong> for you to practice with your child
      to increase bonding and to stimulate cognitive and physical development.
    </li>
    <li>
      <strong>Assess your child</strong> for developmental milestones and provide
      referrals for early intervention if delays are indicated.
    </li>
    <li>
      <strong>Help your family</strong> access community resources and services,
      such as job training, ESL classes, legal services, GED preparation classes,
      and health care, among others.
    </li>
  </ul>

  <img src="../images/home-visit-02.jpg" alt="home visit" class="float-left" />
  <p>
    Home visits are provided by a Family Support Specialist (FSS) who is hired
    from and represents the language and culture of the community where you
    live. All FSSs receive intensive training from nationally certified
    trainers.
  </p>
  <p>
    FSSs are committed to respecting the strengths of your family, supporting
    you in identifying and achieving your goals, and in maintaining a healthy
    environment for your baby.
  </p>
</HomeVisitsLayout>
