---
import HomeVisitsLayout from "@/layouts/HomeVisitsLayout.astro";
---

<HomeVisitsLayout
  title="Home Visits"
  activeMainText="Home Visits"
  activeSubText="How Does HFNY Work?"
>
  <h1 class="heading">How does HFNY work?</h1>

  <p>
    The Healthy Families New York Home Visiting Program offers home-based
    services to support expectant families and new parents with the changes and
    needs that often come with the birth of a new child. Services are voluntary
    and provided at no cost.
  </p>

  <div>
    <img
      src="../images/interview-01.png"
      alt="Screening interview"
      width="20%"
      class="float-left"
    />
    <h2>The first step&hellip;</h2>
    <p>
      Anyone can make a referral to HFNY; you can even refer yourself! We strive
      to talk with all expectant parents and parents of newborns in the
      communities we serve. Our goal is to identify strengths and challenges
      prenatally or at birth and provide appropriate information and referrals
      to help babies get off to a healthy start.
    </p>
  </div>

  <div>
    <img
      src="../images/assessment-referral.png"
      alt="referrals"
      width="25%"
      class="float-right"
    />
    <h2>What's next&hellip;</h2>
    <p>
      A specially trained staff member may meet with you to further explore the
      strengths and stressors that are unique to your family. After this
      discussion, you may be provided with referrals to services in your
      community that can help you meet your needs and goals.
    </p>
  </div>

  <div>
    <img
      src="../images/home-visits-01.png"
      alt="Home visit"
      width="25%"
      class="float-left"
    />
    <h2>On-going support&hellip;</h2>
    <p>
      A Family Support Specialist (FSS), hired from and representing the
      language and culture in your community may offer on-going support.  This
      FSS partners with you to support you right from the start.  They work with
      you and your family in your home environment.  Home visits often begin
      prenatally and may be offered until your child is in school or Head
      Start.  They may be provided on a weekly basis at first but decrease over
      time.
    </p>
  </div>

  <h2>The FSS can support your family by:</h2>
  <ul>
    <li>
      <strong>Connecting you</strong> with medical providers for prenatal/well-baby
      visits and immunizations.
    </li>
    <li>
      <strong>Providing information</strong> on prenatal care, parenting, infant
      and child development, and child health.
    </li>
    <li>
      <strong>Demonstrating activities</strong> for you to practice with your child
      to increase bonding and to stimulate cognitive and physical development.
    </li>
    <li>
      <strong>Assessing your child</strong> for developmental milestones and providing
      referrals for early intervention if needed.
    </li>
    <li>
      <strong>Helping your family</strong> access community resources and services,
      such as job training, ESL classes, legal services, GED preparation classes,
      and health care.
    </li>
  </ul>
  <img
    src="../images/family-time-1.png"
    alt="Family time"
    width="25%"
    class="float-left"
  />
  <p>
    You and your family may also have opportunities to attend social and
    educational events. These events enable parents to establish connections
    with other parents of young children and share parenting experiences,
    successes, and challenges. <strong
      ><em
        >Healthy Families New York works to nurture healthy parenting for
        healthy babies.</em
      ></strong
    >
  </p>
</HomeVisitsLayout>
