---
import HomeVisitsLayout from "@/layouts/HomeVisitsLayout.astro";
---

<HomeVisitsLayout
  title="Home Visits"
  activeMainText="Family Voices"
  activeSubText="Family Voices"
>
  <h1 class="heading">Words from our families</h1>

  <h4>
    <p>Our families cannot stop talking about HFNY!</p>
  </h4>

  <!---<p class="instructions">Click on the questions below.</p>--->

  <div id="accordion">
    <h2>
      <img src="../images/dadandchildpic.jpg" class="float-left" width="35%" />
      <!-- tag line -->
      <p id="tagline">
        "I just wanted to give my daughter everything I could as a parent and it
        was nice because I was offered this information that was so helpful.”
      </p>
    </h2><br /><br />
  </div>
  <div class="accordion-content">
    <img
      src="../images/dadandchildpic.jpg"
      alt="Support worker with pregnant woman"
      class="float-left"
      width="15%"
    />
    <p>
      Your HFNY support worker can provide you with information about how to
      stay healthy and feel good while you&rsquo;re expecting. She can help
      alleviate any anxieties you may have about the birth experience and offer
      techniques to assist in a smooth delivery.
    </p>
    <p class="clear"></p>

    <h2>
      <img
        src="../images/workerwithmom.jpg"
        class="float-right"
        width="35%"
      />“I got to meet other people from the program and everyone was just so
      nice and so kind. It was just so great to know that I had that support.”
    </h2><br /><br />
    <div class="accordion-content">
      <img
        src="../images/baby-playing.png"
        alt="Baby playing"
        class="float-left"
        width="15%"
      />
    </div>

    <h2 style="margin-left: 5%">
      <img src="../images/mombabydad.jpg" class="float-left" width="43%" />
      <p>
        “It helps in so many others ways than what you might see initially on
        the surface. It is a strength based program. It’s positive and you could
        at least allow for the first initial visits with an open mind and go
        from there.”<br /><br />
      </p>
    </h2>
    <div class="accordion-content">
      <img
        src="../images/mom-with-crying-baby.png"
        alt="Mom comforting crying baby"
        class="float-left"
        width="20%"
      />
    </div>
  </div>
  <br />
  <div>
    <h4>
      We all need a little guidance to navigate the challenges and joys of
      parenthood. To find a Healthy Families New York program in your area,
      please click on the map image or call 518-591-8610.
    </h4>
    <h5>
      <p class="ps-link">
        For a complete listing of HFNY sites, click
        <a
          href="../Documents/HFNYSiteInfo.pdf"
          target="_blank"
          style="float: right"
        >
          here
        </a>
        (Updated 2025-02-13).
        <a href="../sites2.htm" style="float: right">
          <img src="../images/program_sites_link.png" width="50%" />
        </a>
      </p>
    </h5>
  </div>
</HomeVisitsLayout>
