---
import NetworkLayout from "@/layouts/NetworkLayout.astro";
---

<NetworkLayout
  title="Worker Roles"
  activeMainText="HFNY Network"
  activeSubText="HFNY Worker Roles"
>
  <h1 class="heading">HFNY Workforce Development Competencies</h1>

  <div class="align: center" style="float: right;">
    <img src="/images/competency.jpg" />
  </div>

  <div>
    <ul>
      <li>
        <a href="/documents/CompetencyCompanionGuide.pdf" target="_blank"> Competency Companion Guide (08/23/23)</a>
      </li>
      <li>
        <a href="/documents/FamilySupportSpecialistandFamilyResourceSpecialistCompetencies.pdf" target="_blank"> FRS/FSS Competencies</a>
      </li>
      <li>
        <a href="/documents/CompetencySelf-AssessmentTool.docx" target="_blank"> Competency Self-Assessment Tool (Word document)</a>
      </li>
      <li>
        <a href="https://www.youtube.com/watch?v=yviw5PNK_lY" target="_blank"> Worker Competencies Presentation (YouTube video)</a>
      </li>
      <li>
        <a href="https://www.youtube.com/watch?v=Iy8JzvcWAoY&feature=youtu.be" target="_blank">
          Presentation: Using Workforce Competencies in Hiring (YouTube video)</a
        >
      </li>
    </ul>
  </div>

  <hr />

  <h2>Samples - Competency Self-Assessment Tool</h2>

  <ul>
    <li>
      <a href="/documents/CompetencySelf-AssessmentTool-SAMPLE_FRS_2yr.docx"> Experienced Home Visitor (Word document)</a>
    </li>
    <li>
      <a href="/documents/CompetencySelf-AssessmentTool-SAMPLE_FSS_3m.docx"> Recently Hired Home Visitor (Word document)</a>
    </li>
  </ul>

  <hr />

  <h2>Supervisor - Tools to utilize compentencies</h2>
  
  <ul>
    <li>
      <a href="/documents/SupervisorCompetencies.pdf" target="_blank"> Supervisor Competencies Overview (07/11/24)</a>
    </li>
    <li>
      <a href="/documents/IntroductionToSupervisorCompetencies.pptx">
        Introduction to Supervisor Competencies (PowerPoint presentation)
      </a>
      (07/02/24)
    </li>
    <li>
      <a href="/documents/SupervisorCompetencySelfAssessmentUserGuide.pdf" target="_blank">
        Supervisor Competency Self Assessment User Guide (06/12/24)</a
      >
    </li>
    <li>
      <a href="https://www.youtube.com/watch?v=cxIHgeK1gUI&feature=youtu.be" target="_blank"> Supervisor Competency Webinar (YouTube video)</a>
    </li>
    <li>
      <a href="/documents/CompetencySelf-AssessmentToolForSupervisors.docx">
        Competency Self-Assessment Tool for Supervisors (Word document) (06/12/24)
      </a>
    </li>
  </ul>
</NetworkLayout>
