---
import NetworkLayout from "@/layouts/NetworkLayout.astro";
---

<NetworkLayout
  title="Worker Roles"
  activeMainText="HFNY Network"
  activeSubText="HFNY Worker Roles"
>
  <h1 class="heading">HFNY Workforce Development Competencies</h1>

  <div class="align: center" style="float: right;">
    <img src="/images/competency.jpg" />
  </div>

  <div>
    <ul>
      <li>
        <a href=""> Competency Companion Guide (08/23/23)</a>
      </li>
      <li>
        <a href=""> FRS/FSS Competencies</a>
      </li>
      <li>
        <a href=""> Competency Self-Assessment Tool (Word document)</a>
      </li>
      <li>
        <a href=""> Worker Competencies Presentation (YouTube video)</a>
      </li>
      <li>
        <a href="">
          Presentation: Using Workforce Competencies in Hiring (YouTube video)</a
        >
      </li>
    </ul>
  </div>

  <hr />

  <h2>Samples - Competency Self-Assessment Tool</h2>

  <ul>
    <li>
      <a href=""> Experienced Home Visitor (Word document)</a>
    </li>
    <li>
      <a href=""> Recently Hired Home Visitor (Word document)</a>
    </li>
  </ul>

  <hr />

  <h2>Supervisor - Tools to utilize compentencies</h2>
  
  <ul>
    <li>
      <a href=""> Supervisor Competencies Overview (07/11/24)</a>
    </li>
    <li>
      <a href="">
        Introduction to Supervisor Competencies (PowerPoint presentation)
      </a>
      (07/02/24)
    </li>
    <li>
      <a href="">
        Supervisor Competency Self Assessment User Guide (06/12/24)</a
      >
    </li>
    <li>
      <a href=""> Supervisor Competency Webinar (YouTube video)</a>
    </li>
    <li>
      <a href="">
        Competency Self-Assessment Tool for Supervisors (Word document) (06/12/24)
      </a>
    </li>
  </ul>
</NetworkLayout>
