---
import NetworkLayout from "@/layouts/NetworkLayout.astro";
---

<NetworkLayout
	title="Worker Roles"
	activeMainText="HFNY Network"
	activeSubText="HFNY Worker Roles"
>
<main>
	<h1 class="heading">Healthy Families Worker Roles</h1>

	<div>
		<p>
			<table style="border: 1; cellpadding: 5; cellspacing: 5; width: 100%; background-color: white;">
				<tr>
					<th class="tblhead">
						<h1><a href="/network/workerroles/programmanager">Program <br />Manager</a></h1>
					</th>
					<th class="tblhead">
						<h1><a href="/network/workerroles/frs">FRS</a></h1>
					</th>
					<th class="tblhead">
						<h1><a href="/network/workerroles/fss">FSS</a></h1>
					</th>
					<th class="tblhead">
						<h1><a href="/network/workerroles/supervisor">Supervisor</a></h1>
					</th>
				</tr>
			</table>
			<div style="width: 750; height: 125; border: thick; margin: 25px; text-align: center;">
				<img src="../images/teamworkimage.jpg" width="675" height="95">
			</div>
		</p>		
	</div>
</main>
	<style>
		.tblhead {
			colspan: 20px;
			bgcolor: #d8d2d2;
			style: border:thick; 
			border-color: #39C;
		}
	</style>
</NetworkLayout>
