---
import NetworkLayout from "@/layouts/NetworkLayout.astro";
---

<NetworkLayout
  title="Worker Roles"
  activeMainText="HFNY Network"
  activeSubText="HFNY Worker Roles"
>
  <main>
    <h1 class="heading">Program Manager</h1>
    <div style="background-color:#CCC; text-align=left">
      <h3>
        <a
          href="Documents/hfnyorganizationalchart0918.pdf"
          target="_blank"
          class="float-right"
        >
          Central Administration Organizational Chart
        </a>
      </h3>
    </div>
    <!-- <h3><a href="Documents/HFNY2020SiteNavigationGuide.pdf">Website Navigation Guide for PMs and Supervisors</a></h3></br></br> -->
    <div style="border:thick; border-color: #39C">
      <a
        href="/Staff/Documents/Committee, Workgroup, CoP Overview 091624.pdf"
        target="_blank"
        class="float-right"
      >
        <h3>
          Healthy Families New York standing committees, workgroups, and
          communities of practice (2024-09-16)
        </h3>
      </a>
    </div>

    <a
      href="/Staff/Documents/HFMISUserAgreement20220524.pdf"
      target="_blank"
      class="float-right"
    >
      <h3>Healthy Families New York MIS User Agreement (2022-05-24)</h3>
    </a>
  </main>
  <a href="HFNYupdatedpolicies.htm" class="float-right">
    <h3>HFNY Policies & Standards</h3>
  </a>

  <h3>
    <!-- <a href="Documents/HFNY Committees overview 0623.pdf" target="_blank" float="right"> -->
    Overview of HFNY Committees (06/30/23) - This document is outdated and the CA
    Committees are currently being restructured. Please check back soon for the most
    recent version. Expected availability in May, 2024.
  </h3>

  <h3>
    <a href="Documents/Supervision Note Guidelines 0224.pdf" target="_blank">
      Guidelines for Supervision Notes (Most recent updates are highlighted in
      yellow) (Aug 2023 and Feb 2024)
    </a>
  </h3>
  <br />
  <h3>
    <a
      href="Documents/Mentoring-Guide-20221001.pdf"
      target="_blank"
      class="float-right"
    >
      Site-to-Site Mentoring Guide (2022-10-01)
    </a>
  </h3>
  <a
    href="Documents/6functionalareas1218.pdf"
    target="_blank"
    class="float-right"
  >
    <h3>
      6 Functional Areas for Multi-Site Systems: A Formula for Model Fidelity
      and Quality
    </h3>
  </a>

  <h3>
    <a href="Documents/HFNY_Multi_Site_System_Orientation_Dec9_19.pptx"
      >HFNY Multi-Site System Orientation</a
    >
  </h3>
  <br />
  <h3>
    <a href="../Staff/Documents/CQI-Guidance-2022-02-01.pdf" target="_blank">
      Continuous Quality Improvement (CQI) Plan Guidance
    </a>
  </h3>
  <h3>
    <a href="../Staff/Documents/Program Manager Timeline.pdf" target="_blank">
      New Program Manager Timeline (2024-10-02)
    </a>
  </h3>
  <br />

  <h3>
    <a
      href="Documents/HFNY Participant Critical Incident Report 1-2024 Final.docx"
    >
      Participant Critical Incident Report (2024-01-30)
    </a>
  </h3>
  <h3>
    <a href="Documents/Fillable Program Critical Incident Report.docx">
      Program Critical Incident Report (2023-12-18)
    </a>
  </h3>
  <br />

  <h3>
    Click on the <a
      href="https://www.healthyfamiliesnewyork.org/Staff/reporting.htm"
      >Reporting tab</a
    >
    for reporting items such as quarterly reports and performance indicators.
  </h3>

  <div>
    <h5>
      <p class="ps-link">
        For a complete listing of HFNY sites, click
        <a
          href="../Documents/HFNYSiteInfo.pdf"
          target="_blank"
          class="float-right"
        >
          here
        </a>
        (Updated 2025-02-13).
        <a href="../sites2.htm" class="float-right">
          <img src="../images/program_sites_link.png" width="50%" />
        </a>
      </p>
    </h5>
  </div>
</NetworkLayout>
