---
import NetworkLayout from "@/layouts/NetworkLayout.astro";
---

<NetworkLayout
  title="Worker Roles"
  activeMainText="HFNY Network"
  activeSubText="HFNY Worker Roles"
>
  <h1 class="heading">Program Manager</h1>
  <div style="background-color:#CCC;">
    <ul>
      <li>
        <a href="Documents/hfnyorganizationalchart0918.pdf" target="_blank">
          Central Administration Organizational Chart
        </a>
      </li>
      <li>
        <a
          href="/Staff/Documents/Committee, Workgroup, CoP Overview 091624.pdf"
          target="_blank"
        >
          Healthy Families New York standing committees, workgroups, and
          communities of practice (2024-09-16)
        </a>
      </li>
      <li>
        <a
          href="/Staff/Documents/HFMISUserAgreement20220524.pdf"
          target="_blank"
        >
          Healthy Families New York MIS User Agreement (2022-05-24)
        </a>
      </li>
      <li>
        <a href="HFNYupdatedpolicies.htm">
          <h3>HFNY Policies & Standards</h3>
        </a>
      </li>

      <li>
        <h3>
          <!-- <a href="Documents/HFNY Committees overview 0623.pdf" target="_blank" float="right"> -->
          <del>Overview of HFNY Committees (06/30/23)</del> - This document is outdated
          and the CA Committees are currently being restructured. Please check back
          soon for the most recent version. Expected availability in May, 2024.
        </h3>
      </li>

      <li>
        <a
          href="Documents/Supervision Note Guidelines 0224.pdf"
          target="_blank"
        >
          <h3>
            Guidelines for Supervision Notes (Most recent updates are
            highlighted in yellow) (Aug 2023 and Feb 2024)
          </h3>
        </a>
      </li>
      <li>
        <a href="Documents/Mentoring-Guide-20221001.pdf" target="_blank">
          <h3>Site-to-Site Mentoring Guide (2022-10-01)</h3>
        </a>
      </li>
      <li>
        <a href="Documents/6functionalareas1218.pdf" target="_blank">
          <h3>
            6 Functional Areas for Multi-Site Systems: A Formula for Model
            Fidelity and Quality
          </h3>
        </a>
      </li>
      <li>
        <a href="Documents/HFNY_Multi_Site_System_Orientation_Dec9_19.pptx">
          <h3>HFNY Multi-Site System Orientation</h3>
        </a>
      </li>
      <li>
        <a
          href="../Staff/Documents/CQI-Guidance-2022-02-01.pdf"
          target="_blank"
        >
          <h3>Continuous Quality Improvement (CQI) Plan Guidance</h3>
        </a>
      </li>
      <li>
        <a
          href="../Staff/Documents/Program Manager Timeline.pdf"
          target="_blank"
        >
          <h3>New Program Manager Timeline (2024-10-02)</h3>
        </a>
      </li>
      <li>
        <a
          href="Documents/HFNY Participant Critical Incident Report 1-2024 Final.docx"
        >
          <h3>Participant Critical Incident Report (2024-01-30)</h3>
        </a>
      </li>
      <li>
        <a href="Documents/Fillable Program Critical Incident Report.docx">
          <h3>Program Critical Incident Report (2023-12-18)</h3>
        </a>
      </li>
      <li>
        Click on the <a
          href="https://www.healthyfamiliesnewyork.org/Staff/reporting.htm"
        >
          Reporting tab
        </a>
        for reporting items such as quarterly reports and performance indicators.
      </li>
    </ul>
  </div>
  <p style="text-align: center; align-items: center;">
    <p>
      <a href="/maps"><h3>Find a Program Site</h3></a>
    </p>
    <a href="/maps">
      <img
        src="/images/program_sites_link.png"
        alt="New York State Program Sites Map"
        title="New York State Program Sites Map"
      />
    </a>
    <p>
      For a complete listing of HFNY sites, click
      <a href="/Documents/HFNYSiteInfo.pdf" target="_blank">here</a><br />
      (updated 2025-02-13).
    </p>
  </p>
</NetworkLayout>

<div>
  <h5>
    <p>
      For a complete listing of HFNY sites, click
      <a href="../Documents/HFNYSiteInfo.pdf" target="_blank">here</a>
      <br />
      (Updated 2025-02-13).
      <br />
      <a href="/maps">
        <img src="/images/program_sites_link.png" />
      </a>
    </p>
  </h5>
</div>
