---
import Layout from "@/layouts/Layout.astro";
import Header from "@/components/Header.astro";
import Banner from "@/components/Banner.astro";
import Footer from "@/components/Footer.astro";
import "@/styles/hfny_home.css";
---

<Layout title="Healthy Families New York Org">
  <Header activeMainText="Home" />
  <Banner />

  <div id="content">
    <!-- Audience navigation -->
    <div id="audience-nav">
      <ul>
        <li><a href="/families" id="aud-nav-01"><span>Families</span></a></li>
        <li>
          <a href="/providers" id="aud-nav-02"
            ><span>Providers &amp; Referral Sources</span></a
          >
        </li>
        <li>
          <a href="/funders" id="aud-nav-03"><span>Funders</span></a>
        </li>
        <li>
          <a href="/researchers" id="aud-nav-04"><span>Researchers</span></a>
        </li>
        <li class="an-last">
          <a href="/newsletter" id="aud-nav-05"><span>HFNY Newsletter</span></a>
        </li>
      </ul>
    </div>

    <!-- Text area with 3-column layout -->
    <div id="text-area">
      <!-- Column one -->
      <div id="aud-col-1">
        <h1>Supporting Families Right From the Start</h1>
        <p>
          The Healthy Families New York home visiting program matches parents
          with knowledgeable and caring workers who provide information and
          support during pregnancy and early childhood. Services include helping
          families access community resources and services, educating families
          on parenting and child development, connecting families with medical
          providers, and assessing children for developmental delays.
        </p>
      </div>

      <!-- Column two -->
      <div id="aud-col-2">
        <h1>We Know it Works</h1>
        <p>
          Home Visiting Programs change the lives of children and their
          families. Research shows Healthy Families New York (HFNY) works for
          many families, from first time teen parents to families with other
          children. Families have healthier babies, demonstrate better knowledge
          of parenting and child development, create positive family bonds,
          develop connections to community services, and have children who do
          better in school.
        </p>
      </div>

      <!-- Column three -->
      <div id="aud-col-3">
        <p class="ps-link"><a href="/maps">Find a Program Site</a></p>
        <a href="/maps">
          <img
            src="/images/program_sites_link.png"
            alt="New York State Program Sites Map"
            title="New York State Program Sites Map"
          />
        </a>
        <p class="ps-link">
          For a complete listing of HFNY sites, click
          <a href="/Documents/HFNYSiteInfo.pdf" target="_blank">here</a><br />
          (updated 2025-02-13).
        </p>
      </div>
    </div>
  </div>

  <Footer />
</Layout>

<style>
  /* We'll move the CSS here later */
</style>
