---
import Footer from "@/components/Footer.astro";
import Header from "@/components/Header.astro";
import Layout from "@/layouts/Layout.astro";
---

<Layout title="Newsletter">
  <Header activeMainText="Home" />
  <div id="content">
    <div id="col-2-full-width">
      <div id="text-area">
        <main>
          <img
            src="/images/TheLink_01.png"
            alt="the Link"
            style="margin-bottom:1em;"
          />
          <h1 class="heading">The Link&mdash;HFNY Newsletter</h1>
          <p class="note">
            The information that was provided in the Link newsletter is no
            longer distributed in this format. HFNY sites are given this type of
            information and resources through other mediums.
          </p>
          <p class="note">
            The links open PDF versions of our newsletters. You must have Adobe
            Reader to view them. Don't have Adobe Reader? Download it for free
            from the
            <a href="http://get.adobe.com/reader/" target="_blank">
              Adobe website
            </a>
            .
          </p>

          <div class="date-list">
            <dl>
              <dt>2020</dt>
              <dd class="disc">
                Winter&mdash;
                <a href="Media/newsletters/HFNYLinkNewsletter-Spring2020 .pdf"
                  >Spring 2020
                </a>
                <span>(4Mb)</span>
              </dd>
              <dd class="disc">
                Winter&mdash;<a
                  href="Media/newsletters/the_Link_Winter_feb2020 (HFNY).pdf"
                  >Winter 2020</a
                >
                <span>(2Mb)</span>
              </dd>
            </dl>
            <br />
            <dl>
              <dt>2019</dt>
              <dd class="disc">
                Summer&mdash;<a href="Media/newsletters/thelinkjune2019.pdf"
                  >Summer 2019
                </a><span>(2MB)</span>
              </dd>
            </dl>
            <dl>
              <dt>2018</dt>
              <dd class="disc">
                Winter&mdash;<a href="Media/newsletters/dec2018link.pdf"
                  >Winter 2018</a
                ><span>(3MB)</span>
              </dd>
              <dd class="disc">
                Winter&mdash;<a href="Media/newsletters/Link Winter 1.2018.pdf"
                  >Healthy Families New York Training Institute 2017
                </a><span>(3MB)</span>
              </dd>
              <dd class="disc">
                Spring&mdash;<a href="Media/newsletters/theLinkSPRING2018.pdf"
                  >Spring 2018
                </a><span>(3MB)</span>
              </dd>
              <span></span>
            </dl>

            <dl>
              <dt>2017</dt>
              <dd class="disc">
                Winter&mdash;<a href="Media/newsletters/LinkWinter2017.pdf"
                  >Accreditation 2017-2018</a
                >
                <span>(1.14Mb)</span>
              </dd>
              <dd class="disc">
                Summer&mdash;<a
                  href="Media/newsletters/summer2017newsletterlink.pdf"
                  >Summer - 2017</a
                ><span>(1.00Mb)</span>
              </dd>
            </dl>
            <dl>
              <dt>2016</dt>
              <dd class="disc">
                Winter&mdash;<a href="Media/newsletters/LinkWinter2016.pdf"
                  >Healthy Families New York and Infant Mental Health</a
                >
                <span>(1.97Mb)</span>
              </dd>
              <dd class="disc">
                Summer&mdash;<a href="Media/newsletters/LinkSummer16-2.pdf"
                  >Increasing Program Capacity - Stories from the Field</a
                >
                <span>(1.45Mb)</span>
              </dd>
              <dd class="disc">
                Winter&mdash;<a href="Media/newsletters/LinkWinter2016.pdf"
                  >Healthy Families New York and Infant Mental Health</a
                >
                <span>(1.97Mb)</span>
              </dd>
            </dl>

            <dl>
              <dt>2015</dt>
              <dd class="disc">
                Summer&mdash;<a href="Media/newsletters/LinkSummer2015.pdf"
                  >Happy 20th Anniversary to Us-Part 2!</a
                >
                <span>(3.35Mb)</span>
              </dd>
              <dd class="disc">
                Spring&mdash;<a href="Media/newsletters/LinkSpring2015.pdf"
                  >Happy 20th Anniversary to Us!</a
                >
                <span>(2.06Mb)</span>
              </dd>
            </dl>

            <dl>
              <dt>2014</dt>
              <dd class="disc">
                Summer&mdash;<a
                  href="Media/newsletters/Link_Summer_2014_6_26_14.pdf"
                  >Strengthening Families Through Protective Factors</a
                >
                <span>(926Kb)</span>
              </dd>
              <dd class="disc">
                Winter&mdash;<a href="Media/newsletters/Link_Winter2014.pdf"
                  >Home Visiting Beyond Borders</a
                >
                <span>(1.09Mb)</span>
              </dd>
            </dl>

            <dl>
              <dt>2013</dt>
              <dd class="disc">
                Summer&mdash;<a href="Media/newsletters/linksummer13.pdf"
                  >Healthy Families New York and School Readiness</a
                >
                <span>(1.38Mb)</span>
              </dd>
              <dd class="disc">
                Winter&mdash;<a href="Media/newsletters/TheLinkMarch2013.pdf"
                  >Through Their Eyes: Once Participants, Now HFNY Home Visitors</a
                >
                <span>(2.31Mb)</span>
              </dd>
            </dl>

            <dl>
              <dt>2012</dt>
              <dd class="disc">
                Summer&mdash;<a
                  href="Media/newsletters/FINAL_LinkSummer2012_FINAL-1.pdf"
                  >The Food Issue</a
                >
                <span>(2.15Mb)</span>
              </dd>
              <dd class="disc">
                Winter&mdash;<a
                  href="Media/newsletters/link-winter_ 2012_final.pdf"
                  >Fatherhood</a
                >
                <span>(2.30Mb)</span>,
                <a
                  href="Media/newsletters/a_day_in_the_life_of_a_father-HFNY.pdf"
                  >A day in the life of a father - HFNY</a
                >
                <span>(50Kb)</span>
              </dd>
            </dl>

            <dl>
              <dt>2011</dt>
              <dd class="disc">
                Summer&mdash;<a href="Media/newsletters/Link_June_2011.pdf"
                  >Developmental Parenting</a
                >
                <span>(2.28Mb)</span>
              </dd>
              <dd class="disc">
                Winter&mdash;<a
                  href="Media/newsletters/link-winter_ 2011_final.pdf"
                  >Participant Retention: What Makes Families Stay?</a
                >
                <span>(2.35Mb)</span>
              </dd>
            </dl>

            <dl>
              <dt>2010</dt>
              <dd class="disc">
                Spring&mdash;<a href="Media/newsletters/link-spring2010.pdf"
                  >The Parenting Stress Index</a
                >
                <span>(3.59Mb)</span>, <a
                  href="Media/newsletters/Link_spring_10_PSI_answer_ key.pdf"
                  >What's your PSI IQ? (answers)</a
                >
                <span>(18Kb)</span>
              </dd>
              <dd class="disc">
                Fall&mdash;<a href="Media/newsletters/link-fall09-final.pdf"
                  >Motivational Interviewing &amp; HFNY: A Great Combination</a
                >
                <span>(3.18Mb)</span>
              </dd>
            </dl>

            <dl>
              <dt>2009</dt>
              <dd class="disc">
                Spring&mdash;<a href="Media/newsletters/link-spring09-web.pdf"
                  >Healthy Families New York: Energized and Motivated</a
                >
                <span>(698Kb)</span>
              </dd>
              <dd class="disc">
                Fall&mdash;<a href="Media/newsletters/Link_Fall_08.pdf"
                  >Bonding, Attachment and the Role of Temperament</a
                >
                <span>(2.23Mb)</span>
              </dd>
            </dl>

            <dl>
              <dt>2008</dt>
              <dd class="disc">
                Spring&mdash;<a href="Media/newsletters/LinkSpring08.pdf"
                  >Focus on Fatherhood</a
                >
                <span>(1.74Mb)</span>
              </dd>
              <dd class="disc">
                Fall&mdash;<a href="Media/newsletters/LinkFall07.pdf"
                  >Families and the Law</a
                >
                <span>(4.34Mb)</span>
              </dd>
            </dl>

            <dl>
              <dt>2007</dt>
              <dd class="disc">
                Spring&mdash;<a href="Media/newsletters/LinkSpring%2007a.pdf"
                  >Children with Special Needs</a
                >
                <span>(423Kb)</span>
              </dd>
              <dd class="disc">
                Winter&mdash;<a href="Media/newsletters/linkwinter07.pdf"
                  >Prenatal Home Visiting</a
                >
                <span>(2.37Mb)</span>
              </dd>
            </dl>

            <dl>
              <dt>2006</dt>
              <dd class="disc">
                Spring&mdash;<a href="Media/newsletters/linkspring06.pdf"
                  >Dental Health</a
                >
                <span>(439Kb)</span>
              </dd>
              <dd class="disc">
                Summer&mdash;<a href="Media/newsletters/linksummer06.pdf"
                  >Smoking &amp; Health</a
                >
                <span>(420Kb)</span>
              </dd>
              <dd class="disc">
                Winter&mdash;<a href="Media/newsletters/linkwinter06.pdf"
                  >2005 HFNY Training Schedule</a
                >
                <span>(927Kb)</span>
              </dd>
            </dl>

            <dl>
              <dt>2005</dt>
              <dd class="disc">
                Summer&mdash;<a href="Media/newsletters/linksummer05.pdf"
                  >Live &amp; Learn</a
                >
                <span>(576Kb)</span>
              </dd>
              <dd class="disc">
                Spring&mdash;<a href="Media/newsletters/linkspring05.pdf"
                  >Healthy Families New York Tenth Anniversary</a
                >
                <span>(161Kb)</span>
              </dd>
            </dl>

            <dl>
              <dt>2004</dt>
              <dd class="disc">
                Summer&mdash;<a href="Media/newsletters/linksummer04.pdf"
                  >Supervision</a
                >
                <span>(972Kb)</span>
              </dd>
              <dd class="disc">
                Winter&mdash;<a href="Media/newsletters/linkwinter04.pdf"
                  >Healthy Families New York: Results of First Year Evaluation</a
                >
                <span>(1.19Mb)</span>
              </dd>
            </dl>

            <dl>
              <dt>2003</dt>
              <dd class="disc">
                Summer&mdash;<a href="Media/newsletters/linksummer03.pdf"
                  >The Asthma Epidemic</a
                >
                <span>(5.75Mb)</span>
              </dd>
              <dd class="disc">
                Spring&mdash;<a href="Media/newsletters/linkspring03.pdf"
                  >Boundaries</a
                >
                <span>(1.93Mb)</span>
              </dd>
            </dl>

            <dl>
              <dt>2002</dt>
              <dd class="disc">
                Spring/Summer&mdash;<a
                  href="Media/newsletters/linkspringsummer02.pdf"
                  >At An Open House For A New Program</a
                >
                <span>(4.92Mb)</span>
              </dd>
              <dd class="disc">
                Fall&mdash;<a href="Media/newsletters/linkfall02.pdf">Neglect</a
                >
                <span>(4.41Mb)</span>
              </dd>
              <dd class="disc">
                Winter&mdash;<a href="Media/newsletters/linkwinter02.pdf"
                  >A Home Visit With A New Dad</a
                >
                <span>(4.11Mb)</span>
              </dd>
            </dl>

            <dl>
              <dt>2001</dt>
              <dd class="disc">
                Spring&mdash;<a href="Media/newsletters/linkspring01.pdf"
                  >Our Growing Family! HFNY Adding 18 New Programs</a
                >
                <span>(2.92Mb)</span>
              </dd>
              <dd class="disc">
                Summer/Fall&mdash;<a
                  href="Media/newsletters/linksummerfall01.pdf"
                  >Helping Our Children</a
                >
                <span>(3.93Mb)</span>, <a
                  href="Media/newsletters/linkspring01.pdf"
                  >Our Growing Family! HFNY Adding 18 New Programs</a
                >
                <span>(2.92Mb)</span>
              </dd>
              <dd class="disc">
                Winter&mdash;<a href="Media/newsletters/linkwinter01.pdf"
                  >Breast Feeding Promotion and Healthy Families</a
                >
                <span>(3.89Mb)</span>
              </dd>
            </dl>
          </div>
        </main>
      </div>
      <Footer />
    </div>
  </div>

  <style>
    /* Timeline dates */
    .date-list dl {
      display: inline-block;
      clear: left;
      border-bottom: 1px solid #ccc;
      margin-bottom: 1em;
      padding-bottom: 0.5em;
      min-height: 4em;
    }

    .date-list dt {
      font-size: 4em;
      color: #ccc;
      float: left;
      margin: 0 0.25em 0 0;
      padding: 0;
      line-height: 0.8em;
      position: relative;
    }

    .date-list dd {
      margin: 0 0 0 10em;
      line-height: 1.6em;
    }

    .disc {
      padding-left: 0.75em;
      background-image: url(/images/template_images/black-bullet.png);
      background-repeat: no-repeat;
      background-position: 0px 10px;
    }
  </style>
</Layout>
