---
import Layout from "@/layouts/Layout.astro";
---

<Layout title="Sites">
  <h1 class="heading">HFNY Program Sites</h1>
  <p class="map-text">
    Please select a county by clicking a red marker on the map that is nearest
    you.
  </p>
  <p class="ps-link">
    For a complete listing of HFNY sites, click
    <a href="/Documents/HFNYSiteInfo.pdf" target="_blank"> here </a>
    (Updated 2025-02-13).
  </p>
  <!--The div elements for the maps -->
  <div id="state"></div>
  <div id="nyc"></div>
</Layout>

<script
  type="text/javascript"
  src="https://ajax.googleapis.com/ajax/libs/jquery/1.7/jquery.min.js"></script>
<!-- Google tag (gtag.js) -->
<script
  async
  src="https://www.googletagmanager.com/gtag/js?id=G-KGFX0T79NR"
  <script
>
  jQuery(document).ready(function ($) {
    (function (i, s, o, g, r, a, m) {
      i["GoogleAnalyticsObject"] = r;
      (i[r] =
        i[r] ||
        function () {
          (i[r].q = i[r].q || []).push(arguments);
        }),
        (i[r].l = 1 * new Date());
      (a = s.createElement(o)), (m = s.getElementsByTagName(o)[0]);
      a.async = 1;
      a.src = g;
      m.parentNode.insertBefore(a, m);
    })(
      window,
      document,
      "script",
      "https://www.google-analytics.com/analytics.js",
      "ga",
    );

    ga("create", "UA-41499978-5", "auto");
    ga("send", "pageview");

    // Global site tag (gtag.js) - Google Analytics
    window.dataLayer = window.dataLayer || [];
    function gtag() {
      dataLayer.push(arguments);
    }
    gtag("js", new Date());
    gtag("config", "G-KGFX0T79NR");
  });

  // Initialize and add the map
  function initMap() {
    var nys_center = { lat: 42.666, lng: -75.408 };
    var nyc_center = { lat: 40.73920297354617, lng: -73.96761033309902 };
    var state = new google.maps.Map(document.getElementById("state"), {
      zoom: 7,
      center: nys_center,
    });

    var nyc = new google.maps.Map(document.getElementById("nyc"), {
      zoom: 11,
      center: nyc_center,
    });

    var Albany = { lat: 42.65, lng: -73.754 };
    var Albany_marker = new google.maps.Marker({
      position: Albany,
      map: state,
    });
    var Albany_window = new google.maps.InfoWindow({
      content:
        "<div class='prg-site'>" +
        "<p class='bar-head'>Albany County</p>" +
        "<p class='facility'>Healthy Families Albany County</p>" +
        "<p><em>Serves  City of Albany, Cohoes (12047), Watervliet (12189), and Green Island (12183)</em>" +
        "<br />" +
        "Albany County Department of Children, Youth &amp; Families with Parsons Child &amp; Family Center</p>" +
        "<p>Phone: (518) 447-7534<br>  Fax: (518) 447-7766</p>" +
        "<p>Program Director: " +
        "<a href='mailto:Marciquie.salmond@albanycountyny.gov'>Marciquie Salmond</a></p>" +
        "<p><a href='Media/pdf/Albany_brochure_english.pdf' target='_blank'>Brochure in English</a>" +
        "<br />" +
        "<a href='Media/pdf/Albany_brochure_spanish.pdf' target='_blank'>Brochure in Spanish</a>" +
        "<br />" +
        "<a href='Media/video/Albany_PSA.wmv'>Healthy Families of Albany County PSA</a></p>" +
        "<p class='top'><button onClick='javascript:$('.gm-ui-hover-effect').trigger('click');'>back to map</button></p>" +
        "</div>",
    });
    Albany_marker.setTitle("Healthy Families Albany County");
    Albany_marker.setLabel("Albany");
    google.maps.event.addListener(Albany_marker, "click", function () {
      Albany_window.open(state, Albany_marker);
    });

    var Allegany = { lat: 42.0805067, lng: -78.4317075 };
    var Allegany_marker = new google.maps.Marker({
      position: Allegany,
      map: state,
    });
    var Allegany_window = new google.maps.InfoWindow({
      content:
        "<div class='prg-site'>" +
        "<a name='allegany' id='allegany'></a>" +
        "<p class='bar-head'>Allegany and Cattaraugus Counties</p>" +
        "<p class='facility'>Healthy Families of Allegany and Cattaraugus</p>" +
        "<p><em>Serves all of Allegany and Cattaraugus Counties </em><br />" +
        "Parent Education Program, Inc.</p>" +
        "<p>Phone: (716) 372-5987<br>" +
        "Fax: (716) 372-8640" +
        "</p>" +
        "<p>Interim Program Manager: <a href='mailto:jasmineth18@yahoo.com'>Jasmine Hall</a></p>" +
        "<p class='top'><a href='#state'>back to map</a></p>" +
        "</div>",
    });
    Allegany_marker.setTitle("Healthy Families Allegany County");
    Allegany_marker.setLabel("Allegany");
    google.maps.event.addListener(Allegany_marker, "click", function () {
      Allegany_window.open(state, Allegany_marker);
    });

    var Broome = { lat: 42.1052726, lng: -75.9189115 };
    var Broome_marker = new google.maps.Marker({
      position: Broome,
      map: state,
    });
    var Broome_window = new google.maps.InfoWindow({
      content:
        "<div class='prg-site'>" +
        "<a name='broome' id='broome'></a>" +
        "<p class='bar-head'>Broome County</p>" +
        "<p class='facility'>Healthy Families Broome</p>" +
        "<p><em>Serves all of Broome County</em><br />" +
        "Broome County Health Department &amp; Lourdes Hospital</p>" +
        "<p>Phone: (607) 778-3909<br>" +
        "Fax: 607-778-2864" +
        "</p>" +
        "<p>Program Coordinator: <a href='mailto:carol.peeling@broomecounty.us'>Carol Peeling</a></p>" +
        "<p>Screening form: <a href='https://www.surveymonkey.com/r/HFB-PACT' target='_blank'>Click here</a></p>" +
        "<p class='top'><a href='#state'>back to map</a></p>" +
        "</div>",
    });
    Broome_marker.setTitle("Healthy Families Broome County");
    Broome_marker.setLabel("Broome");
    google.maps.event.addListener(Broome_marker, "click", function () {
      Broome_window.open(state, Broome_marker);
    });

    var Cattaraugus = { lat: 42.27486, lng: -78.673317 };
    var Cattaraugus_marker = new google.maps.Marker({
      position: Cattaraugus,
      map: state,
    });
    var Cattaraugus_window = new google.maps.InfoWindow({
      content:
        "<div class='prg-site'>" +
        "<a name='cattaraugus' id='cattaraugus'></a>" +
        "<p class='bar-head'>Allegany and Cattaraugus Counties</p>" +
        "<p class='facility'>Healthy Families of Allegany and Cattaraugus</p>" +
        "<p><em>Serves all of Allegany and Cattaraugus Counties </em><br />" +
        "Parent Education Program, Inc.</p>" +
        "<p>Phone: (716) 372-5987<br>" +
        "Fax: (716) 372-8640" +
        "</p>" +
        "<p>Interim Program Manager: <a href='mailto:jasmineth18@yahoo.com'>Jasmine Hall</a></p>" +
        "<p class='top'><a href='#state'>back to map</a></p>" +
        "</div>",
    });
    Cattaraugus_marker.setTitle("Healthy Families Cattaraugus County");
    Cattaraugus_marker.setLabel("Cattaraugus");
    google.maps.event.addListener(Cattaraugus_marker, "click", function () {
      Cattaraugus_window.open(state, Cattaraugus_marker);
    });

    var Cayuga = { lat: 42.93199, lng: -76.56655 };
    var Cayuga_marker = new google.maps.Marker({
      position: Cayuga,
      map: state,
    });
    var Cayuga_window = new google.maps.InfoWindow({
      content:
        "<div class='prg-site'>" +
        "<a name='cayuga' id='cayuga'></a>" +
        "<p class='bar-head'>Cayuga County</p>" +
        "<p class='facility'>Cayuga Healthy Families</p>" +
        "<p><em>Serves ZIP codes 13021, 13152, 13118, 13166, 13140, 13080, 13033, 13143, 13092, 13034, 13111, 13156, 13160, 13117, 13026, 13081, 13147, 13071, 13113, 13024, 13064, 13022, 13139</em><br />" +
        "Cayuga Counseling Services, Inc.</p>" +
        "<p>Phone: (315) 253-9795<br>" +
        "</p>" +
        "<p>Program Manager: <a href='mailto:melissav@cayugacounseling.org'>Melissa Visco</a></p>" +
        "<p class='top'><a href='#'>back to map</a></p>" +
        "</div>",
    });
    Cayuga_marker.setTitle("Cayuga Healthy Families");
    Cayuga_marker.setLabel("Cayuga");
    google.maps.event.addListener(Cayuga_marker, "click", function () {
      Cayuga_window.open(state, Cayuga_marker);
    });

    var Chautauqua = { lat: 42.0970161044008, lng: -79.23740895237653 };
    var Chautauqua_marker = new google.maps.Marker({
      position: Chautauqua,
      map: state,
    });
    var Chautauqua_window = new google.maps.InfoWindow({
      content:
        "<div class='prg-site'>" +
        "<a name='chautauqua' id='chautauqua'></a>" +
        "<p class='bar-head'>Chautauqua County</p>" +
        "<p class='facility'>Healthy Families Chautauqua</p>" +
        "<p><em>Serves all of Chautauqua County</em><br />" +
        "Jamestown Community Learning Council</p>" +
        "<p>Phone: (716) 483-5624 ext. 7<br>" +
        "Fax: (716) 661-9431" +
        "</p>" +
        "<p>Program Manager: <a href='mailto:connie.desmarais@jclcprograms.org'>Connie Desmarais</a></p>" +
        "<p class='top'><a href='#'>back to map</a></p>" +
        "</div>",
    });
    Chautauqua_marker.setTitle("Healthy Families Chautauqua");
    Chautauqua_marker.setLabel("Chautauqua");
    google.maps.event.addListener(Chautauqua_marker, "click", function () {
      Chautauqua_window.open(state, Chautauqua_marker);
    });

    var Chemung = { lat: 42.0918439, lng: -76.795156 };
    var Chemung_marker = new google.maps.Marker({
      position: Chemung,
      map: state,
    });
    var Chemung_window = new google.maps.InfoWindow({
      content:
        "<div class='prg-site'>" +
        "<a name='chemung' id='chemung'></a>" +
        "<p class='bar-head'>Chemung County</p>" +
        "<p class='facility'>Healthy Families Chemung County</p>" +
        "<p><em>Serves all of Chemung County</em><br />" +
        "Comprehensive Interdisciplinary Developmental Services, Inc.</p>" +
        "<p>Phone: (607) 733-6533<br>" +
        "Fax: (607) 733-0939" +
        "</p>" +
        "<p>Program Manager: <a href='mailto:rebeccam@cidsfamilies.com'>Rebecca Moss</a></p>" +
        "<p class='top'><a href='#'>back to map</a></p>" +
        "</div>",
    });
    Chemung_marker.setTitle("Healthy Families Chemung County");
    Chemung_marker.setLabel("Chemung");
    google.maps.event.addListener(Chemung_marker, "click", function () {
      Chemung_window.open(state, Chemung_marker);
    });

    var Chenango = { lat: 42.531219, lng: -75.523781 };
    var Chenango_marker = new google.maps.Marker({
      position: Chenango,
      map: state,
    });
    var Chenango_window = new google.maps.InfoWindow({
      content:
        "<div class='prg-site'>" +
        "<a name='chenango' id='chenango'></a>" +
        "<p class='bar-head'>Chenango County</p>" +
        "<p class='facility'>Tioga Chenango PACT Healthy Families<br/>Healthy Families Chenango County</p>" +
        "<p><em>Serves both Tioga and Chenango Counties</em><br />" +
        "Our Lady of Lourdes Memorial Hospital/Youth Services</p>" +
        "<p>Phone: 607-206-5272<br>" +
        "Fax: (607) 687-6149</p>" +
        "<p>Program Manager: <a href='mailto:elizabeth.lynch@ascension.org'>Elizabeth Lynch</a></p>" +
        "<p class='top'><a href='#'>back to map</a></p>" +
        "</div>",
    });
    Chenango_marker.setTitle("Tioga Chenango PACT Healthy Families");
    Chenango_marker.setLabel("Chenango");
    google.maps.event.addListener(Chenango_marker, "click", function () {
      Chenango_window.open(state, Chenango_marker);
    });

    var Clinton = { lat: 44.6847536, lng: -73.4486723 };
    var Clinton_marker = new google.maps.Marker({
      position: Clinton,
      map: state,
    });
    var Clinton_window = new google.maps.InfoWindow({
      content:
        "<div class='prg-site'>" +
        "<a name='clinton' id='clinton'></a>" +
        "<p class='bar-head'>Clinton County</p>" +
        "<p class='facility'>Healthy Families North Country</p>" +
        "<p><em>Serves Clinton, Essex, Franklin, Hamilton, and Warren counties, including the St. Regis Mohawk Nation</em><br />" +
        "<a href='http://www.bhsn.org/home-visiting.php' target='_blank'>Behavioral Health Services North, Inc.</a></p>" +
        "<p>Phone: (518) 563-8206 x134<br>" +
        "Fax: (518) 563-9958" +
        "</p>" +
        "<p>Program Manager: <a href='mailto:epiper@bhsn.org'>Esther Piper</a></p>" +
        "<p class='top'><a href='#'>back to map</a></p>" +
        "</div>",
    });
    Clinton_marker.setTitle("Healthy Families North Country");
    Clinton_marker.setLabel("Clinton");
    google.maps.event.addListener(Clinton_marker, "click", function () {
      Clinton_window.open(state, Clinton_marker);
    });

    var Columbia = { lat: 42.2487797, lng: -73.7919889 };
    var Columbia_marker = new google.maps.Marker({
      position: Columbia,
      map: state,
    });
    var Columbia_window = new google.maps.InfoWindow({
      content:
        "<div class='prg-site'>" +
        "<a name='columbia' id='columbia'></a>" +
        "<p class='bar-head'>Columbia County</p>" +
        "<p class='facility'>Healthy Families Columbia & Greene County</p>" +
        "<p><em>Serves the city of Hudson</em><br />" +
        "<a href='https://www.catholiccharitiescg.org/' target='_blank'>Catholic Charities of Columbia &amp; Greene Counties.</a></p>" +
        "<p>Phone: (518) 828-8660<br>" +
        "Fax: (518) 828-4016</p>" +
        "<p>Program Manager: <a href='mailto:bdolan@cathcharcg.org'>Beth Dolan-Cooper</a></p>" +
        "<p class='top'><a href='#'>back to map</a></p>" +
        "</div>",
    });
    Columbia_marker.setTitle("Healthy Families Columbia County");
    Columbia_marker.setLabel("Columbia");
    google.maps.event.addListener(Columbia_marker, "click", function () {
      Columbia_window.open(state, Columbia_marker);
    });

    var Cortland = { lat: 42.6028912, lng: -76.1830532 };
    var Cortland_marker = new google.maps.Marker({
      position: Cortland,
      map: state,
    });
    var Cortland_window = new google.maps.InfoWindow({
      content:
        "<div class='prg-site'>" +
        "<a name='cortland' id='cortland'></a>" +
        "<p class='bar-head'>Healthy Families Cortland</p>" +
        "<p class='facility'>Healthy Families Cortland </p>" +
        "<p><em>Serves all of Cortland County</em><br />" +
        "<p>Phone: 607-844-7327<br>" +
        "Fax: 607-753-3827</p>" +
        "<p>Program Manager: <a href='mailto:deannap@capco.org'>Deanna Pace</a></p>" +
        "<p class='top'><a href='#'>back to map</a></p>" +
        "</div>",
    });
    Cortland_marker.setTitle("Healthy Families Cortland County");
    Cortland_marker.setLabel("Cortland");
    google.maps.event.addListener(Cortland_marker, "click", function () {
      Cortland_window.open(state, Cortland_marker);
    });

    var Delaware = { lat: 42.187447, lng: -75.000984 };
    var Delaware_marker = new google.maps.Marker({
      position: Delaware,
      map: state,
    });
    var Delaware_window = new google.maps.InfoWindow({
      content:
        "<div class='prg-site'>" +
        "<a name='delaware' id='delaware'></a>" +
        "<p class='bar-head'>Delaware County</p>" +
        "<p class='facility'>Healthy Families of Delaware Opportunities</p>" +
        "<p><em>Serves all of Delaware County</em><br />" +
        "Delaware Opportunities</p>" +
        "<p>Phone: (607) 746-1730<br>" +
        "Fax: (607) 746-1648" +
        "</p>" +
        "<p>Supervisor/Assistant Program Manager: <a href='mailto:vjaindl@DelawareOpportunities.org'>Vatisia Jaindl</a><br />" +
        "<p><a href='./Media/pdf/HFDO Screen.pdf' target='_blank'>Screening Form</a></p>" +
        "<p><a href='./Media/resources/Brochure 2020 final.pub'>Brochure (2020)</a></p>" +
        "<p class='top'><a href='#'>back to map</a></p>" +
        "</div>",
    });
    Delaware_marker.setTitle("Healthy Families Delaware County");
    Delaware_marker.setLabel("Delaware");
    google.maps.event.addListener(Delaware_marker, "click", function () {
      Delaware_window.open(state, Delaware_marker);
    });

    var Dutchess = { lat: 41.7434629, lng: -74.070301 };
    var Dutchess_marker = new google.maps.Marker({
      position: Dutchess,
      map: state,
    });
    var Dutchess_window = new google.maps.InfoWindow({
      content:
        "<div class='prg-site'>" +
        "<a name='dutchess' id='dutchess'></a>" +
        "<p class='bar-head'>Dutchess County</p>" +
        "<p class='facility'>Dutchess County Healthy Families: The Institute for Family Health</p>" +
        "<p><em>Serves: City of Poughkeepsie, Town of Poughkeepsie, City of Beacon, Town of Hyde Park," +
        "Village of East Fishkill, Town of Fishkill, and Village of Wappingers Falls" +
        "in ZIP codes 12601, 12603, 12508, 12538, 12533, and 12524</em><br />" +
        "The Institute for Family Health</p>" +
        "<p>2 locations:<br />" +
        "Poughkeepsie<br>" +
        "Phone:  (845)-499-8906<br>" +
        "Fax: (845) 452-3682<br>" +
        "<br />" +
        "Beacon <br>" +
        "Phone: (845)452-3387 ext 3915</p>" +
        "<p>Program Manager: <a href='mailto:NEngelhard@institute.org'>Nora Engelhard</a></p>" +
        "<p class='top'><a href='#'>back to map</a></p>" +
        "</div>",
    });
    Dutchess_marker.setTitle("Healthy Families Dutchess County");
    Dutchess_marker.setLabel("Dutchess");
    google.maps.event.addListener(Dutchess_marker, "click", function () {
      Dutchess_window.open(state, Dutchess_marker);
    });

    var Erie = { lat: 42.901241, lng: -78.8750413 };
    var Erie_marker = new google.maps.Marker({ position: Erie, map: state });
    var Erie_window = new google.maps.InfoWindow({
      content:
        "<div class='prg-site'>" +
        "<a name='erie' id='erie'></a>" +
        "<p class='bar-head'>Erie County</p>" +
        "<p class='facility'>Buffalo Home Visiting Program</p>" +
        "<p><em>Serves ZIP codes 14120, 14201, 14202, 14203, 14204, 14206, 14207, 14208," +
        "14209, 14210, 14211, 14212, 14213, 14214, 14215, 14216, 14218, 14219, 14220, 14222, and 14225</em><br />" +
        "Buffalo Prenatal-Perinatal Network</p>" +
        "<p> Phone: (716) 884-6711<br>" +
        "Fax: (716) 884-7734" +
        "</p>" +
        "<p>Program Manager: <a href='mailto:amc@bppn.org'>Ann Marie Correa</a></p>" +
        "<p class='top'><a href='#'>back to map</a></p>" +
        "</div>",
    });
    Erie_marker.setTitle("Healthy Families Erie County");
    Erie_marker.setLabel("Erie");
    google.maps.event.addListener(Erie_marker, "click", function () {
      Erie_window.open(state, Erie_marker);
    });

    var Essex = { lat: 44.110267, lng: -73.834646 };
    var Essex_marker = new google.maps.Marker({ position: Essex, map: state });
    var Essex_window = new google.maps.InfoWindow({
      content:
        "<div class='prg-site'>" +
        "<a name='essex' id='essex'></a>" +
        "<p class='bar-head'>Essex County</p>" +
        "<p class='facility'>Healthy Families North Country</p>" +
        "<p><em>Serves Clinton, Essex, Franklin, Hamilton, and Warren counties, including the St. Regis Mohawk Nation</em><br />" +
        "<a href='http://www.bhsn.org/home-visiting.php' target='_blank'>Behavioral Health Services North, Inc.</a></p>" +
        "<p>Phone: (518) 563-8206 x134<br>" +
        "Fax: (518) 563-9958" +
        "</p>" +
        "<p>Program Manager: <a href='mailto:epiper@bhsn.org'>Esther Piper</a></p>" +
        "<p class='top'><a href='#'>back to map</a></p>" +
        "</div>",
    });
    Essex_marker.setTitle("Healthy Families North Country");
    Essex_marker.setLabel("Essex");
    google.maps.event.addListener(Essex_marker, "click", function () {
      Essex_window.open(state, Essex_marker);
    });

    var Franklin = { lat: 44.615422, lng: -74.30991 };
    var Franklin_marker = new google.maps.Marker({
      position: Franklin,
      map: state,
    });
    var Franklin_window = new google.maps.InfoWindow({
      content:
        "<div class='prg-site'>" +
        "<a name='franklin' id='franklin'></a>" +
        "<p class='bar-head'>Franklin County</p>" +
        "<p class='facility'>Healthy Families North Country</p>" +
        "<p><em>Serves Clinton, Essex, Franklin, Hamilton, and Warren counties, including the St. Regis Mohawk Nation</em><br />" +
        "<a href='http://www.bhsn.org/home-visiting.php' target='_blank'>Behavioral Health Services North, Inc.</a></p>" +
        "<p>Phone: (518) 563-8206 x134<br>" +
        "Fax: (518) 563-9958" +
        "</p>" +
        "<p>Program Manager: <a href='mailto:epiper@bhsn.org'>Esther Piper</a></p>" +
        "<p class='top'><a href='#'>back to map</a></p>" +
        "</div>",
    });
    Franklin_marker.setTitle("Healthy Families North Country");
    Franklin_marker.setLabel("Franklin");
    google.maps.event.addListener(Franklin_marker, "click", function () {
      Franklin_window.open(state, Franklin_marker);
    });

    var Fulton = { lat: 43.05298700552785, lng: -74.34755976919645 };
    var Fulton_marker = new google.maps.Marker({
      position: Fulton,
      map: state,
    });
    var Fulton_window = new google.maps.InfoWindow({
      content:
        "<div class='prg-site'>" +
        "<a name='fulton' id='fulton'></a>" +
        "<p class='bar-head'>Fulton County</p>" +
        "<p class='facility'>Healthy Families of Fulton and Washington Counties</p>" +
        "<p><em>Serves ZIP codes 12025, 12078, 12095, and 12117 in Fulton County</em><br />" +
        "Community Maternity Services</p>" +
        "<p>Phone: (518) 668-3167<br>" +
        "Fax: (518) 668-3788" +
        "</p>" +
        "<p>Program Manager: <a href='mailto:Katherine@cccms.org'>Katie Driscoll</a></p>" +
        "<p class='top'><a href='#'>back to map</a></p>" +
        "</div>",
    });
    Fulton_marker.setTitle(
      "Healthy Families of Fulton and Washington Counties",
    );
    Fulton_marker.setLabel("Fulton");
    google.maps.event.addListener(Fulton_marker, "click", function () {
      Fulton_window.open(state, Fulton_marker);
    });

    var Genesee = { lat: 42.998613249972806, lng: -78.18675567574013 };
    var Genesee_marker = new google.maps.Marker({
      position: Genesee,
      map: state,
    });
    var Genesee_window = new google.maps.InfoWindow({
      content:
        "<div class='prg-site'>" +
        "<a name='genesee' id='genesee'></a>" +
        "<p class='bar-head'>Genesee County</p>" +
        "<p class='facility'>Wyoming-Genesee Healthy Families Partnership</p>" +
        "<p><em>Serves all of Genesee County</em><br />" +
        "Wyoming County Community Action</p>" +
        "<p>Phone: (585) 786-8890<br></p>" +
        "<p>Program Manager: <a href='mailto:cglaus@wyomingco.net'>Cheryl Glaus</a></p>" +
        "<p class='top'><a href='#'>back to map</a></p>" +
        "</div>",
    });
    Genesee_marker.setTitle("Wyoming-Genesee Healthy Families Partnership");
    Genesee_marker.setLabel("Genesee");
    google.maps.event.addListener(Genesee_marker, "click", function () {
      Genesee_window.open(state, Genesee_marker);
    });

    var Greene = { lat: 42.299237890524296, lng: -73.99953717557574 };
    var Greene_marker = new google.maps.Marker({
      position: Greene,
      map: state,
    });
    var Greene_window = new google.maps.InfoWindow({
      content:
        "<div class='prg-site'>" +
        "<a name='greene' id='greene'></a>" +
        "<p class='bar-head'>Greene County</p>" +
        "<p class='facility'>Healthy Families Columbia & Greene County</p>" +
        "<p><em>Serves all of Greene County</em><br />" +
        "Catholic Charities of Columbia & Greene</p>" +
        "<p>Phone: (518) 828-8660<br>" +
        "Fax: (518) 828-4016" +
        "</p>" +
        "<p>Program Manager: <a href='mailto:bdolan@cathcharcg.org'>Beth Dolan-Cooper</a></p>" +
        "<p class='top'><a href='#'>back to map</a></p>" +
        "</div>",
    });
    Greene_marker.setTitle("Healthy Families Columbia & Greene County");
    Greene_marker.setLabel("Greene");
    google.maps.event.addListener(Greene_marker, "click", function () {
      Greene_window.open(state, Greene_marker);
    });

    var Hamilton = { lat: 43.687574, lng: -74.523043 };
    var Hamilton_marker = new google.maps.Marker({
      position: Hamilton,
      map: state,
    });
    var Hamilton_window = new google.maps.InfoWindow({
      content:
        "<div class='prg-site'>" +
        "<a name='hamilton' id='hamilton'></a>" +
        "<p class='bar-head'>Hamilton County</p>" +
        "<p class='facility'>Healthy Families North Country</p>" +
        "<p><em>Serves Clinton, Essex, Franklin, Hamilton, and Warren counties, including the St. Regis Mohawk Nation</em><br />" +
        "<a href='http://www.bhsn.org/home-visiting.php' target='_blank'>Behavioral Health Services North, Inc.</a></p>" +
        "<p>Phone: (518) 563-8206 x134<br>" +
        "Fax: (518) 563-9958" +
        "</p>" +
        "<p>Program Manager: <a href='mailto:epiper@bhsn.org'>Esther Piper</a></p>" +
        "<p class='top'><a href='#'>back to map</a></p>" +
        "</div>",
    });
    Hamilton_marker.setTitle("Healthy Families North Country");
    Hamilton_marker.setLabel("Hamilton");
    google.maps.event.addListener(Hamilton_marker, "click", function () {
      Hamilton_window.open(state, Hamilton_marker);
    });

    var Herkimer = { lat: 43.0291653, lng: -74.9898725 };
    var Herkimer_marker = new google.maps.Marker({
      position: Herkimer,
      map: state,
    });
    var Herkimer_window = new google.maps.InfoWindow({
      content:
        "<div class='prg-site'>" +
        "<a name='herkimer' id='herkimer'></a>" +
        "<p class='bar-head'>Herkimer County</p>" +
        "<p class='facility'>Herkimer County Healthy Families</p>" +
        "<p><em>Serves all of Herkimer County</em><br />" +
        "Herkimer County Public Health</p>" +
        "<p>Phone: (315) 867-1176<br>" +
        "Fax: (315) 867-1612" +
        "</p>" +
        "<p>Program Manager: <a href='mailto:wiamele@herkimercounty.org>'>Wendy Iamele</a></p>" +
        "<p class='top'><a href='#'>back to map</a></p>" +
        "</div>",
    });
    Herkimer_marker.setTitle("Healthy Families Herkimer County");
    Herkimer_marker.setLabel("Herkimer");
    google.maps.event.addListener(Herkimer_marker, "click", function () {
      Herkimer_window.open(state, Herkimer_marker);
    });

    var Jefferson = { lat: 43.9739063, lng: -75.9137223 };
    var Jefferson_marker = new google.maps.Marker({
      position: Jefferson,
      map: state,
    });
    var Jefferson_window = new google.maps.InfoWindow({
      content:
        "<div class='prg-site'>" +
        "<a name='jefferson' id='jefferson'></a>" +
        "<p class='bar-head'>Jefferson County</p>" +
        "<p class='facility'>Healthy Families of Jefferson County</p>" +
        "<p><em>Serves all of Jefferson County</em><br />" +
        "<a href='http://www.ncppc.org/' target='_blank'>North Country Prenatal Perinatal Council, Inc.</a></p>" +
        "<p>Phone: (315) 788-8533 x259<br>" +
        "Fax: (315) 222-7348</p>" +
        "<p>Program Manager: <a href='mailto:hfnyprogmgr@ncppc.org'>Joe Pat&#233;</a></p>" +
        "<p class='top'><a href='#'>back to map</a></p>" +
        "</div>",
    });
    Jefferson_marker.setTitle("Healthy Families Jefferson County");
    Jefferson_marker.setLabel("Jefferson");
    google.maps.event.addListener(Jefferson_marker, "click", function () {
      Jefferson_window.open(state, Jefferson_marker);
    });

    var Lewis = { lat: 43.789651874718196, lng: -75.48633309063982 };
    var Lewis_marker = new google.maps.Marker({ position: Lewis, map: state });
    var Lewis_window = new google.maps.InfoWindow({
      content:
        "<div class='prg-site'>" +
        "<a name='lewis' id='lewis'></a>" +
        "<p class='bar-head'>Lewis County</p>" +
        "<p class='facility'>Healthy Families Jefferson/Lewis</p>" +
        "<p><em>Serves all of Lewis County</em><br />" +
        "<a href='http://www.ncppc.org/' target='_blank'>North Country Prenatal Perinatal Council, Inc.</a></p>" +
        "<p>Phone: (315) 788-8533 x259<br>" +
        "Fax: (315) 222-7348</p>" +
        "<p>Program Manager: <a href='mailto:hfnyprogmgr@ncppc.org'>Joe Pat&#233;</a></p>" +
        "<p class='top'><a href='#'>back to map</a></p>" +
        "</div>",
    });
    Lewis_marker.setTitle("Healthy Families Jefferson/Lewis");
    Lewis_marker.setLabel("Lewis");
    google.maps.event.addListener(Lewis_marker, "click", function () {
      Lewis_window.open(state, Lewis_marker);
    });

    var Livingston = { lat: 42.72735664940234, lng: -77.86946476021161 };
    var Livingston_marker = new google.maps.Marker({
      position: Livingston,
      map: state,
    });
    var Livingston_window = new google.maps.InfoWindow({
      content:
        "<div class='prg-site'>" +
        "<a name='Livingston' id='Livingston'></a>" +
        "<p class='bar-head'>Livingston County</p>" +
        "<p class='facility'>" +
        "<a href='https://ccsteubenlivingston.org/our-services-2/help-for-families/healthy-families/' target='_blank'>" +
        "Healthy Families Steuben/Livingston</a></p>" +
        "<p><em>Serves all of Steuben and Livingston Counties</em><br />" +
        "Catholic Charities Steuben/Livingston</p>" +
        "<p>Phone: 607-968-0682<br />" +
        "Fax: 607-962-0724</p>" +
        "<p>Program Manager: <a href='mailto:Christine.Ames@dor.org'>Christine Ames</a></p>" +
        "<p class='top'><a href='#'>back to map</a></p>" +
        "</div>",
    });
    Livingston_marker.setTitle("Healthy Families Steuben/Livingston");
    Livingston_marker.setLabel("Livingston");
    google.maps.event.addListener(Livingston_marker, "click", function () {
      Livingston_window.open(state, Livingston_marker);
    });

    var Madison = { lat: 43.0654934, lng: -75.7579215 };
    var Madison_marker = new google.maps.Marker({
      position: Madison,
      map: state,
    });
    var Madison_window = new google.maps.InfoWindow({
      content:
        "<div class='prg-site'>" +
        "<a name='madison' id='madison'></a>" +
        "<p class='bar-head'>Madison County</p>" +
        "<p class='facility'>Healthy Families Madison</p>" +
        "<p><em>Serves all of Madison County</em><br />" +
        "<a href='https://sites.google.com/site/capformadisoncounty/programs/early-childhood' target='_blank'>Community Action Program for Madison County</a></p>" +
        "<p>Phone: (315) 684-3144<br>" +
        "Fax: (315) 697-3690</p>" +
        "<p>Program Manager: <a href='mailto:omonahan@capmadco.org'>Olivia Monahan</a></p>" +
        "<p><a href='../Media/pdf/CAPtri-foldbrochure2013.pdf'>Community Action Partnership Brochure 2013</a><br />" +
        "<a href='../Media/pdf/CAP2013HealthyFamiliesParentHandbookHFNY.pdf'>Healthy Families Madison Handbook 2013-14</a><br />" +
        "<a href='../Media/pdf/CAPHomeBasedServices2014.pdf'>Community Action Partnership - Home Based Services</a></p>" +
        "<p class='top'><a href='#'>back to map</a></p>" +
        "</div>",
    });
    Madison_marker.setTitle("Healthy Families Madison County");
    Madison_marker.setLabel("Madison");
    google.maps.event.addListener(Madison_marker, "click", function () {
      Madison_window.open(state, Madison_marker);
    });

    var Monroe = { lat: 43.1497004, lng: -77.6144118 };
    var Monroe_marker = new google.maps.Marker({
      position: Monroe,
      map: state,
    });
    var Monroe_window = new google.maps.InfoWindow({
      content:
        "<div class='prg-site'>" +
        "<a name='monroe' id='monroe'></a>" +
        "<p class='bar-head'>Monroe County</p>" +
        "<p class='facility'>Healthy Families Monroe</p>" +
        "<p><em>Serves all of Monroe County</em><br />" +
        "<a href='https://www.spcc-roch.org/programs/healthy-families-monroe-hfm/' target='_blank'>Society for the Protection & Care of Children (SPCC)</a></p>" +
        "<p>Phone: (585) 325-6101<br>" +
        "<p>Program Manager: <a href='mailto:HFMinfo@spcc-roch.org'>Leah Kaufman</a></p>" +
        "<p></p>" +
        "<p class='top'><a href='#'>back to map</a></p>" +
        "</div>",
    });
    Monroe_marker.setTitle("Healthy Families Monroe County");
    Monroe_marker.setLabel("Monroe");
    google.maps.event.addListener(Monroe_marker, "click", function () {
      Monroe_window.open(state, Monroe_marker);
    });

    var Montgomery = { lat: 42.93609563189475, lng: -74.18601362142519 };
    var Montgomery_marker = new google.maps.Marker({
      position: Montgomery,
      map: state,
    });
    var Montgomery_window = new google.maps.InfoWindow({
      content:
        "<div class='prg-site'>" +
        "<a name='montgomery' id='montgomery'></a>" +
        "<p class='bar-head'>Montgomery County</p>" +
        "<p class='facility'>Healthy Families Montgomery-Schoharie</p>" +
        "<p><em>Serves all of Montgomery County</em><br />" +
        "ICAN</p>" +
        "<p>Phone: (315) 801-7357<br>" +
        "Fax: (518) 684-5816</p>" +
        "<p>Program Manager: <a href='mailto:kpfeiffer@ican.family'>Dr. Keiley Pfeiffer</a></p>" +
        "<p class='top'><a href='#'>back to map</a></p>" +
        "</div>",
    });
    Montgomery_marker.setTitle("Healthy Families Montgomery-Schoharie");
    Montgomery_marker.setLabel("Montgomery");
    google.maps.event.addListener(Montgomery_marker, "click", function () {
      Montgomery_window.open(state, Montgomery_marker);
    });

    var Nassau = { lat: 40.6546, lng: -73.5594 };
    var Nassau_marker = new google.maps.Marker({
      position: Nassau,
      map: state,
    });
    var Nassau_window = new google.maps.InfoWindow({
      content:
        "<div class='prg-site'>" +
        "<a name='nassau' id='nassau'></a>" +
        "<p class='bar-head'>Nassau County</p>" +
        "<p class='facility'>Healthy Families Nassau</p>" +
        "<p><em>Serves all of Nassau County</em><br />" +
        "Family Service League, Inc.<br /></p>" +
        "<p>Phone:(631) 647-3100 x6225<br>" +
        "Fax: (631) 969-8639</p>" +
        "<p>Program Manager: <a href='mailto:emily.girgenti@fsl-li.org'>Emily Girgenti</a></p>" +
        "</div>",
    });
    Nassau_marker.setTitle("Healthy Families Nassau County");
    Nassau_marker.setLabel("Nassau");
    google.maps.event.addListener(Nassau_marker, "click", function () {
      Nassau_window.open(state, Nassau_marker);
    });

    var Niagara = { lat: 43.103361, lng: -79.054917 };
    var Niagara_marker = new google.maps.Marker({
      position: Niagara,
      map: state,
    });
    var Niagara_window = new google.maps.InfoWindow({
      content:
        "<div class='prg-site'>" +
        "<a name='niagara' id='niagara'></a>" +
        "<p class='bar-head'>Niagara County</p>" +
        "<p class='facility'>Healthy Families Niagara</p>" +
        "<p><em>Serves all of Niagara County</em><br />" +
        "<a href='https://www.pinnaclecs.org/our-services/parenting-services/' target='_blank'>Pinnacle Community Services</a>. with Niagara County Department of Social Services</p>" +
        "<p>Phone: (716) 285-6984 x104<br>" +
        "Fax: (716) 285-0831</p>" +
        "<p>Interim Program Manager: <a href='mailto:lbachman@pinnaclecs.org'>Larissa Bachman</a></p>" +
        "<p class='top'><a href='#'>back to map</a></p>" +
        "</div>",
    });
    Niagara_marker.setTitle("Healthy Families Niagara County");
    Niagara_marker.setLabel("Niagara");
    google.maps.event.addListener(Niagara_marker, "click", function () {
      Niagara_window.open(state, Niagara_marker);
    });

    var Oneida = { lat: 43.1037856, lng: -75.2266266 };
    var Oneida_marker = new google.maps.Marker({
      position: Oneida,
      map: state,
    });
    var Oneida_window = new google.maps.InfoWindow({
      content:
        "<div class='prg-site'>" +
        "<a name='oneida' id='oneida'></a>" +
        "<p class='bar-head'>Oneida County</p>" +
        "<p class='facility'>Healthy Families of Oneida County</p>" +
        "<p><em>Serves all of Oneida County</em><br />" +
        "Family Nurturing Center of Kids Oneida, Inc.</p>" +
        "<p>Phone: (315) 731-2680<br>" +
        "Fax: (315) 792-9578</p>" +
        "<p>Program Manager: <a href='mailto:dcole@ican.family'>Doreen Cole</a></p>" +
        "<p class='top'><a href='#'>back to map</a></p>" +
        "</div>",
    });
    Oneida_marker.setTitle("Healthy Families Oneida County");
    Oneida_marker.setLabel("Oneida");
    google.maps.event.addListener(Oneida_marker, "click", function () {
      Oneida_window.open(state, Oneida_marker);
    });

    var Onondaga = { lat: 43.0472567376971, lng: -76.15879613953739 };
    var Onondaga_marker = new google.maps.Marker({
      position: Onondaga,
      map: state,
    });
    var Onondaga_window = new google.maps.InfoWindow({
      content:
        '<div class="prg-site">' +
        '<a name="onondaga" id="onondaga"></a>' +
        '<p class="bar-head">Onondaga County</p>' +
        '<p class="facility">Healthy Families NY Visiting Program - Onondaga County</p>' +
        "<p><em>Serves all of Onondaga County</em><br />" +
        "Hillside Children Center</p>" +
        "<p>Phone: (315) 835-1666</p>" +
        '<p>Program Manager: <a href="mailto:scallard@hillside.com">Sarah Callard</a></p>' +
        '<p class="top"><a href="#">back to map</a></p>' +
        "</div>",
    });
    Onondaga_marker.setTitle("Healthy Families Onondaga County");
    Onondaga_marker.setLabel("Onondaga");
    google.maps.event.addListener(Onondaga_marker, "click", function () {
      Onondaga_window.open(state, Onondaga_marker);
    });

    var Ontario = { lat: 42.8796033, lng: -77.2786953 };
    var Ontario_marker = new google.maps.Marker({
      position: Ontario,
      map: state,
    });
    var Ontario_window = new google.maps.InfoWindow({
      content:
        "<div class='prg-site'>" +
        "<a name='ontario' id='ontario'></a>" +
        "<p class='bar-head'>Ontario County</p>" +
        "<p class='facility'>Healthy Families Ontario Yates</p>" +
        "<p><em>Serves Eastern Ontario County (ZIP codes 14424, 14425,  14432, 14456, 14461,14463, 14504, 14532, 14547, 14548, and 14561) and all of Yates County</em><br />" +
        "<a href='http://www.cfresources.org/content.aspx?page_id=22&amp;club_id=626081&amp;module_id=15119' target='_blank'>Child &amp; Family Resources</a></p>" +
        "<p>Phone: (585) 919-2476 x2507<br>" +
        "Fax: (585) 394-2078</p>" +
        "<p>Program Manager: <a href='mailto:sarah.scorsone@cfresources.org'>Sarah Scorsone</a></p>" +
        "<p><a href='Media/pdf/HFOYbrochure 12-2016.pdf' target='_blank'>Brochure</a> </p>" +
        "</div>",
    });
    Ontario_marker.setTitle("Healthy Families Ontario County");
    Ontario_marker.setLabel("Ontario");
    google.maps.event.addListener(Ontario_marker, "click", function () {
      Ontario_window.open(state, Ontario_marker);
    });

    var Orange = { lat: 41.499339, lng: -74.0122379 };
    var Orange_marker = new google.maps.Marker({
      position: Orange,
      map: state,
    });
    var Orange_window = new google.maps.InfoWindow({
      content:
        "<div class='prg-site'>" +
        "<a name='orange' id='orange'></a>" +
        "<p class='bar-head'>Orange County</p>" +
        "<p class='facility'>Healthy Families of Orange County</p>" +
        "<p><em>Serves Newburgh, New Windsor and Walden</em>, <em>12550, 12553, 12586</em>)<br />" +
        "Access: Supports for Living Inc.</p>" +
        "<p>Phone: (845) 467-3044<br/>" +
        "Fax: (845) 343-9906</p>" +
        "<p>Program Manager: <a href='mailto:csmith@asfl.org'>Carley Smith</a></p>" +
        "<p><a href='../Media/pdf/Access_healthyFamilies_UpdatedNow Serving final.pdf' target='_blank'>Brochure - English</a><br />" +
        "<a href='../Media/pdf/Access_healthyFamilies_Spanish_UpdatedNow Servin final.pdf' target='_blank'> Brochure - Spanish</a></p>" +
        "<p class='top'><a href='#'>back to map</a></p>" +
        "</div>",
    });
    Orange_marker.setTitle("Healthy Families Orange County");
    Orange_marker.setLabel("Orange");
    google.maps.event.addListener(Orange_marker, "click", function () {
      Orange_window.open(state, Orange_marker);
    });

    var Orleans = { lat: 43.2515139200021, lng: -78.18739028349036 };
    var Orleans_marker = new google.maps.Marker({
      position: Orleans,
      map: state,
    });
    var Orleans_window = new google.maps.InfoWindow({
      content:
        "<div class='prg-site'>" +
        "<a name='orleans' id='orleans'></a>" +
        "<p class='bar-head'>Orleans County</p>" +
        "<p class='facility'>Healthy Families Niagara/Orleans</p>" +
        "<p><em>Serves all of Orleans County</em><br />" +
        "</p>" +
        "<a href='https://www.pinnaclecs.org/our-services/parenting-services/' target='_blank'>Pinnacle Community Services</a>. with Niagara County Department of Social Services</p>" +
        "<p>Phone: (716) 285-6984<br>" +
        "Fax: (716) 285-0831</p>" +
        "<p>Program Manager: <a href='mailto:'>Natasha Almonte</a></p>" +
        "<p class='top'><a href='#'>back to map</a></p>" +
        "</div>",
    });
    Orleans_marker.setTitle("Healthy Families Orleans County");
    Orleans_marker.setLabel("Orleans");
    google.maps.event.addListener(Orleans_marker, "click", function () {
      Orleans_window.open(state, Orleans_marker);
    });

    var Oswego = { lat: 43.4504881, lng: -76.4911484 };
    var Oswego_marker = new google.maps.Marker({
      position: Oswego,
      map: state,
    });
    var Oswego_window = new google.maps.InfoWindow({
      content:
        "<div class='prg-site'>" +
        "<a name='oswego' id='oswego'></a>" +
        "<p class='bar-head'>Oswego County (Locally Funded - Provisional HFNY Affiliation)</p>" +
        "<p class='facility'>Healthy Families Oswego County</p>" +
        "<p><em>Serves ZIP codes 13126, 13074, 13144, 13302, 13493,13142</em><br />" +
        "<a href='http://www.oswegocounty.com/health/' target='_blank'>Oswego County Health Department</a>.</p>" +
        "<p>Phone: (315) 349-3553<br>" +
        "Fax:(315) 349-8431  </p>" +
        "<p>Program Manager: <a href='mailto:betty.dunsmoor@oswegocounty.com'>Betty Dunsmoor</a></p>" +
        "<p class='top'><a href='#'>back to map</a></p>" +
        "</div>",
    });
    Oswego_marker.setTitle("Healthy Families Oswego County");
    Oswego_marker.setLabel("Oswego");
    google.maps.event.addListener(Oswego_marker, "click", function () {
      Oswego_window.open(state, Oswego_marker);
    });

    var Otsego = { lat: 42.4478299, lng: -75.0732101 };
    var Otsego_marker = new google.maps.Marker({
      position: Otsego,
      map: state,
    });
    var Otsego_window = new google.maps.InfoWindow({
      content:
        "<div class='prg-site'>" +
        "<a name='otsego' id='otsego'></a>" +
        "<p class='bar-head'>Otsego County</p>" +
        "<p class='facility'>Building Healthy Families Otsego County</p>" +
        "<p><em>Serves all of Otsego County</em><br />" +
        "<a href='http://ofoinc.org/?action=build_healthy_fam' target='_blank'>Opportunities for Otsego, Inc</a>.</p>" +
        "<p>Phone: (607) 433-0444 option 2, x112<br>" +
        "Fax: (607) 433-0440 </p>" +
        "<p>Program Manager: <a href='mailto:thalstead@ofoinc.org'>Treena Halstead</a></p>" +
        "<p><a href='../Media/pdf/BHFProgramBrochure082021.pdf'>BHF Brochure</a><br />" +
        "<a href='../Media/pdf/buildinghealthyfamiliesassessmentbrochure082021.pdf'>BHF Assessment Brochure</a></p>" +
        "<p class='top'><a href='#'>back to map</a></p>" +
        "</div>",
    });
    Otsego_marker.setTitle("Building Healthy Families, Otsego County");
    Otsego_marker.setLabel("Otsego");
    google.maps.event.addListener(Otsego_marker, "click", function () {
      Otsego_window.open(state, Otsego_marker);
    });

    var Putnam = { lat: 41.43032444835593, lng: -73.68799230950033 };
    var Putnam_marker = new google.maps.Marker({
      position: Putnam,
      map: state,
    });
    var Putnam_window = new google.maps.InfoWindow({
      content:
        '<div class="prg-site">' +
        '<a name="putnam" id="putnam"></a>' +
        '<p class="bar-head">Putnam County</p>' +
        '<p class="facility">Healthy Families Putnam County</p>' +
        "<p><em>Serves ZIP codes 10509, 10512, 10541, 10579 in Putnam County</em><br />" +
        "Maternal Infant Services Network (MiSN)</p>" +
        "<p>Phone: (845) 558-3421</p>" +
        '<p>Program Manager: <a href="mailto:shenry@misn-ny.org">Stephanie Henry</a></p>' +
        '<p class="top"><a href="#">back to map</a></p>' +
        "</div>",
    });
    Putnam_marker.setTitle("Healthy Families Putnam County");
    Putnam_marker.setLabel("Putnam");
    google.maps.event.addListener(Putnam_marker, "click", function () {
      Putnam_window.open(state, Putnam_marker);
    });

    var Renssellaer = { lat: 42.7429592, lng: -73.6783819 };
    var Renssellaer_marker = new google.maps.Marker({
      position: Renssellaer,
      map: state,
    });
    var Renssellaer_window = new google.maps.InfoWindow({
      content:
        "<div class='prg-site'>" +
        "<a name='rensselear' id='rensselear'></a>" +
        "<p class='bar-head'>Rensselaer County</p>" +
        "<p class='facility'>Healthy Families of Rensselaer County</p>" +
        "<p><em>Serves all of Rensselaer County</em><br />" +
        "Samaritan Hospital</p>" +
        "<p>Phone: (518) 271-3923<br>" +
        "Fax: (518) 271-7219</p>" +
        "<p>Program Director: <a href='mailto:Laurie.McBain@sphp.com'>Laurie McBain, LCSW </a></p>" +
        "<p><a href='../Media/pdf/HealthyFamiliesRensselaer_brochure.pdf'>Brochure - English</a><br />" +
        "<a href='../Media/pdf/HealthyFamiliesRensselaer-Spanish_brochure.pdf'>Brochure - Spanish</a></p>" +
        "<p class='top'><a href='#'>back to map</a></p>" +
        "</div>",
    });
    Renssellaer_marker.setTitle("Healthy Families Renssellaer County");
    Renssellaer_marker.setLabel("Renssellaer");
    google.maps.event.addListener(Renssellaer_marker, "click", function () {
      Renssellaer_window.open(state, Renssellaer_marker);
    });

    var Rockland = { lat: 41.13026, lng: -74.03813 };
    var Rockland_marker = new google.maps.Marker({
      position: Rockland,
      map: state,
    });
    var Rockland_window = new google.maps.InfoWindow({
      content:
        "<div class='prg-site'>" +
        "<a name='rockland' id='rockland'></a>" +
        "<p class='bar-head'>Healthy Families Rockland County</p>" +
        "<p class='facility'>Healthy Rockland County</p>" +
        "<p><em>Serves ZIP code 10977</em><br /><br />" +
        "Lower Hudson Valley Perinatal Network</p>" +
        "Healthy Families Rockland County </p>" +
        "<p>Phone: 845-598-5100 x101<br>" +
        "Fax: (845) 459-2777</p>" +
        "<p>Program Manager: <a href='mailto:lindorj@lhvpn.net'>John Lindor</a></p>" +
        "<p class='top'><a href='#'>back to map</a></p>" +
        "</div>",
    });
    Rockland_marker.setTitle("Healthy Families Rockland County");
    Rockland_marker.setLabel("Rockland");
    google.maps.event.addListener(Rockland_marker, "click", function () {
      Rockland_window.open(state, Rockland_marker);
    });

    var StLawrence = { lat: 44.66930494458318, lng: -74.9954109185396 };
    var StLawrence_marker = new google.maps.Marker({
      position: StLawrence,
      map: state,
    });
    var StLawrence_window = new google.maps.InfoWindow({
      content:
        "<div class='prg-site'>" +
        "<a name='stlawrence' id='stlawrence'></a>" +
        "<p class='bar-head'>St. Lawrence County</p>" +
        "<p class='facility'>Healthy Families St. Lawrence</p>" +
        "<p><em>Serves all of St. Lawrence County</em><br />" +
        "<a href='http://www.ncppc.org/' target='_blank'>North Country Prenatal Perinatal Council, Inc.</a></p>" +
        "<p>Phone: (315) 788-8533 x259<br>" +
        "Fax: (315) 222-7348</p>" +
        "<p>Program Manager: <a href='mailto:hfnyprogmgr@ncppc.org'>Joe Pat&#233;</a></p>" +
        "<p class='top'><a href='#'>back to map</a></p>" +
        "</div>",
    });
    StLawrence_marker.setTitle("Healthy Families St. Lawrence");
    StLawrence_marker.setLabel("St. Lawrence");
    google.maps.event.addListener(StLawrence_marker, "click", function () {
      StLawrence_window.open(state, StLawrence_marker);
    });

    var Saratoga = { lat: 43.09726944124805, lng: -73.78710179936536 };
    var Saratoga_marker = new google.maps.Marker({
      position: Saratoga,
      map: state,
    });
    var Saratoga_window = new google.maps.InfoWindow({
      content:
        "<div class='prg-site'>" +
        "<a name='saratoga' id='saratoga'></a>" +
        "<p class='bar-head'>Saratoga County</p>" +
        "<p class='facility'>Healthy Families Saratoga County</p>" +
        "<p><em>Serves ZIP codes 12019, 12020, 12027, 12118, 12170, 12188, 12803, 12822, 12828, 12833, 12835, 12866, 12871, 12884 in Saratoga County</em><br />" +
        "The Mechanicville Area Community Services Center</p>" +
        "<p>Phone: (518) 664-8322<br>" +
        "Fax: (518) 664-9457</p>" +
        "<p>Program Manager: <a href='mailto:swagner@mechanicvilleacsc.org'>Samantha Wagner</a></p>" +
        "<p class='top'><a href='#'>back to map</a></p>" +
        "</div>",
    });
    Saratoga_marker.setTitle("Healthy Families Saratoga County");
    Saratoga_marker.setLabel("Saratoga");
    google.maps.event.addListener(Saratoga_marker, "click", function () {
      Saratoga_window.open(state, Saratoga_marker);
    });

    var Schenectady = { lat: 42.81339, lng: -73.9349561 };
    var Schenectady_marker = new google.maps.Marker({
      position: Schenectady,
      map: state,
    });
    var Schenectady_window = new google.maps.InfoWindow({
      content:
        "<div class='prg-site'>" +
        "<a name='schenectady' id='schenectady'></a>" +
        "<p class='bar-head'>Schenectady County</p>" +
        "<p class='facility'>Healthy Schenectady Families</p>" +
        "<p><em>Serves all of Schenectady County</em><br />" +
        "Schenectady County Public Health Service</p>" +
        "<p>Phone: (518) 386-2824, opt. 9, ext. 1154<br>" +
        "Fax: (518) 372-4674" +
        "</p>" +
        "<p>Program Manager: <a href='mailto:tatiana.alcantara@schenectadycounty.com'>Tatiana Alcantara</a></p>" +
        "<p><a href='../Media/pdf/schenectady_screen.pdf'>Referral Information and Screen</a><br />" +
        "<a href='../Media/pdf/schenectady_brochure.pdf'>Brochure</a><br />" +
        "<a href='../Media/pdf/HFSchen1_6_08Gazette.pdf'>Healthy Schenectady Families in the news</a></p>" +
        "<p class='top'><a href='#'>back to map</a></p>" +
        "</div>",
    });
    Schenectady_marker.setTitle("Healthy Schenectady Families");
    Schenectady_marker.setLabel("Schenectady");
    google.maps.event.addListener(Schenectady_marker, "click", function () {
      Schenectady_window.open(state, Schenectady_marker);
    });

    var Schoharie = { lat: 42.6446, lng: -74.3302 };
    var Schoharie_marker = new google.maps.Marker({
      position: Schoharie,
      map: state,
    });
    var Schoharie_window = new google.maps.InfoWindow({
      content:
        "<div class='prg-site'>" +
        "<a name='schoharie' id='schoharie'></a>" +
        "<p class='bar-head'>Schoharie County</p>" +
        "<p class='facility'>Healthy Families Montgomery-Schoharie</p>" +
        "<p><em>Serves all of Schoharie County</em><br />" +
        "ICAN</p>" +
        "<p>Phone: (315) 801-7357<br>" +
        "Fax: (518) 684-5816</p>" +
        "<p>Program Manager: <a href='mailto:kpfeiffer@ican.family'>Dr. Keiley Pfeiffer</a></p>" +
        "<p class='top'><a href='#'>back to map</a></p>" +
        "</div>",
    });
    Schoharie_marker.setTitle("Healthy Families Schoharie County");
    Schoharie_marker.setLabel("Schoharie");
    google.maps.event.addListener(Schoharie_marker, "click", function () {
      Schoharie_window.open(state, Schoharie_marker);
    });

    var Schuyler = { lat: 42.37897948372394, lng: -76.86596115451147 };
    var Schuyler_marker = new google.maps.Marker({
      position: Schuyler,
      map: state,
    });
    var Schuyler_window = new google.maps.InfoWindow({
      content:
        "<div class='prg-site'>" +
        "<a name='schuyler' id='schuyler'></a>" +
        "<p class='bar-head'>Schuyler County</p>" +
        "<p class='facility'>Healthy Families Schuyler/Tompkins</p>" +
        "<p><em>Serves all of Schuyler County</em><br />" +
        "Catholic Charities Steuben/Livingston</p>" +
        "<p>Phone: (607) 968-0682<br>" +
        "<p>Program Manager: <a href='mailto:Christine.Ames@dor.org'>Christine Ames</a></p>" +
        "<p class='top'><a href='#'>back to map</a></p>" +
        "</div>",
    });
    Schuyler_marker.setTitle("Healthy Families Schuyler/Tompkins");
    Schuyler_marker.setLabel("Schuyler");
    google.maps.event.addListener(Schuyler_marker, "click", function () {
      Schuyler_window.open(state, Schuyler_marker);
    });

    var Seneca = { lat: 42.90577992904392, lng: -76.87109706664121 };
    var Seneca_marker = new google.maps.Marker({
      position: Seneca,
      map: state,
    });
    var Seneca_window = new google.maps.InfoWindow({
      content:
        "<div class='prg-site'>" +
        "<a name='seneca' id='seneca'></a>" +
        "<p class='bar-head'>Seneca County</p>" +
        "<p class='facility'>Healthy Families Yates/Seneca</p>" +
        "<p><em>Serves all of Seneca County</em><br />" +
        "Child & Family Resources, Inc.</p>" +
        "<p>Phone: (315) 539-1600</p>" +
        "<p>Program Manager: <a href='mailto:'>Sarah Scorsone</a></p>" +
        "<p class='top'><a href='#'>back to map</a></p>" +
        "</div>",
    });
    Seneca_marker.setTitle("Healthy Families Yates/Seneca");
    Seneca_marker.setLabel("Seneca");
    google.maps.event.addListener(Seneca_marker, "click", function () {
      Seneca_window.open(state, Seneca_marker);
    });

    var Steuben = { lat: 42.3343384, lng: -77.3208781 };
    var Steuben_marker = new google.maps.Marker({
      position: Steuben,
      map: state,
    });
    var Steuben_window = new google.maps.InfoWindow({
      content:
        "<div class='prg-site'>" +
        "<a name='steuben' id='steuben'></a>" +
        "<p class='bar-head'>Steuben County</p>" +
        "<a href='https://ccsteubenlivingston.org/our-services-2/help-for-families/healthy-families/' target='_blank'>" +
        "Healthy Families Steuben/Livingston</a></p>" +
        "<p><em>Serves all of Steuben and Livingston Counties</em><br />" +
        "Catholic Charities Steuben/Livingston</p>" +
        "<p>Phone: 607-968-0682<br />" +
        "Fax: 607-962-0724</p>" +
        "<p>Program Manager: <a href='mailto:Christine.Ames@dor.org'>Christine Ames</a></p>" +
        "<p class='top'><a href='#'>back to map</a></p>" +
        "</div>",
    });
    Steuben_marker.setTitle("Healthy Families Steuben/Livingston");
    Steuben_marker.setLabel("Steuben");
    google.maps.event.addListener(Steuben_marker, "click", function () {
      Steuben_window.open(state, Steuben_marker);
    });

    var Suffolk = { lat: 40.7455071, lng: -73.267041 };
    var Suffolk_marker = new google.maps.Marker({
      position: Suffolk,
      map: state,
    });
    var Suffolk_window = new google.maps.InfoWindow({
      content:
        "<div class='prg-site'>" +
        "<a name='suffolk' id='suffolk'></a>" +
        "<p class='bar-head'>Suffolk County</p>" +
        "<p class='facility'><a href='http://www.fsl-li.org/programs/familyservices_Healthy_Families_NY.php' target='_blank'>Healthy Families Suffolk</a></p>" +
        "<p><em>Serves ; Brentwood, Bay Shore, Wyandanch, Amityville,  Copiague, and Central Islip</em><br />" +
        "Family Service League of Suffolk Co., Inc.<br />" +
        "Iovino South Shore Family Center</p>" +
        "<p>Phone:(631) 647-3100 x6225<br>" +
        "Fax: (631) 969-8639" +
        "</p>" +
        "<p>Program Manager: <a href='mailto:emily.girgenti@fsl-li.org'>Emily Girgenti</a></p>" +
        "<p class='top'><a href='#'>back to map</a></p>" +
        "</div>",
    });
    Suffolk_marker.setTitle("Healthy Families Suffolk County");
    Suffolk_marker.setLabel("Suffolk");
    google.maps.event.addListener(Suffolk_marker, "click", function () {
      Suffolk_window.open(state, Suffolk_marker);
    });

    var Sullivan = { lat: 41.7962573, lng: -74.7129796 };
    var Sullivan_marker = new google.maps.Marker({
      position: Sullivan,
      map: state,
    });
    var Sullivan_window = new google.maps.InfoWindow({
      content:
        "<div class='prg-site'>" +
        "<a name='sullivan' id='sullivan'></a>" +
        "<p class='bar-head'>Sullivan County</p>" +
        "<p class='facility'><a href='http://www.scgnet.us/index.asp?orgid=600&amp;storyTypeID=&amp;sid=&amp;' target='_blank'>Healthy Families of Sullivan</a></p>" +
        "<p><em>Serves all of Sullivan County </em><br />" +
        "Sullivan County Public Health Services</p>" +
        "<p>Phone: (845)-513-2183<br>" +
        "Fax: (845) 513-2275</p>" +
        "<p>Program Manager: <a href='mailto:janna.walter@sullivanny.gov'>Janna Walter</a></p>" +
        "<p class='top'><a href='#'>back to map</a></p>" +
        "</div>",
    });
    Sullivan_marker.setTitle("Healthy Families Sullivan County");
    Sullivan_marker.setLabel("Sullivan");
    google.maps.event.addListener(Sullivan_marker, "click", function () {
      Sullivan_window.open(state, Sullivan_marker);
    });

    var Tioga = { lat: 42.1418068, lng: -76.2658477 };
    var Tioga_marker = new google.maps.Marker({ position: Tioga, map: state });
    var Tioga_window = new google.maps.InfoWindow({
      content:
        "<div class='prg-site'>" +
        "<a name='tioga' id='tioga'></a>" +
        "<p class='bar-head'>Tioga County</p>" +
        "<p class='facility'>Tioga Chenango PACT Healthy Families<br/>Healthy Families Chenango County</p>" +
        "<p><em>Serves both Tioga and Chenango Counties</em><br />" +
        "Our Lady of Lourdes Memorial Hospital/Youth Services</p>" +
        "<p>Phone: 607-206-5272<br>" +
        "Fax: (607) 687-6149</p>" +
        "<p>Program Manager: <a href='mailto:elizabeth.lynch@ascension.org'>Elizabeth Lynch</a></p>" +
        "<p class='top'><a href='#'>back to map</a></p>" +
        "</div>",
    });
    Tioga_marker.setTitle("Tioga Chenango PACT Healthy Families");
    Tioga_marker.setLabel("Tioga");
    google.maps.event.addListener(Tioga_marker, "click", function () {
      Tioga_window.open(state, Tioga_marker);
    });

    var Tompkins = { lat: 42.44419274445383, lng: -76.50220203530561 };
    var Tompkins_marker = new google.maps.Marker({
      position: Tompkins,
      map: state,
    });
    var Tompkins_window = new google.maps.InfoWindow({
      content:
        "<div class='prg-site'>" +
        "<a name='tompkins' id='tompkins'></a>" +
        "<p class='bar-head'>Tompkins County</p>" +
        "<p class='facility'>Healthy Families Schuyler/Tompkins</p>" +
        "<p><em>Serves all of Tompkins County</em><br />" +
        "Catholic Charities Steuben/Livingston</p>" +
        "<p>Phone: (607) 274-6646<br>" +
        "<p>Phone: (607) 968-0682<br>" +
        "<p>Program Manager: <a href='mailto:Christine.Ames@dor.org'>Christine Ames</a></p>" +
        "<p class='top'><a href='#'>back to map</a></p>" +
        "</div>",
    });
    Tompkins_marker.setTitle("Healthy Families Tompkins County");
    Tompkins_marker.setLabel("Tompkins");
    google.maps.event.addListener(Tompkins_marker, "click", function () {
      Tompkins_window.open(state, Tompkins_marker);
    });

    var Ulster = { lat: 41.9292746, lng: -74.0041299 };
    var Ulster_marker = new google.maps.Marker({
      position: Ulster,
      map: state,
    });
    var Ulster_window = new google.maps.InfoWindow({
      content:
        "<div class='prg-site'>" +
        "<a name='ulster' id='ulster'></a>" +
        "<p class='bar-head'>Ulster County</p>" +
        "<p class='facility'>Ulster County Healthy Families</p>" +
        "<p><em>Serves all of Ulster County</em><br />" +
        "The Institute for Family Health </p>" +
        "<p>2 Locations: <br/>Kingston<br/> Phone Number 845 339-8551 <br/>" +
        "Fax 845 331-2909<br/>" +
        "Ellenville<br/>" +
        "Phone Number 845-339-8551 X3517<br/>" +
        "Fax 845 647 3080<br/>" +
        "<p>Program Manager: <a href='mailto:Ecastiglione@institute.org'>Erin Castiglione</a></p>" +
        "<p class='top'><a href='#'>back to map</a></p>" +
        "</div>",
    });
    Ulster_marker.setTitle("Healthy Families Ulster County");
    Ulster_marker.setLabel("Ulster");
    google.maps.event.addListener(Ulster_marker, "click", function () {
      Ulster_window.open(state, Ulster_marker);
    });

    var Warren = { lat: 43.595038, lng: -73.791323 };
    var Warren_marker = new google.maps.Marker({
      position: Warren,
      map: state,
    });
    var Warren_window = new google.maps.InfoWindow({
      content:
        "<div class='prg-site'>" +
        "<a name='warren' id='warren'></a>" +
        "<p class='bar-head'>Warren County</p>" +
        "<p class='facility'>Healthy Families North Country</p>" +
        "<p><em>Serves Clinton, Essex, Franklin, Hamilton, and Warren counties, including the St. Regis Mohawk Nation</em><br />" +
        "<a href='http://www.bhsn.org/home-visiting.php' target='_blank'>Behavioral Health Services North, Inc.</a></p>" +
        "<p>Phone: (518) 563-8206 x134<br>" +
        "Fax: (518) 563-9958" +
        "</p>" +
        "<p>Program Manager: <a href='mailto:epiper@bhsn.org'>Esther Piper</a></p>" +
        "<p class='top'><a href='#'>back to map</a></p>" +
        "</div>",
    });
    Warren_marker.setTitle("Healthy Families North Country");
    Warren_marker.setLabel("Warren");
    google.maps.event.addListener(Warren_marker, "click", function () {
      Warren_window.open(state, Warren_marker);
    });

    var Washington = { lat: 43.2714743208949, lng: -73.55860150617336 };
    var Washington_marker = new google.maps.Marker({
      position: Washington,
      map: state,
    });
    var Washington_window = new google.maps.InfoWindow({
      content:
        "<div class='prg-site'>" +
        "<a name='washington' id='washington'></a>" +
        "<p class='bar-head'>Washington County</p>" +
        "<p class='facility'>Healthy Families of Fulton and Washington Counties</p>" +
        "<p><em>Serves ZIP codes 12809, 12827, 12828, 12839, 12849, 12887 in Washington County</em><br />" +
        "Community Maternity Services</p>" +
        "<p>Phone: (518) 668-3167<br>" +
        "Fax: (518) 668-3788" +
        "</p>" +
        "<p>Program Manager: <a href='mailto:Katherine@cccms.org'>Katie Driscoll</a></p>" +
        "<p class='top'><a href='#'>back to map</a></p>" +
        "</div>",
    });
    Washington_marker.setTitle(
      "Healthy Families of Fulton and Washington Counties",
    );
    Washington_marker.setLabel("Washington");
    google.maps.event.addListener(Washington_marker, "click", function () {
      Washington_window.open(state, Washington_marker);
    });

    var Wayne = { lat: 43.0639853, lng: -76.9932712 };
    var Wayne_marker = new google.maps.Marker({ position: Wayne, map: state });
    var Wayne_window = new google.maps.InfoWindow({
      content:
        "<div class='prg-site'>" +
        "<a name='wayne' id='wayne'></a>" +
        "<p class='bar-head'>Wayne County</p>" +
        "<p class='facility'>Healthy Families Wayne County</p>" +
        "<p><em>Serves Wayne County</em><br />" +
        "</p>" +
        "<p>Phone: (315) 907-2991" +
        "<p>Program Manager: <a href='mailto:allison.burrows@waynecap.org'>Allison Burrows</a></p>" +
        "<p class='top'><a href='#'>back to map</a></p>" +
        "</div>",
    });
    Wayne_marker.setTitle("Healthy Families Wayne County");
    Wayne_marker.setLabel(" Wayne");
    google.maps.event.addListener(Wayne_marker, "click", function () {
      Wayne_window.open(state, Wayne_marker);
    });

    var Westchester = { lat: 40.9329209, lng: -73.9008022 };
    var Westchester_marker = new google.maps.Marker({
      position: Westchester,
      map: state,
    });
    var Westchester_window = new google.maps.InfoWindow({
      content:
        "<div class='prg-site'>" +
        "<a name='westchester' id='westchester'></a>" +
        "<p class='bar-head'>Westchester County</p>" +
        "<p class='facility'>Westchester County Healthy Families</p>" +
        "<p><em>Serves Yonkers (ZIP codes 10701, and 10705) " +
        "and Mt. Vernon (ZIP codes 10550 and 10553)</em><br />" +
        "Julia Dyckman Andrus Memorial</p>" +
        "<p>Phone:  (914) 429-8427<br>" +
        "Cell:  (914) 314-5313</p>" +
        "<p>Program Manager: <a href='mailto:cstanley@jdam.org'>Cara Stanley</a></p>" +
        "<p class='top'><a href='#'>back to map</a></p>" +
        "</div>",
    });
    Westchester_marker.setTitle("Healthy Families Westchester County");
    Westchester_marker.setLabel(" Westchester");
    google.maps.event.addListener(Westchester_marker, "click", function () {
      Westchester_window.open(state, Westchester_marker);
    });

    var Wyoming = { lat: 42.64163209087232, lng: -78.14037535964306 };
    var Wyoming_marker = new google.maps.Marker({
      position: Wyoming,
      map: state,
    });
    var Wyoming_window = new google.maps.InfoWindow({
      content:
        "<div class='prg-site'>" +
        "<a name='wyoming' id='wyoming'></a>" +
        "<p class='bar-head'>Wyoming County</p>" +
        "<p class='facility'>Wyoming-Genesee Healthy Families Partnership</p>" +
        "<p><em>Serves all of Wyoming County</em><br />" +
        "Wyoming County Community Action</p>" +
        "<p>Phone: (585) 786-8890<br></p>" +
        "<p>Program Manager: <a href='mailto:cglaus@wyomingco.net'>Cheryl Glaus</a></p>" +
        "<p class='top'><a href='#'>back to map</a></p>" +
        "</div>",
    });
    Wyoming_marker.setTitle("Healthy Families Wyoming County");
    Wyoming_marker.setLabel("Wyoming");
    google.maps.event.addListener(Wyoming_marker, "click", function () {
      Wyoming_window.open(state, Wyoming_marker);
    });

    var Yates = { lat: 42.6527057, lng: -77.0624079 };
    var Yates_marker = new google.maps.Marker({ position: Yates, map: state });
    var Yates_window = new google.maps.InfoWindow({
      content:
        "<div class='prg-site'>" +
        "<a name='yates' id='yates'></a>" +
        "<p class='bar-head'>Yates County</p>" +
        "<p class='facility'>Healthy Families Yates County</p>" +
        "<p><em>Serves Yates County (ZIP codes 14441, 14837, 14415, 14878, 14418, 14842, 14527, 14478)</em><br />" +
        "Child & Family Resources, Inc.</p>" +
        "<p>Phone: (585) 919-2476 ext 2507<br>" +
        "Fax: (585) 394-2076</p>" +
        "<p>Program Manager: <a href='mailto:sarah.scorsone@cfresources.org'>Sarah Scorsone</a></p>" +
        "<p class='top'><a href='#'>back to map</a></p>" +
        "</div>",
    });
    Yates_marker.setTitle("Healthy Families Yates County");
    Yates_marker.setLabel("Yates");
    google.maps.event.addListener(Yates_marker, "click", function () {
      Yates_window.open(state, Yates_marker);
    });

    var Parkchester = { lat: 40.8332594, lng: -73.8602216 };
    var Parkchester_marker = new google.maps.Marker({
      position: Parkchester,
      map: nyc,
    });
    var Parkchester_window = new google.maps.InfoWindow({
      content:
        "<div class='prg-site'>" +
        "<a name='bronx3' id='bronx3'></a>" +
        "<p class='bar-head'>Bronx</p>" +
        "<p class='facility'>Healthy Families Parkchester</p>" +
        "<p><em>Serves Southeast Bronx (ZIP code 10462), Soundview (ZIP code 10472), and Westfarm (ZIP code 10460)</em><br />" +
        "Catholic Guardian Society and Home Bureau</p>" +
        "<p>Phone: (718) 828-0300 x220<br>" +
        "Fax: (718) 430-9724" +
        "</p>" +
        "<p>Program Manager: <a href='mailto:slithgow@catholicguardian.org'>Soraya Lithgow</a></p>" +
        "<p class='top'><a href='#newyorkcity'>back to map</a></p>" +
        "</div>",
    });
    Parkchester_marker.setTitle("Healthy Families Parkchester");
    Parkchester_marker.setLabel("Parkchester");
    google.maps.event.addListener(Parkchester_marker, "click", function () {
      Parkchester_window.open(nyc, Parkchester_marker);
    });

    var South_Bronx = { lat: 40.8433895, lng: -73.912243 };
    var South_Bronx_marker = new google.maps.Marker({
      position: South_Bronx,
      map: nyc,
    });
    var South_Bronx_window = new google.maps.InfoWindow({
      content:
        "<div class='prg-site'>" +
        "<a name='bronx1' id='bronx1'></a>" +
        "<p class='bar-head'>Bronx</p>" +
        "<p class='facility'>South Bronx Healthy Families</p>" +
        "<p><em>Serves South Bronx (ZIP codes 10456, 10457, and 10458)</em><br />" +
        "Bronx Lebanon Hospital Center</p>" +
        "<p>Phone: (718) 960-1461, (718) 960-2084, (718) 960-1450<br>" +
        "Fax: (718) 960-4495</p>" +
        "<p>Program Manager: <a href='mailto:snivar@bronxleb.org'>Sofia Nivar</a></p>" +
        "<p><a href='../Media/pdf/DailyNews_cut_infant_death_rate_1-08.pdf' target=_'blank'>Article in Daily News about SBHF</a></p>" +
        "<p class='top'><a href='#newyorkcity'>back to map</a></p>" +
        "</div>",
    });
    South_Bronx_marker.setTitle("South Bronx Healthy Families");
    South_Bronx_marker.setLabel("South Bronx");
    google.maps.event.addListener(South_Bronx_marker, "click", function () {
      South_Bronx_window.open(nyc, South_Bronx_marker);
    });

    var Brookdale = { lat: 40.6549647, lng: -73.9145531 };
    var Brookdale_marker = new google.maps.Marker({
      position: Brookdale,
      map: nyc,
    });
    var Brookdale_window = new google.maps.InfoWindow({
      content:
        "<div class='prg-site'>" +
        "<a name='brooklyn5' id='brooklyn5'></a>" +
        "<p class='bar-head'>Brooklyn</p>" +
        "<p class='facility'>Healthy Families Brookdale</p>" +
        "<p><em>Serves Central Brooklyn (ZIP code 11212), East New York (ZIP code 11207) and with Robin Hood funds (ZIP codes 11203, 11213, 11208 and 11236)</em><br />" +
        "Brookdale Hospital Medical Center</p>" +
        "<p>Phone: (718) 240-8345<br>" +
        "Fax: (718) 240-7978</p>" +
        "<p>Program Director: <a href='mailto:rmunroe@bhmcny.org'>Roxanne Munroe</a></p>" +
        "<p class='top><a href='#newyorkcity'>back to map</a></p>" +
        "</div>",
    });
    Brookdale_marker.setTitle("Healthy Families Brookdale ");
    Brookdale_marker.setLabel("Brookdale");
    google.maps.event.addListener(Brookdale_marker, "click", function () {
      Brookdale_window.open(nyc, Brookdale_marker);
    });

    var Morris_Heights = { lat: 40.8586296, lng: -73.9045972 };
    var Morris_Heights_marker = new google.maps.Marker({
      position: Morris_Heights,
      map: nyc,
    });
    var Morris_Heights_window = new google.maps.InfoWindow({
      content:
        "<div class='prg-site'>" +
        "<a name='bronx2' id='bronx2'></a>" +
        "<p class='bar-head'>Bronx</p>" +
        "<p class='facility'>Healthy Families Morris Heights</p>" +
        "<p><em>Serves Bronx (ZIP codes 10452, 10453, 10467, and 10468)</em><br />" +
        "Morris Heights Health Center, Inc.</p>" +
        "<p>Phone: (718) 483-1255</p>" +
        "<p>Program Manager: <a href='mailto:jtillock@mhhc.org'>Jaimie Tillock</a></p>" +
        "<p class='top'><a href='#newyorkcity'>back to map</a></p>" +
        "</div>",
    });
    Morris_Heights_marker.setTitle("Morris_Heights Healthy Families");
    Morris_Heights_marker.setLabel("Morris Heights");
    google.maps.event.addListener(Morris_Heights_marker, "click", function () {
      Morris_Heights_window.open(nyc, Morris_Heights_marker);
    });

    var Bushwick_Bright_Start = { lat: 40.6873359, lng: -73.9200298 };
    var Bushwick_Bright_Start_marker = new google.maps.Marker({
      position: Bushwick_Bright_Start,
      map: nyc,
    });
    var Bushwick_Bright_Start_window = new google.maps.InfoWindow({
      content:
        "<div class='prg-site'>" +
        "<a name='brooklyn2' id='brooklyn2'></a>" +
        "<p class='bar-head'>Brooklyn</p>" +
        "<p class='facility'>Healthy Families Bushwick (Comienzo Brillante de Bushwick)</p>" +
        "<p><em>Serves Bushwick Community Board District 4, all pregnant women, teenagers, and ACS referrals</em><br />" +
        "Public Health Solutions</p>" +
        "<p>Phone: (718) 416-1442<br>" +
        "Fax: (718) 416-1930" +
        "</p>" +
        "<p>Program Director: <a href='mailto:rlucret@healthsolutions.org'>Rebeca Lucret</a></p>" +
        "<p><a href='../Media/pdf/BreastfeedingClassflyer10-2011.pdf'>Free Breastfeeding Class</a><br />" +
        "<a href='../Media/pdf/BushwickBrightStartbrochureEnglish-Spanish_10-2011.pdf' target='_blank'>Brochure &ndash; English/Spanish</a></p>" +
        "<p class='top'><a href='#newyorkcity'>back to map</a></p>" +
        "</div>",
    });
    Bushwick_Bright_Start_marker.setTitle("Healthy Families Bushwick");
    Bushwick_Bright_Start_marker.setLabel("Healthy Families Bushwick");
    google.maps.event.addListener(
      Bushwick_Bright_Start_marker,
      "click",
      function () {
        Bushwick_Bright_Start_window.open(nyc, Bushwick_Bright_Start_marker);
      },
    );

    var Sunset_Park = { lat: 40.63, lng: -74.01 };
    var Sunset_Park_marker = new google.maps.Marker({
      position: Sunset_Park,
      map: nyc,
    });
    var Sunset_Park_window = new google.maps.InfoWindow({
      content:
        "<div class='prg-site'>" +
        "<a name='sunsetpark' id='sunsetpark'></a>" +
        "<p class='bar-head'>Brooklyn</p>" +
        "<p class='facility'>Healthy Families Sunset Park</p>" +
        "<p><em>Serves Brooklyn ZIP codes 11204, 11209, 11214, 11215, 11219, 11220, 11228, 11231, and 11232</em><br />" +
        "NYU Lutheran Family Health  Centers/Sunset Park Health Council</p>" +
        "<p>Phone: (347) 377-5093<br></p>" +
        "<p>Program Manager: <a href='mailto:Laura.IbanezGomez@nyulangone.org'>Laura Ibanez Gomez</a></p>" +
        "<p class='top'><a href='#newyorkcity'>back to map</a></p>" +
        "</div>",
    });
    Sunset_Park_marker.setTitle("Sunset Park Healthy Families");
    Sunset_Park_marker.setLabel("Sunset Park");
    google.maps.event.addListener(Sunset_Park_marker, "click", function () {
      Sunset_Park_window.open(nyc, Sunset_Park_marker);
    });

    var CAMBA = { lat: 40.648, lng: -73.959 };
    var CAMBA_marker = new google.maps.Marker({ position: CAMBA, map: nyc });
    var CAMBA_window = new google.maps.InfoWindow({
      content:
        "<div class='prg-site'>" +
        "<a name='brooklyn3' id='brooklyn3'></a>" +
        "<p class='bar-head'>Brooklyn</p>" +
        "<p class='facility'>CAMBA's Healthy Families Program</p>" +
        "<p><em>Serves Flatbush (ZIP codes 11226, and 11233) </em><br />" +
        "<a href='https://www.camba.org/programs/familysupport/pregnantandnewbornhomevisiting/healthyfamilies' target='_blank'>CAMBA</a></p>" +
        "<p>Phone: (718) 826-2223  x70249<br>" +
        "Fax: (718) 826-0291</p>" +
        "<p>Program Director: <a href='mailto:DamaliaJ@camba.org'>Damalia Jackson</a></p>" +
        "<p class='top'><a href='#newyorkcity'>back to map</a></p>" +
        "</div>",
    });
    CAMBA_marker.setTitle("CAMBA's Healthy Families Program");
    CAMBA_marker.setLabel("CAMBA");
    google.maps.event.addListener(CAMBA_marker, "click", function () {
      CAMBA_window.open(nyc, CAMBA_marker);
    });

    var Central_Harlem = { lat: 40.8102853, lng: -73.9492846 };
    var Central_Harlem_marker = new google.maps.Marker({
      position: Central_Harlem,
      map: nyc,
    });
    var Central_Harlem_window = new google.maps.InfoWindow({
      content:
        "<div class='prg-site'>" +
        "<a name='manhattan2' id='manhattan2'></a>" +
        "<p class='bar-head'>Manhattan</p>" +
        "<p class='facility'>Healthy Families Central Harlem</p>" +
        "<p><em>Serves Central Harlem (ZIP codes 10026, 10027, 10029, 10030, 10031, 10037, and 10039)</em><br />" +
        "Northern Manhattan Perinatal Partnership, Inc.</p>" +
        "<p>Phone: (917) 549-5609<br>" +
        "<p>Program Director/Manager: <a href='mailto:lydie.pierre@nmppcares.org'>Lydie Pierre</a></p>" +
        "<p class='top'><a href='#newyorkcity'>back to map</a></p>" +
        "</div>",
    });
    Central_Harlem_marker.setTitle("Healthy Families Central Harlem");
    Central_Harlem_marker.setLabel("Central Harlem");
    google.maps.event.addListener(Central_Harlem_marker, "click", function () {
      Central_Harlem_window.open(nyc, Central_Harlem_marker);
    });

    var Washington_Heights = { lat: 40.8520833, lng: -73.9358235 };
    var Washington_Heights_marker = new google.maps.Marker({
      position: Washington_Heights,
      map: nyc,
    });
    var Washington_Heights_window = new google.maps.InfoWindow({
      content:
        "<div class='prg-site'>" +
        "<a name='manhattan1' id='manhattan1'></a>" +
        "<p class='bar-head'>Manhattan</p>" +
        "<p class='facility'>Healthy Families Washington Heights</p>" +
        "<p><em>Serves Washington Heights" +
        "Zip Codes: 10032, 10033, 10034, 10040 <br /></p>" +
        "<p>Location: 715 W. 179th St. - Lower Level NY, NY 10033<br /></p>" +
        "Phone: 212-740-4335 x408 and 646-832-0307<br />" +
        "Fax: 646-861-0963 </em><br /></p>" +
        "<p>Dominican Women&rsquo;s Development Center (DWDC)</p>" +
        "<p>Program Manager: <a href='mailto:dfeliz@dwdc.org'>Danisha Feliz</a></p>" +
        "<p class='top'><a href='#newyorkcity'>back to map</a></p>" +
        "</div>",
    });
    Washington_Heights_marker.setTitle("Healthy Families Washington Heights");
    Washington_Heights_marker.setLabel("Washington Heights");
    google.maps.event.addListener(
      Washington_Heights_marker,
      "click",
      function () {
        Washington_Heights_window.open(nyc, Washington_Heights_marker);
      },
    );

    var Corona = { lat: 40.7496015, lng: -73.8640892 };
    var Corona_marker = new google.maps.Marker({ position: Corona, map: nyc });
    var Corona_window = new google.maps.InfoWindow({
      content:
        "<div class='prg-site'>" +
        "<a name='corona' id='corona'></a>" +
        "<p class='bar-head'>NW Queens</p>" +
        "<p class='facility'>Healthy Families Corona</p>" +
        "<p><em>Serves NW Queens </em><br />" +
        "</p>" +
        "<p>Phone: (347) 571-2792 (646)648-0435<br>" +
        "Fax: (347) 571-2797</p>" +
        "<p>Program Manager: <a href='mailto:msierra@healthsolutions,org'>Marlena Sierra</a></p>" +
        "<p class='top'><a href='#newyorkcity'>back to map</a></p>" +
        "</div>",
    });
    Corona_marker.setTitle("Healthy Families Corona");
    Corona_marker.setLabel("Corona");
    google.maps.event.addListener(Corona_marker, "click", function () {
      Corona_window.open(nyc, Corona_marker);
    });

    var Jamaica = { lat: 40.7047373, lng: -73.8003481 };
    var Jamaica_marker = new google.maps.Marker({
      position: Jamaica,
      map: nyc,
    });
    var Jamaica_window = new google.maps.InfoWindow({
      content:
        "<div class='prg-site'>" +
        "<a name='queens' id='queens'></a>" +
        "<p class='bar-head'>Queens</p>" +
        "<p class='facility'>Sheltering Arms Children and Family Services</p>" +
        "<p><em>Serves Queens, Jamaica (ZIP codes 11411, 11412, 11413, 11416, 11418, 11432, 11433, 11434, 11435, and 11436) </em><br />" +
        "Safe Space</p>" +
        "<p>Phone: (718) 526-2400 x2054<br>" +
        "Fax: (718) 526-4122</p>" +
        "<p>Program Manager: <a href='mailto:arhule@shelteringarmsny.org'>Allana Mahon-Rhule</a></p>" +
        "<p class='top'><a href='#newyorkcity'>back to map</a></p>" +
        "</div>",
    });
    Jamaica_marker.setTitle("Sheltering Arms Children and Family Services");
    Jamaica_marker.setLabel("Jamaica");
    google.maps.event.addListener(Jamaica_marker, "click", function () {
      Jamaica_window.open(nyc, Jamaica_marker);
    });

    var Staten_Island = { lat: 40.6214334, lng: -74.0797035 };
    var Staten_Island_marker = new google.maps.Marker({
      position: Staten_Island,
      map: nyc,
    });
    var Staten_Island_window = new google.maps.InfoWindow({
      content:
        "<div class='prg-site'>" +
        "<a name='statenisland' id='statenisland'></a>" +
        "<p class='bar-head'>Staten Island</p>" +
        "<p class='facility'>Healthy Families Staten Island</p>" +
        "<p><em>Serves North Shore (ZIP codes 10301, 10302, 10303, 10304, and 10310)</em><br />" +
        "New York Foundling Hospital</p>" +
        "<p>Office Phone: (646) 763-0778</p>" +
        "<p>Program Manager: <a href='mailto:Dina.Fiore@nyfoundling.org'>Dina Fiore</a></p>" +
        "<p><a href='../Media/pdf/StatenIsland_HF_article.pdf'>Healthy Families Staten Island in the News</a></p>" +
        "<p class='top'><a href='#newyorkcity'>back to map</a></p>" +
        "</div>",
    });
    Staten_Island_marker.setTitle("Healthy Families Staten Island");
    Staten_Island_marker.setLabel("Staten Island");
    google.maps.event.addListener(Staten_Island_marker, "click", function () {
      Staten_Island_window.open(nyc, Staten_Island_marker);
    });
  }
</script>
<!--Load the API from the specified URL
    * The async attribute allows the browser to render the page while the API loads
    * The key parameter will contain your own API key (which is not needed for this tutorial)
    * The callback parameter executes the initMap() function
    -->
<script
  async
  defer
  src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCDtO5xULky2EAG4h9-SOpi9BMeSH9x0KM&callback=initMap"
></script>
<style>
  /* Set the size of the div element that contains the map */
  #state,
  #nyc {
    height: 600px;
    width: 100%;
    margin: auto;
  }

  #page {
    max-width: 80em !important;
  }
</style>
