---
import ResourcesLayout from "@/layouts/ResourcesLayout.astro";
---

<ResourcesLayout
  title="Resources"
  activeMainText="Resources"
  activeSubText="Child Development & Health"
>
  <h1 class="heading">Child Development &amp; Health</h1>
  <p>
    We know that your baby&rsquo;s well-being, including their health and
    development is a priority in your day-to-day life. Below you will find
    information and suggestions to any number of questions you may have about
    your child&rsquo;s health and development.
  </p>

  <h4>Asthma</h4>
  <ul class="link-list">
    <li>
      <a href="http://kidshealth.org/parent/medical/asthma/wheezing_asthma.html"
        >Wheezing and Asthma in Infants</a
      > (Kids Health)
    </li>
    <li>
      <a
        href="http://acaai.org/news/kids-asthma-and-second-hand-smoke-home-twice-many-hospitalizations"
      >
        Kids, Asthma and Second Hand Smoke at Home</a
      > (American College of Allergy, Asthma &amp; Immunology)
    </li>
    <li>
      <a
        href="http://acaai.org/news/school-starts-train-all-brains-allergies-and-asthma"
      >
        Before School Starts, Train all the Brains for Allergies and Asthma</a
      > (American College of Allergy, Asthma &amp; Immunology)
    </li>
  </ul>
  <img
    src="/images/kids-in-balls.png"
    alt="kids in balls"
    class="float-right"
    width="300"
  />
  <h4>Child Development</h4>
  <ul class="link-list">
    <li>
      <a
        href="http://www.cdc.gov/ncbddd/actearly/pdf/checklists/all_checklists.pdf"
      >
        Developmental Milestones Checklists</a
      > (Centers for Disease Control)
    </li>
    <li>
      <a href="http://www.zerotothree.org/parenting-resources/"
        >Parenting Favorites</a
      > (Zero to Three)
    </li>
    <li>
      <a
        href="http://www.cdc.gov/cdctv/lifestagesandpopulations/baby-steps-autism.html"
        >Early Signs of Developmental Disabilities</a
      > (Centers for Disease Control)
    </li>
    <li>
      <a
        href="http://main.zerotothree.org/site/DocServer/ThePowerofPlay.pdf;jsessionid=191E23B42717BC7B4B8D81DFD4F239B7.app241c?docID=161"
        >The Power of Play
      </a> (Zero to Three)
    </li>
  </ul>
  <h4>Immunizations</h4>
  <ul class="link-list">
    <li>
      <a
        href="https://www.cdc.gov/vaccines/parents/tools/parents-guide/index.html"
        >Parent's guide to childhood immunizations</a
      > (Centers for Disease Control)
    </li>
    <li>
      <a
        href="https://www.cdc.gov/vaccines/schedules/easy-to-read/child-easyread.html"
      >
        Immunization Schedules for Infants and Children</a
      > (Centers for Disease Control)
    </li>
    <li>
      <a href="https://www2a.cdc.gov/nip/kidstuff/newscheduler_le/"
        >Instant Childhood Immunization Schedule</a
      > (Centers for Disease Control)
    </li>
  </ul>
  <h4>Lead Exposure</h4>
  <ul class="link-list">
    <li>
      <a href="https://www.health.ny.gov/environmental/lead/"
        >Lead Poisoning Prevention</a
      > (New York State Department of Health)
    </li>
    <li>
      <a
        href="https://www.health.ny.gov/environmental/lead/parents_caregivers.htm"
        >Information for Parents and Caregivers on Preventing Childhood Lead
        Poisoning</a
      > (New York State Department of Health)
    </li>
  </ul>
  <h4>Nutrition</h4>
  <ul class="link-list">
    <li>
      <a
        href="https://www.zerotothree.org/resources/352-healthy-from-the-start"
      >
        Healthy from the Start: How Feeding Nurtures Your Young Child&rsquo;s
        Body, Heart, and Mind</a
      > (Zero to Three)
    </li>
    <li>
      <a href="https://www.youtube.com/watch?v=hQOXD0fvZ_A">
        WIC information video</a
      > (New York State Department of Health)
    </li>
  </ul>
  <img src="/images/girl-with-doctor.png" class="float-left" width="300" />
  <h4>Oral Health</h4>
  <ul class="link-list">
    <li>
      <a
        href="https://www.health.ny.gov/prevention/dental/birth_oral_health.htm"
        >Infant and Children&rsquo;s Oral Health</a
      > (New York State Department of Health)
    </li>
    <li>
      <a href="http://www.cdc.gov/oralhealth/children_adults/child.htm"
        >Children&rsquo;s Oral Health</a
      >
      (Centers for Disease Control)
    </li>
  </ul>
  <h4>Prematurity</h4>
  <ul class="link-list">
    <li>
      <a href="http://kidshealth.org/parent/growth/growing/preemies.html">
        A Primer on Preemies</a
      >
      (Kid&rsquo;s Health)
    </li>
    <li>
      <a
        href="http://www.zerotothree.org/child-development/health-nutrition/early-arrival_eng.pdf"
      >
        Early Arrival: Finding the Magic of Everyday Moments with Your Baby in
        the NICU</a
      > (Zero to Three)
    </li>
    <li>
      <a
        href="http://www.zerotothree.org/child-development/health-nutrition/vol24-2b.pdf"
        >Family Perspectives on Prematurity</a
      > (Zero to Three)
    </li>
  </ul>
</ResourcesLayout>
