---
import ResourcesLayout from "@/layouts/ResourcesLayout.astro";
// TODO: Fixed the spacing between <dt>s
---

<ResourcesLayout
  title="Resources"
  activeMainText="Resources"
  activeSubText="Fatherhood"
>
  <h1 class="heading">Fatherhood Resources</h1>
  <p>
    The following links provide you with information about the important role
    fathers have in enabling their child&rsquo;s healthy development.
  </p>

  <dl>
    <img
      src="/images/boy-in-car.png"
      class="float-right"
      width="33%"
      alt="little boy in toy car"
    />
    <dt>
      <a
        href="http://otda.ny.gov/programs/publications/4901.pdf"
        target="_blank">A Driver&rsquo;s Manual for New Dads</a
      > (New York State Office of Temporary Disability Assistance)
    </dt>
    <dd>
      This guide will help you navigate the twists and turns of parenting. In
      this manual you will find advice from parenting professionals and dads as
      well as a number of helpful resources throughout New York State.
    </dd>

    <dt>
      <a href="http://kidshealth.org/en/parents/father.html" target="_blank"
        >Becoming a Father</a
      >
      (Kid&rsquo;s Health)
    </dt>
    <dd>
      Find answers to the questions you have about becoming a father at
      Kid&rsquo;s Health. You will find information on many topics focusing on
      the health and development of your child and family.
    </dd>

    <img
      src="/images/dad-with-infant.png"
      class="float-left"
      width="20%"
      alt="dad with infant"
    />
    <dt>
      <a
        href="https://www.zerotothree.org/resources/341-the-daddy-factor-the-crucial-impact-of-fathers-on-young-children-s-development"
        target="_blank"
        >The Daddy Factor: The Crucial Impact of Fathers on Young
        Children&rsquo;s Development</a
      > (Zero to Three)
    </dt>
    <dd>
      As a father you are a key factor in your child&rsquo;s long-term
      development. Read the many ways fathers have a powerful impact on the
      lives of their children.
    </dd>

    <img
      src="/images/dad-with-toddler-girl.png"
      class="float-right"
      width="25%"
      alt="dad with toddler girl"
    />
    <br />
    <dt>
      <a href="https://www.fatherhood.gov/for-dads" target="_blank">For Dads</a>
      (National Responsible Fatherhood Clearinghouse &ndash; NRFC)
    </dt>
    <dd>
      Want to be more involved in your child&rsquo;s life? Check out the
      Clearinghouse&rsquo;s tips and activities and find out everything you and
      your child can do together from games to activities of the week! You can
      also connect with fatherhood programs around the U.S. or learn how you can
      become a mentor.
    </dd>
  </dl>
</ResourcesLayout>
