---
import ResourcesLayout from "@/layouts/ResourcesLayout.astro";
---

<ResourcesLayout
  title="Resources"
  activeMainText="Resources"
  activeSubText="Parenting"
>
  <h1 class="heading">Parenting Resources</h1>
  <img
    src="/images/parenting.png"
    alt="parents with children"
    class="float-right"
    width="50%"
  />
  <p>
    The following links provide you with information about various areas and
    stages of parenting&mdash;from birth to the teen years.
  </p>
  <dl>
    <dt>
      <a href="https://www.health.ny.gov/publications/2940.pdf" target="_blank"
        >Welcome to Parenthood Family Guide</a
      >
    </dt>
    <dd>
      This guide provides some useful tips for you if you are welcoming a new
      baby and points you to helpful resources available across New York State.
      This publication was developed by the New York State Department of Health.
    </dd>

    <dt>
      <a href="https://www.nysparentguide.org/" target="_blank"
        >New York State Parent Guide</a
      >
      <dt>
        <dd>
          A website dedicated to helping new and expectant parents through the
          first five years of their child's life. It provides detailed
          information and resources around children's growth and development,
          along with assisting in nurturing the family unit and offering
          parenting tips. The website was developed by the Council on Children
          and Families in conjunction with New York State.
        </dd>

        <dt>
          <a
            href="https://www.nichd.nih.gov/sites/default/files/publications/pubs/documents/adventures_in_parenting_rev.pdf"
            target="_blank">Adventures in Parenting</a
          >
          <dt>
            <dd>
              This guide provides you with developmentally-appropriate
              guidelines (birth through age14) for responding to, monitoring,
              and mentoring your child; preventing risky behaviors; and modeling
              your own behavior in order to be a positive influence. This
              publication was developed by the Eunice Kennedy Shriver National
              Institute of Child Health and Human Development.
            </dd>

            <dt>
              <a
                href="https://preventchildabuseny.org/resour/parents/parenting-tip-sheets"
                target="_blank">Parenting Tips Sheets</a
              >
            </dt>
            <dd>
              Here you will find a collection of tip sheets providing guidance
              around the many surprises and challenges you may face as a parent,
              such as internet safety, bullying prevention, and discipline.
              These tip sheets were developed by Prevent Child Abuse New York.
            </dd>

            <dt>
              <a
                href="https://preventchildabuseny.org/resour/prevention-and-parent-helpline"
                target="_blank">The Parent Helpline (1-800-Children)</a
              >
            </dt>
            <dd>
              The Parent Helpline is a free, confidential information and
              referral service for anyone who has questions or concerns about a
              child or family. Services are provided in many languages and
              specialists are available every day from 9 a.m. - 10 p.m. The
              helpline is sponsored by Prevent Child Abuse New York.
            </dd>
          </dt>
        </dt>
      </dt>
    </dt>
  </dl>
</ResourcesLayout>
