---
import ResourcesLayout from "@/layouts/ResourcesLayout.astro";
---

<ResourcesLayout
  title="Resources"
  activeMainText="Resources"
  activeSubText="Maternal Health"
>
  <h1 class="heading">Maternal Health</h1>

  <p>
    The following links provide you with information about a variety of health
    topics that may be of interest to you if you are pregnant or newly parenting
  </p>
  <img
    src="/images/pregnant-with-rn.png"
    alt="woman with RN"
    class="float-right"
    width="50%"
  />
  <h2>Get Ready, Get Set to Have a Healthy Baby</h2>
  <p>
    Do you want to know what pregnancy is like? Are you curious about the
    choices you may have about giving birth? If these are questions you have
    then <a
      href="https://www.health.ny.gov/community/pregnancy/get_ready_get_set_healthy_baby.htm"
      target="_blank">this website from the NYS Department of Health</a
    > provides you with those answers and a lot more information about pregnancy,
    delivery, and the postpartum period.
  </p>

  <h2>Special Considerations during Pregnancy</h2>
  <p>
    Along with general questions about pregnancy and delivery, you may have
    specific questions regarding your health and safety during pregnancy. Below
    is a list of topics that may be of interest to you but always remember that
    this information should not serve as a substitute for the professional
    recommendations made by your family&rsquo;s obstetrician.
  </p>
  <ul>
    <li>
      <a
        href="http://www.acog.org/~/media/For%20Patients/faq034.pdf?dmc=1&ts=20120815T1114357633"
        target="_blank">High Blood Pressure During Pregnancy (ACOG)</a
      >
    </li>
    <li>
      <a
        href="http://www.acog.org/~/media/For%20Patients/faq103.pdf?dmc=1&ts=20120617T2222127359"
        target="_blank">Pregnancy during the Teenage Years</a
      >
      <a
        href="http://www.acog.org/~/media/For%20Patients/faq034.pdf?dmc=1&ts=20120815T1114357633"
        target="_blank">(ACOG)</a
      >
    </li>
    <li>
      <a
        href="http://www.acog.org/~/media/For%20Patients/faq170.pdf?dmc=1&ts=20120617T2112137750"
        target="_blank">Tobacco, Alcohol and Drugs during pregnancy</a
      >
      <a
        href="http://www.acog.org/~/media/For%20Patients/faq034.pdf?dmc=1&ts=20120815T1114357633"
        target="_blank">(ACOG)</a
      >
    </li>
    <li>
      <a
        href="https://www.acog.org/-/media/For-Patients/faq188.pdf?dmc=1&ts=20160304T1148242002"
        target="_blank">Multiple Birth</a
      >
      <a
        href="http://www.acog.org/~/media/For%20Patients/faq034.pdf?dmc=1&ts=20120815T1114357633"
        target="_blank">(ACOG)</a
      >
    </li>
    <li>
      <a href="https://www.health.ny.gov/publications/4605.pdf" target="_blank"
        >Domestic Violence (NYSDOH)</a
      >
    </li>
  </ul>
  <img
    src="/images/breastfeeding-hispanic.png"
    alt="breastfeeding mother"
    class="float-left"
    width="27%"
  />
  <h2>Breastfeeding</h2>
  <p>
    We know that breastfeeding is your best option for nourishing your child but
    it is not an easy process. Below you will find some helpful resources that
    answer questions you may have about breastfeeding.
  </p>
  <ul>
    <li>
      <a href="http://www.health.ny.gov/publications/2961.pdf" target="_blank"
        >NYS Department of Health Breastfeeding your baby</a
      >
    </li>
    <li>
      <a href="http://www.health.ny.gov/publications/2028.pdf" target="_blank"
        >NYS Department of Health Breastfeeding mothers&rsquo; bill of rights</a
      >
    </li>
    <li>
      <a
        href="http://www.womenshealth.gov/itsonlynatural/overcoming-challenges/index.html"
        target="_blank"
        >Office of Women&rsquo;s Health Breastfeeding Advice
        Videos&mdash;Overcoming Challenges</a
      >
    </li>
  </ul>

  <h2>Contraception and Birth Control</h2>
  <p>
    Below you will find some helpful resources that answer questions you may
    have about types of birth control and availability to you.
  </p>
  <ul>
    <li>
      <a
        href="http://www.womenshealth.gov/publications/our-publications/fact-sheet/birth-control-methods.pdf"
        target="_blank"
        >Office of Women&rsquo;s Health Birth Control Methods Fact Sheet</a
      >
    </li>
    <li>
      <a
        href="https://www.health.ny.gov/community/pregnancy/family_planning/"
        target="_blank"
        >NYS Department of Health Comprehensive Family Planning and Reproductive
        Health Program</a
      >
    </li>
  </ul>

  <h2>Perinatal Depression</h2>
  <p>
    Having a baby can be a very stressful experience for many parents. Below you
    will find information and resources to explore if you have questions about
    how you have been feeling since having your baby.
  </p>
  <ul>
    <li>
      <a
        href="https://www.health.ny.gov/community/pregnancy/health_care/perinatal/docs/doh-2014.pdf"
        target="_blank">NYS Department of Health You Are Not Alone</a
      >
    </li>
    <li>
      <a
        href="https://www.health.ny.gov/community/pregnancy/health_care/perinatal/perinatal_depression.htm"
        target="_blank">NYS Department of Health Perinatal Depression</a
      >
    </li>
    <li>
      <a href="http://www.postpartum.net/locations/new-york/" target="_blank"
        >Postpartum Support International New York Resource Guide</a
      >
    </li>
  </ul>
</ResourcesLayout>
