---
import ResourcesLayout from "@/layouts/ResourcesLayout.astro";
---

<ResourcesLayout
  title="Resources"
  activeMainText="Resources"
  activeSubText="Child Safety"
>
  <h1 class="heading">Child Safety</h1>
  <p>
    The following information will provide you with answers to any number of
    questions or concerns you may have about keeping your child safe.
  </p>

  <img
    src="/images/boy-stop-sign-play.png"
    alt="boy playing DOT worker"
    class="float-right"
    width="150"
  />
  <h2>General Safety</h2>
  <ul>
    <li>
      <a
        href="https://www.healthychildren.org/english/safety-prevention/Pages/default.aspx"
      >
        General Safety</a
      > (American Academy of Pediatrics)
    </li>
    <li>
      <a
        href="https://www.healthychildren.org/English/safety-prevention/at-home/Pages/First-Aid-Guide.aspx"
        >First Aid Guide</a
      > (American Academy of Pediatrics)
    </li>
    <li>
      <a
        href="https://www.cpsc.gov/safety-education/safety-guides/kids-and-babies/safe-nursery"
        >The Safe Nursery</a
      > (U.S. Consumer Product and Safety Commission)
    </li>
    <li>
      Shaken Baby Syndrome
      <a href="http://www.health.ny.gov/publications/3192.pdf">Brochure</a> and <a
        href="https://www.youtube.com/watch?v=CjyhfIZKmSg">Video</a
      > (New York State Department of Health)
    </li>
    <li>
      <a href="https://ocfs.ny.gov/main/publications/Pub5005text.asp"
        >Traumatic Brain Injury</a
      > (New York State Office of Children &amp; Family Services)
    </li>
    <li>
      <a
        href="https://www.childtrends.org/publications/resources-for-supporting-childrens-emotional-well-being-during-the-covid-19-pandemic#resources"
        >Resources for Supporting Children’s Emotional Well-being during the
        COVID-19 Pandemic</a
      >
    </li>
  </ul>

  <img
    src="/images/asian-infant-sleeping.png"
    alt="infant sleeping"
    class="float-left"
    width="190"
  />
  <h2>Sleep Safety</h2>

  <ul>
    <li>
      <a href="https://www.health.ny.gov/publications/0672.pdf"
        >ABC's of Safe Sleep</a
      > (NYS Office of Children and Famliy Services)
    </li>
    <li>
      <a
        href="http://www.nichd.nih.gov/publications/pubs/Documents/Safe_Sleep_Environment_English.pdf"
        >Safe Sleep Environment</a
      > (Eunice Kennedy Shriver National Institute of Child Health and Human Development)
    </li>
    <li>
      <a
        href="https://www.youtube.com/watch?feature=player_embedded&v=29sLucYtvpA"
      >
        Safe Sleep Video</a
      >
      (Eunice Kennedy Shriver National Institute of Child Health and Human Development)
    </li>
  </ul>
  <img
    src="/images/mom-car-seat-shopping.png"
    alt="Mom car seat shopping"
    class="float-right"
    width="160"
    style="margin-right:2em;"
  />
  <h2>Car and Car Seat Safety</h2>

  <ul>
    <li>
      Keep Kids Out of Hot Cars
      <a href="https://www.health.ny.gov/publications/7070.pdf">Brochure</a> and
      <a href="https://www.youtube.com/watch?v=WIqyE0vj60M">Video </a> (New York
      State Department of Health)
    </li>
    <li>
      <a
        href="http://www.healthychildren.org/English/safety-prevention/on-the-go/Pages/Car-Safety-Seats-Information-for-Families.aspx"
        >Car Seats: Information for Families</a
      > (American Academy of Pediatrics)
    </li>
  </ul>

  <img
    src="/images/boy-with-blocks.png"
    alt="boy playing with blocks"
    class="float-left"
    width="250"
    style="margin-left:2em;"
  />
  <h2>Toy Safety</h2>

  <ul>
    <li>
      <a href="https://www.naeyc.org/resources/topics/play/toys"
        >Good Toys for Young Children</a
      > (National Association for the Education of Young Children)
    </li>
    <li>
      <a
        href="https://www1.nyc.gov/site/doh/health/health-topics/toy-safety.page"
      >
        Toy Safety Tips</a
      > (New York City Health Department)
    </li>
    <li>
      <a href="http://www.saferproducts.gov/Search/default.aspx">
        Search Tool for Recalls and Reports</a
      >
      (Consumer Product Safety Commission)
    </li>
  </ul>
</ResourcesLayout>
