---
import NetworkLayout from "@/layouts/NetworkLayout.astro";
---

<NetworkLayout
	title="Forums/Events/SLM"
	activeMainText="HFNY Network"
	activeSubText="Forums/Events/SLM"
>
    <h1 class="heading">HFNY Book Club</h1>
    <img src="/images/hfnybookclub.png" class="float-right" width="40%" />
    <p>
    	In 2021, HFNY began an annual book club in order to support programs
    	and Central Administration members in their ongoing learning around topics
    	relevant to their work.
    </p>
    <p>
    	This statewide initiative provides an opportunity
    	for thoughtful discussions about current research and approaches, including
    	how they can be applied to our work.
    </p>

    <h2>Selected books:</h2>
    <dl style="margin-bottom: 50px;">
    	<dt>Year Read: </dt>
    	<dd>2022</dd>

    	<dt>Title: </dt>
    	<dd>The Body Keeps the Score: Brain, Mind, and Body in the Healing of Trauma</dd>

    	<dt>Authors: </dt>
    	<dd>Bessel van der Kolk</dd>
    </dl>
    <dl>
    	<dt>Year Read: </dt>
    	<dd>2021</dd>

    	<dt>Title: </dt>
    	<dd>What Happened to You?: Conversations on Trauma, Resilience, and Healing</dd>

    	<dt>Authors: </dt>
    	<dd>Bruce D. Perry, MD, and Oprah Winfrey</dd>
    </dl>
    <style>
        dl dd {
            margin: 2px 0;
            padding: 5px 0;
        }
        dl dt{
            background: #5f9be3;
            color: #fff;
            float: left;
            font-weight: bold;
            margin-right: 10px;
            padding: 5px;
            width: 100px;
        }
    </style>
</NetworkLayout