---
import NetworkLayout from "@/layouts/NetworkLayout.astro";
---

<NetworkLayout
    title="Forums/Events/SLM"
    activeMainText="HFNY Network"
    activeSubText="Forums/Events/SLM"
>
    <div style="text-align: center">
        <img style="height:155px" src="/images/circleofknowledgeimage.png" />
    </div>
    <h1 class="heading">FRS Forums</h1>

    <div>
        <h2>
            The FRS Specialist Team has organized a 3-part series of PSCO Regional Forums with a goal of providing opportunities for programs to discuss varying successes and challenges as we continue to work during this state of PAUSE. The topics include: Community Outreach & Family Engagement, Parent Survey, and Transition to Home Visiting.
        </h2>
        <h2 class="instructions">Click on the links below to see the notes</h2>
        <p></p>
        <div>
            <p>
                <a
                    href="/documents/FRSFORUMTransitioningtoHVNOTES8-20.pdf"
                    target="_blank">August 2020</a
                >
            </p>
            <p>
                <a
                    href="/documents/FRSFORUMParentSurveyNOTES7.20.docx"
                    >July 2020</a
                >
            </p>
            <p>
                <a
                    href="/documents/FRSForumOutreachEngagementNOTES6.20.docx"
                    >June 2020</a
                >
            </p>
        </div>
    </div>
    <h1 class="heading">FSS Forums</h1>

    <div>
        <h2>
            The FSS Specialist Team began offering FSS Forums in 2022 as part of their FSS Professional Development series. Notes from these forums can be found here:
        </h2>
        <p></p>
        <div>
            <p>
                <a
                    href="/documents/MaintainingProfessionalBoundariesFSSForum1024.pdf"
                    target="_blank">October 2024 - Professional Boundaries</a
                >
            </p>
            <p>
                <a
                    href="/documents/FSSForumNotes-SelfCareOct2022.pdf"
                    target="_blank">October 2022 - Self-care</a
                >
            </p>
            <p>
                <a
                    href="/documents/FSS-Professional-Development-Notes-May-2022.pdf"
                    target="_blank">May 2022 - Family Engagement</a
                >
            </p>
        </div>
    </div>
</NetworkLayout>