---
import NetworkLayout from "@/layouts/NetworkLayout.astro";
---

<NetworkLayout
	title="Worker Roles"
	activeMainText="HFNY Network"
	activeSubText="Forums/Events/SLM"
>
<main>
	<h1 class="heading">Healthy Families New York Forums / Events / SLM / Regionals</h1>

	<div>
		<p>
			<table style="border: 1; cellpadding: 5; cellspacing: 5; width: 100%; background-color: white;">
				<tr>
					<th class="tblhead">
						<h1><a href="/network/workerroles/programmanager">Listening <br> Forums</a></h1>
					</th>
					<th class="tblhead">
						<h1><a href="/network/workerroles/frs">FRS/FSS<br>Forums</a></h1>
					</th>
					<th class="tblhead">
						<h1><a href="/network/workerroles/supervisor">Supervisor <br> Forums</a></h1>
					</th>
					<th class="tblhead">
						<h1><a href="/network/workerroles/supervisor">Special <br> Discussion <br> Topics</a></h1>
					</th>
					<th class="tblhead">
						<h1><a href="/network/workerroles/supervisor">Events, Regionals<br>and SLM Docs</a></h1>
					</th>
				</tr>
			</table>
			<div style="width: 750; height: 125; border: thick; margin: 25px; text-align: center;">
				<img src="/images/forumimage.png" width="675" height="95">
			</div>
		</p>		
	</div>
</main>
	<style>
		.tblhead {
			colspan: 20px;
			background-color: #d8d2d2;
			style: border:thick; 
			border-color: #39C;
            color: #199bbf;
		}
	</style>
</NetworkLayout>