---
import NetworkLayout from "@/layouts/NetworkLayout.astro";
---

<NetworkLayout
    title="Forums/Events/SLM"
    activeMainText="HFNY Network"
    activeSubText="Forums/Events/SLM"
>    
    <h1 class="heading">HFNY Programs: Making a Difference</h1>
	<div style="border:thick; margin: 25px; text-align:center"><img src="/images/makingadifference2.jpg" width="175" height="150"></div>
	<h2>Healthy Families NY programs gathered virtually in May 2021 to share the creative events they are doing with families in this challenging time of a global pandemic. Below are the notes and resources gathered from the programs that shared so that others can refer to them for ideas.<br /> Please feel free to reach out to the programs that shared their ideas to learn more!</h2>
	<div>
		<h3>Brookdale</h3>
		<p>Hosted a Mother’s Day event virtually. <br />
			Click <a target="_blank" href="/images/BrookdaleMothersDayflyers_ 052021.png">here</a> to see the flyer.<br />
			Click <a target="_blank" href="/documents/HFBMothersDayEventAgenda0521.pdf">here</a> to see the agenda.<br />
		<ul>
			<li>Did a reading of a poem</li>
			<li>A mindful exercise</li>
			<li>Self-care Presentation</li>
			<li>Shared memories with mom</li>
			<li>Did a fun treasure hunt </li>
			<li>Utilized wheelofnames.com to do raffle for mom’s to win prizes</li>
		</ul>
		</p>
		<p>Celebrated Black History month with a story hour virtually. <br />
		<ul>
			<li>Read <a href="/documents/hairlove0521.pptx">“Hair Love”</a></li>
			<li>Read <a href="/documents/skinlikemine0521.pptx">“Skin Like Mine"</a></li>
			<li>Had breakout rooms for different languages</li>
		</ul>
		</p>
		<h3>Buffalo</h3>
		<p>Virtual Scrapbooking.<br />
		<ul>
			<li>Staff brought materials and dropped them off at family’s homes then met virtually to do the
				activity</a></li>
		</ul>
		</p>
		<p>Virtual Breastfeeding Groups.</p>
		<p>Celebrated Thanksgiving virtually<br />
		<ul>
			<li>Dropped food off to families and celebrated virtually</a></li>
		</ul>
		</p>
		<p>Starting to do in person groups, but limiting the number of families that can attend. Went to the museum
			and
			chose families who had children that were the best fit for the activity.<br />
			They will switch it up and plan other events that are limited and select other families to attend.</p>
		<h3>Otsego</h3>
		<p>Hosted a Prenatal event virtually<br />
		<ul>
			<li>Had a lactation consultant from the hospital come and host a session</li>
			<li>Breastfeeding Bingo virtually</li>
			<li>Self-care Presentation</li>
			<li>Everyone received a manual breast pump and information</li>
		</ul>
		</p>
		<h3>Clinton/Franklin</h3>
		<p>Have been doing many thing to help with outreach and engagement<br />
		<ul>
			<li>Initiated a media campaign to let people know they were still functioning</li>
			<li>Revamped their website to it more inviting</li>
			<li>Created E-form brochures to be sent out virtually</li>
			<li>Did a radio interview locally about the program</li>
			<li>Working on Spring and Summer events where staff will do goodie bags with activities and deliver them
				to families prior to events</li>
			<li>Created a COVID safety video to share with families to help show them how the staff would be staying
				safe while trying to return to in person visits</li>
			<li>Created a Trello Board-it is a tool that helps organize all
				the things going on at the program. Staff working on different
				projects/events and it has helped keep organized and updated on progress from each staff on how the
				planning is going</li>
		</ul>
		</p>
		<p>Staff Appreciation
		<ul>
			<li>Having an award ceremony for staff. “Staff Grammy’s”, giving ribbons and certificated to staff as
				appreciation</li>
			<li>Keep staff motivated by competitions and awards for staff who invited the most moms to an event and
				who had the biggest turnout.</li>
			<li>Send thank you notes to staff via mail to let them know you appreciate them</li>
		</ul>
		</p>
		<h3>Jefferson</h3>
		<p>
		<ul>
			<li>Library event where families were given books and then had discussions together about the books</li>
			<li>Parent Café virtually-families were given activity in advance and then discussed at the virtual event
			</li>
		</ul>
		</p>
		<h3>Jamaica Queens</h3>
		<p>Two baby shower events virtually<br />
		<ul>
			<li>Did one in Spanish and one in English</li>
			<li>Advertised by phone and flyers. Shared flyers with internal programs to share with their families.
			</li>
			<li>Had a virtual presentation by a Doula in one group</li>
			<li>Had a prenatal workout/stress relief group in another group</li>
			<li>Did goodie bags for families to come and pick up as incentives after the event (diapers, wipes, baby
				supplies)</li>
		</ul>
		</p>
	</div>    

</NetworkLayout>
