---
import NetworkLayout from "@/layouts/NetworkLayout.astro";
---

<NetworkLayout
	title="Forums/Events/SLM"
	activeMainText="HFNY Network"
	activeSubText="Forums/Events/SLM"
>
  <h1 class="heading">Special Discussion Topics</h1>

  <div style="text-align: center"><img style="height:185px" src="/images/specialtopicsstaff.jpg" /></div>
  <div>
    <br>
    <h2>
        Periodically, HFNY program staff and Central Administration convene gatherings to discuss special topics of interest and benefit to our network of programs across the state. Information and resources from these discussions are included here.
    </h2>
    <hr>
    <div>
        <p>
            <a href="https://www.youtube.com/watch?v=vN8nnnrpuuw" target="_blank">Prenatal Care Lunch & Learn – 1/13/2025 (video)</a>
        </p>
        <p>
            <a href="/network/events/makingaDifference">05/2021 - HFNY Program/Central Administration Parent Group Brain Storming Session</a>
        </p>
        <p>
            <a href="/network/events/bookClub">HFNY Annual Book Club</a>
        </p>
    </div>
</div>
</NetworkLayout>