---
import NetworkLayout from "@/layouts/NetworkLayout.astro";
---

<NetworkLayout
	title="Forums/Events/SLM"
	activeMainText="HFNY Network"
	activeSubText="Forums/Events/SLM"
>
    <h1 class="heading">HFNY Events and State Leadership Meetings</h1>
    <br />
    <div style="text-align: center;" width:"450" height:"125"><img
    		src="/images/SLMeeetingimage.jpg" width="225" height="75">
    	<h1>State Leadership Meeting Documents</h1>
    	<br />
    	<div>
    		<h3>Statewide Leadership Meeting - November 2024</h3>
    		<ul>
    			<li>
    				<a href="/documents/MIS Reports for Regional SLM.pdf" target="_blank">
    					Presentation - Annual Service Review - Key MIS Reports
    				</a>
    			</li>
    		</ul>
    		<br />
    		<h3>State Leadership Meeting - May 2023</h3>
    		<ul>
    			<li>
    				<a href="/documents/One Pager on Home Visits (002).pdf" target="_blank">
    					One pager on recent changes to Home Visit Logs
    				</a>
    			</li>
    			<li>
    				<a href="/documents/SLM_CA Survey Impact Summary_5-2-2023.pptx">
    					Central Administration Survey - Impact Summary
    				</a>
    			</li>
    			<li>
    				<a href="/documents/SLM_ASR_accandretentionanalyses_onestep.pptx">
    					Annual Service Review - Acceptance and Retention Analyses (Updated for One Step)
    				</a>
    			</li>
    		</ul>
    		<br />
    	</div>
    	<div>
    		<h3>State Leadership Meeting - November 2021</h3>
    		<ul>
    			<li><a href="/documents/QR Code Breakout Groups Results 11.9.21.pdf" target="_blank">
    					State Leaders Meeting 11.9.21 Digital Outreach Card Break Out Sessions</a></li>
    		</ul>
    		<br />
    	</div>
    	<div>
    		<h3>State Leadership Meeting - May 2021</h3>
    		<ul>
    			<li>
    				<a href="/documents/DataTools_SLM2021.pptm" target="_blank">
    					State Leaders Meeting 05.05.21 Community Data Resources &amp; Tools
    				</a>
    			</li>
    		</ul>
    		<br />
    	</div>
    	<div>
    		<h3>State Leadership Meeting - November 2020</h3>
    		<ul>
    			<li><a href="/documents/impactofcovid_slm_nov2020.pptx" target="_blank">Recovery, Successes and
    					COVID-19</a> </li>
    			<li><a href="/documents/CA_System_Survey_for_SLM.pptx" target="_blank">Central Administration Structure and
    					System Survey</a></li>
    			<li><a href="/documents/HFNY_Affiliate_Logo (Revised 4-10-25).pptx" target="_blank">HFNY Logo - How to
    					Edit and Save (updated 2025-04-10)</a></li>
    			<li><a href="/documents/SLM_11.2020.Breakout_Activity_Referral_Strategies.docx" target="_blank">
    					Statewide Leadership Meeting - Referral Strategies Breakout Groups - November 10th, 2020</a></li>
    		</ul>
    	</div>
    	<h1>Regional Meeting Documents</h1>
    	<br />
    	<div>
    		<h3>Regional Meetings - January 2025</h3>
    		<ul>
    			<li>
    				<a href="/documents/HFA SPR 2025.pdf" target="_blank">
    					Information regarding the 2025 HFA Site Profile Report
    				</a>
    			</li>
    		</ul>
    		<br />
    	</div>
    	<div>
    		<h3>Regional Meetings - January 2024</h3>
    		<ul>
    			<li>
    				<a href="/documents/HFNY QA Plan 2023.pdf" target="_blank">
    					HFNY Quality Assurance Plan
    				</a>
    			</li>
    			<li>
    				<a href="/documents/HFAST_2024 Site Profile Report Guide.pdf" target="_blank">
    					HFA Site Profile Report guide - HFAST
    				</a>
    			</li>
    			<li>
    				<a href="/documents/MIS_HFAST_2024_Regionals.pdf" target="_blank">
    					HFNY MIS report for HFAST Site Profile Report
    				</a>
    			</li>
    			<li>
    				<a href="/documents/HFNY Service Referrals Presentation January Regionals.pdf" target="_blank">
    					HFNY Service Referrals Presentation
    				</a>
    			</li>
    			<li>
    				<a href="/documents/HFNY 2021_2022 Overview Regionals.pdf" target="_blank">
    					HFNY 2021‐2022 Annual Service Review Overview, Recommendations, and Next Steps
    				</a>
    			</li>
    		</ul>
    		<br />
    	</div>
    	<div>
    		<h3>Regional Meetings - March 2023</h3>
    		<ul>
    			<li>
    				<a href="/documents/PI details_changes_only_for_current_cycle.pdf" target="_blank">
    					HFNY MIS Performance Targets/Indicators - Changes for current cycle
    				</a>
    			</li>
    			<li>
    				<a href="/documents/April 2023 Schedule-Regionals.pdf" target="_blank">
    					HFNY MIS Performance Indicators schedule
    				</a>
    			</li>
    			<li>
    				<a href="/documents/HFNY Statewide FinLit Series 2023_V3.pdf" target="_blank">
    					Information regarding Financial Literacy presentations
    				</a>
    			</li>
    		</ul>
    		<br />
    	</div>
    	<div>
    		<h3>Regional Meetings - January 2023</h3>
    		<ul>
    			<li>
    				<a href="/documents/HFNY Performance Targets and Indicators_2023_changes_Regionals.pdf" target="_blank">
    					HFNY MIS Performance Targets/Indicators - Changes for 2023
    				</a>
    			</li>
    			<li>
    				<a href="/documents/MIS_HFAST_2023_Regionals.pdf" target="_blank">
    					HFNY MIS report for HFAST Site Profile Report
    				</a>
    			</li>
    			<li>
    				<a href="/documents/2023 SPR Guide.pdf" target="_blank">
    					2023 - HFA Site Profile Report guide
    				</a>
    			</li>
    		</ul>
    		<br />
    	</div>
    <style>
        ul {
            list-style-type: none;
            padding: 0px !important;
        }
    </style>
</NetworkLayout>