---
import NetworkLayout from "@/layouts/NetworkLayout.astro";
---

<NetworkLayout
    title="Forums/Events/SLM"
    activeMainText="HFNY Network"
    activeSubText="Forums/Events/SLM"
>
    <h1 class="heading">Supervisor Forums</h1>

    <div>
        <h2>
            Regional Supervisor Forums
        </h2>
        <h3>These forums are an opportunity for supervisors to connect with each other on topics they selected in advance, share lessons learned over the past few months and support each other around best practices and ideas for moving forward.</h3>
        <p></p>

        <div>
            <p>
                <a target="_blank" href="/documents/SupportingStaffwithProfessionalBoundaries-SupForum0924.pdf">
                    Supporting Staff with Professional Boundaries - Supervisor Forum - September 24-25, 2024
                </a>
            </p>
            <p>
                <a target="_blank" href="/documents/SupervisorForum-Onboarding-BeyondtheRequirements0324.pdf">
                    Onboarding - Beyond the Requirements - Supervisor Forum - March 12-13, 2024
                </a>
            </p>
            <p>
                <a target="_blank" href="/documents/SupForumNotes1023TeamDynamicsBuilding.pdf">
                    Team Dynamics Building - Supervisor Forum - October 17, 2023
                </a>
            </p>
            <p>
                <a target="_blank" href="/documents/CommunicatingChangeSupervisorForum0423.pdf">
                    Communicating Change - Supervisor Forum - April 23, 2023
                </a>
            </p>
            <p>
                <a target="_blank" href="/documents/SupervisorForumNotes-LookingBackLookingAheadDecember2022.pdf">
                    Looking Back, Looking Ahead - December 2022
                </a>
            </p>
            <p>
                <a target="_blank" href="/documents/SupervisorForumNotes-HavingDifficultConversationsSept2022.pdf">
                    Having difficult conversations with staff - September, 2022
                </a>
            </p>
            <p>
                <a target="_blank" href="/documents/WorkingwithFamiliesatHighRisk-CombinedNotesApril2022.pdf">
                    Working with families at high risk - combined notes - April, 2022
                </a>
            </p>
            <p>
                <a target="_blank" href="/documents/Managing-Change-combined-notes-2022-01-22.pdf">
                    Managing Change - summary of notes from 3 regions - January 26-27, 2022
                </a>
            </p>
            <p>
                <a target="_blank" href="/documents/SupervisorForumsNotes_ CHEERS1021.pdf">
                    CHEERS for Supervisors: Guiding Practice - October 19-20, 2021
                </a>
            </p>
            <p>
                <a target="_blank" href="/documents/CombinedSupervisorForumnotes_ReturningtoInHomeVisits_0721.pdf">
                    Combined Supervisor Forum Notes Returning to In Home Visits: Opportunities and Challenges July 21-22, 2021
                </a>
            </p>
            <p>
                <a target="_blank" href="/documents/SupervisorForumCombinedRegionalNotesIntegrationoftheServicePlan0421.pdf">
                    Combined Regional Notes: Integration of the Service Plan - April 2021
                </a>
            </p>
            <p>
                <a target="_blank" href="/documents/SupervisorForumnotescombinedInternalQA12021doc.pdf">
                    Making the most of Internal QA - January 2021
                </a>
            </p>
            <p>
                <a href="/documents/StaffAccountability.TimeManagement.CombinedSupervisorForumNotes122020.doc">
                    Staff Accountability and Time Management - December 2020
                </a>
            </p>
            <p>
                <a href="/documents/SupervisorForumCombinedRegionalNotes .Reflective Supervision1120.doc">
                    Reflective Supervision in the Virtual Setting - November 2020
                </a>
            </p>
            <p>
                <a href="/documents/SupervisorForumcombinedregionalnotesFSSEngagement.Retention1020.doc">
                    Combined Regional Notes: FSS Engagement and Retention - October 2020
                </a>
            </p>
        </div>
    </div>
</NetworkLayout>