---
interface AccordionItems {
  togglerTitle: string;
  togglerContent: string;
}

export interface Props {
  accItems: AccordionItems[];
  id?: string; // Optional ID for the accordion
}
const { accItems, id = `${Math.random().toString(36).substring(2, 9)}` } =
  Astro.props;

// const id = `{group}-${Math.random().toString(36).substring(2, 9)}`;
// console.log("Accordion group:", group); // Log the group for debugging
// console.log("Accordion ID:", id); // Log the ID for debugging
---

<>
  <div id={id} class="accordion">
    {
      accItems.map((item: AccordionItems) => (
        <div class="accordion-item">
          <div class="accordion-toggle">
            <p set:html={item.togglerTitle} />
          </div>
          <div class="accordion-content">
            <div set:html={item.togglerContent} />
          </div>
        </div>
      ))
    }
  </div>
</>

<script
  type="text/javascript"
  src="https://ajax.googleapis.com/ajax/libs/jquery/1.7/jquery.min.js"
  is:inline></script>
<script type="text/javascript" src="/js/accordion.js" is:inline></script>

<!-- Experimental styles 
 // TODO: Revisit the accordion experimental styles

<style>
  /* Accordion container */
  #accordion {
    border: 1px solid #ddd;
    border-radius: 5px;
    overflow: hidden;
  }

  /* Accordion toggle (header) */
  .accordion-toggle {
    background-color: #f7f7f7;
    color: #333;
    cursor: pointer;
    padding: 1px;
    font-size: 1.2rem;
    font-weight: bold;
    border-bottom: 1px solid #ddd;
    transition: background-color 0.3s ease;
  }

  .accordion-toggle:hover {
    background-color: #eaeaea;
  }

  /* Accordion content */
  .accordion-content {
    display: none; /* Hidden by default */
    padding: 15px;
    background-color: #fff;
    border-bottom: 1px solid #ddd;
    font-size: 1rem;
    color: #555;
  }

  /* Active toggle */
  .accordion-toggle.active {
    background-color: #eaeaea;
  }

  /* Last item styling */
  #accordion .accordion-content:last-child {
    border-bottom: none;
  }
</style> -->
<style>
  /* accordion styles ===================== */
  .accordion-toggle {
    color: #39c;
    text-decoration: underline;
    cursor: pointer;
  }
  .accordion-content {
    border: 1px solid transparent;
    display: none;
    padding-bottom: 0;
  }
  .accordion-content.default {
    display: block;
  }
  .instructions {
    background-image: url(/images/template_images/instructions-icon.png);
    background-repeat: no-repeat;
    position: left top;
    color: #1d809c;
    padding-left: 1.5em;
  }
</style>
