---
const currentYear = new Date().getFullYear();
---

<div id="footer">
  <ul>
    <li class="ocfs">
      <a href="http://www.ocfs.state.ny.us/main/" target="_blank">
        <img src="/images/OCFS Logo_new.png" alt="NYS Office of Children and Family Services" title="NYS Office of Children and Family Services" />
      </a>
    </li>
    <li class="pca">
      <a href="http://www.preventchildabuseny.org/" target="_blank">
        <img src="/images/PCA_logo.png" alt="Prevent Child Abuse NY" title="Prevent Child Abuse NY" />
      </a>
    </li>
    <li class="chsr">
      <a href="http://www.albany.edu/center-human-services-research/" target="_blank">
        <img src="/images/CHSR_logo.png" alt="Center for Human Services Research" title="Center for Human Services Research" />
      </a>
    </li>
    <li class="hfa">
      <a href="http://www.healthyfamiliesamerica.org/" target="_blank">
        <img src="/images/HFA Logo 2016 - Grey.jpg" alt="Healthy Families America" title="Healthy Families America" />
      </a>
    </li>
  </ul>

  <p>
    &copy; {currentYear} Healthy Families New York &nbsp;&nbsp;&nbsp;&nbsp;
    <a href="/disclaimer">Disclaimer</a>
  </p>
</div>

<style>
  /* We'll move the CSS here later */
</style> 