---
import Search from "astro-pagefind/components/Search";

const { activeMainText } = Astro.props;

const menuItems = [
  {
    text: "Home",
    href: "/",
    active: true,
  },
  {
    text: "About",
    href: "/about",
    active: false,
  },
  {
    text: "Home Visits",
    href: "/homevisits",
    active: false,
  },
  {
    text: "Research",
    href: "/research",
    active: false,
  },
  {
    text: "Resources",
    href: "/resources",
    active: false,
  },
  {
    text: "MIS",
    href: "/mis",
    active: false,
  },
  {
    text: "Training",
    href: "/training",
    active: false,
  },
].map((item) => ({
  ...item,
  active: activeMainText === item.text,
}));

let pagefind;
document.querySelector("#search").addEventListener("focus", async (e) => {
  if (!pagefind) {
    pagefind = await import("./pagefind.js");
    pagefind.init();
  }
});
---

<div id="header">
  <!-- mobile nav hamburger -->
  <div id="hamburger">
    <div></div>
    <div></div>
    <div></div>
  </div>

  <nav>
    <!-- main site navigation -->
    <!-- <li><a href="/" class="active">Home</a></li>
    <li><a href="/about">About</a></li>
    <li><a href="/homevisits">Home Visits</a></li>
    <li><a href="/research">Research</a></li>
    <li><a href="/resources">Resources</a></li>
    <li><a href="/mis">MIS</a></li>
    <li><a href="/training">Training</a></li> -->
    <ul id="main-nav">
      {
        menuItems.map((item) => (
          <li>
            <a href={item.href} class={item.active ? "active" : ""}>
              {item.text}
            </a>
          </li>
        ))
      }
    </ul>

    <Search
      id="search"
      className="pagefind-ui"
      uiOptions={{ showImages: false }}
    />

    <!-- user navigation -->
    <ul id="user-nav">
      <li><a href="/network/login">HFNY Network</a></li>
      <li>
        <img src="/images/template_images/nav_divider.png" alt="hash mark" />
      </li>
      <li><a href="/jobs">Jobs</a></li>
      <li>
        <img src="/images/template_images/nav_divider.png" alt="hash mark" />
      </li>
      <li><a href="/contact">Contact</a></li>
    </ul>
  </nav>
</div>

<script>
  // Mobile menu toggle
  const hamburger = document.getElementById("hamburger");
  const nav = document.querySelector("nav");

  hamburger?.addEventListener("click", () => {
    nav?.classList.toggle("active");
    hamburger.classList.toggle("active");
    document.documentElement.scrollTop = 0;
    document.body.scrollTop = 0;
  });
</script>

<style>
  /* We'll move the CSS here later */
</style>
