---
import OneStepLayout from "@/layouts/OneStepLayout.astro";
---

<OneStepLayout
  title="One Step/Guidelines"
  activeMainText="HFNY OneStep"
  activeSubText="One Step Guidance"
>
  <main>
    <div style="text-align: center;">
      <h2>
        The document below gives advice and lists processes to implement the One
        Step Enrollment process.
      </h2>
      <a
        href="/Staff/Documents/One-Step Guidelines 8-10-2023.pdf"
        target="_blank"
      >
        <h1>One Step Enrollment Process Guidelines (08/10/23)</h1>
      </a>
    </div>
  </main>
</OneStepLayout>
