---
import OneStepLayout from "@/layouts/OneStepLayout.astro";
---

<OneStepLayout
  title="One Step"
  activeMainText="HFNY OneStep"
  activeSubText="One Step Guidance"
>
  <main></main>
</OneStepLayout>
