---
import OneStepLayout from "@/layouts/OneStepLayout.astro";
---

<OneStepLayout
  title="One Step/Toolkit"
  activeMainText="HFNY OneStep"
  activeSubText="One Step Guidance"
>
  <main>
    <div style="text-align: center;">
      <h2>One Step Toolkit</h2>
      <p>
        Central Administration has created a toolkit to aide in the
        implementation and ease the transition to the One Step Enrollment
        process.
      </p>
      <a href="/Staff/Documents/One Step Toolkit.pdf" target="_blank">
        One Step Enrollment Process Toolkit (updated 01/12/23)
      </a>
      <br />
      <h2>Resources - Decision Trees</h2>
      <a
        href="/Staff/Documents/When should I place a family on CO.pdf"
        target="_blank"
      >
        When should I place a family on Level CO (updated 08/02/23)
      </a>
      <br />
      <a
        href="/Staff/Documents/Should I complete a home visit log decision tree.pdf"
        target="_blank"
      >
        When should I complete a Home Visit Log (updated 08/02/23)
      </a>
      <br />
    </div>
  </main>
</OneStepLayout>
