---
import NetworkLayout from "@/layouts/NetworkLayout.astro";
---

<NetworkLayout
    title="Curriculum"
    activeMainText="HFNY Network"
    activeSubText="Curriculum"
>
    <h1 class="heading">24/7 Dad
    </h1>
    <h2>24/7 Dad
    	- Supporting Documentation</h2>
    <div>
    	<p>Below is a list of approved curriculum.</p>
    	<ul>
    		<li><a href="/documents/247Dad-Evaluation-Lewin-Bizan-06102015.pdf" target="_blank">24/7
    				Dad-Evaluation-Lewin-Bizan-06/10/2015</a></li>
    		<li><a href="/documents/247Dad_FRPN_AuburnU_FullReport_082519_v3_0.pdf" target="_blank">24/7 Dad -
    				FRPN Auburn University Full Report - 08/25 2019 v3</a></li>
    		<li><a href="/documents/247Dad_Louisville_Univ_preliminary_eval_final_2019_july.pdf"
    				target="_blank">24/7 Dad - Louisville University Preliminary Eval - final 2019 July</a></li>
    		<li><a href="/documents/247Dad_TeenDads_Guide_final.pdf" target="_blank">24/7 Dad - Teen Dads Guide
    				- final</a></li>
    		<li><a href="/documents/247DadAM_sample_kit.pdf" target="_blank">24/7 Dad - A.M. Sample Kit</a>
    		</li>
    		<li><a href="/documents/247DadPM_sample_kit.pdf" target="_blank">24/7 Dad - P.M. Sample Kit</a>
    		</li>
    	</ul>
    	</ul>
    </div>
</NetworkLayout>
