---
import NetworkLayout from "@/layouts/NetworkLayout.astro";
---

<NetworkLayout
    title="Curriculum"
    activeMainText="HFNY Network"
    activeSubText="Curriculum"
>
					<h1 class="heading">24/7 Dad: Adaptation for Teen Dads</h1>

					<h2>
						24/7 Dad: Adaptation for Teen Dads - Supporting Documentation
					</h2>

					<div>
						<p>Below is a list of approved curriculum.</p>
						<ul>
							<li>
								<a href="/documents/247Dad_TeenDads_Guide_final.pdf" target="_blank">24/7 Dad-Teen Dads -
									final</a>
							</li>
						</ul>
					</div>
</NetworkLayout>
