---
import NetworkLayout from "@/layouts/NetworkLayout.astro";
---

<NetworkLayout
    title="Curriculum"
    activeMainText="HFNY Network"
    activeSubText="Curriculum"
>
    <h1 class="heading">Baby TALK (prenatal-Kindergarten)</h1>
    <h2>
        Baby TALK (prenatal-Kindergarten) - Supporting Documentation
    </h2>
    <div>
        <p>Below is a list of approved curriculum.</p>
        <ul>
            <li>
                <a href="/documents/BabyTALK_TableofContents_2020_11_13 (1).pdf" target="_blank">Baby TALK
                    Curriculum Table of Contents</a>
            </li>
            <li>
                <a href="/documents/BabyTALK_5a_Preschool_Language_Development.pdf" target="_blank">BabyTALK - 5a
                    - Preschool Language Development</a>
            </li>
            <li>
                <a href="/documents/BabyTALK_5b_Preschool_Language_Activities_WritingtoRepresent_Language.pdf"
                    target="_blank">BabyTALK - 5b - Preschool Language Activities - Writing to
                    Represent Language</a>
            </li>
            <li>
                <a href="/documents/BabyTALK_5d_Preschool_Activities_KicktheCup (1).pdf" target="_blank">BabyTALK
                    - 5d - Preschool Activities - Kick the Cup</a>
            </li>
            <li>
                <a href="/documents/BabyTALK_5e_TemperTantrums.pdf" target="_blank">BabyTALK - 5e - Temper
                    Tantrums</a>
            </li>
            <li>
                <a href="/documents/BabyTALK_5f_TraumaInformedCurric_SubstanceAbuse.pdf" target="_blank">BabyTALK
                    - 5f - Trauma Informed Curriculum:Substance
                    Abuse</a>
            </li>
            <li>
                <a href="/documents/BabyTALK_Critical_Concepts.pdf"
                    target="_blank">BabyTALK_Critical_Concepts</a>
            </li>
            <li>
                <a href="/documents/BabyTALK_RefugeeOne_RCT_Report_2018_01.pdf" target="_blank">BabyTALK Refugee
                    One RCT Report - 2018</a>
            </li>
            <li>
                <a href="/documents/BabyTALK_AIR_RCT_Research_Report_2016_05.pdf" target="_blank">BabyTALK AIR
                    RCT Research Report - 2016</a>
            </li>
        </ul>
    </div>
</NetworkLayout>





