---
import NetworkLayout from "@/layouts/NetworkLayout.astro";
---

<NetworkLayout
    title="Curriculum"
    activeMainText="HFNY Network"
    activeSubText="Curriculum"
>
					<h1 class="heading">
						Program for Native American/Tribal Communities - FACE: Family and
						Child Education Program
					</h1>

					<h2>
						Program for Native American/Tribal Communities - FACE: Family and
						Child Education Program - Supporting Documentation
					</h2>

					<div>
						<p>Below is a list of approved curriculum.</p>
						<ul>
							<li>
								<a href="/documents/PAT_Pfannenstiel_JAIE_2011_evidence_base.pdf" target="_blank">The Family and
									Child Education Program and School
									Readiness</a>
							</li>
							<li>
								<a href="/documents/FACE_Executive_Summary_2017_Study.pdf" target="_blank">FACE Executive Summary
									- 2017 Study</a>
							</li>
						</ul>
					</div>
</NetworkLayout>
