---
import NetworkLayout from "@/layouts/NetworkLayout.astro";
---

<NetworkLayout
    title="Curriculum"
    activeMainText="HFNY Network"
    activeSubText="Curriculum"
>
<h1 class="heading">GGK Play With Me!</h1>

    <h2>GGK Play With Me! - Supporting Documentation</h2>
    <div>
    	<p>Below is a list of approved curriculum.</p>
    	<ul>
    		<li>
    			<a href="/documents/pwmGGKPaths-to-Positive-Outcomes-FINAL-3.3.17.pdf" target="_blank">GGK
    				Paths-to-Positive-Outcomes - FINAL-3.3.17</a>
    		</li>
    		<li>
    			<a href="/documents/pwmGGKResearchFoundations-Finalized-3-13-17.pdf" target="_blank">GGK Research
    				Foundations - Finalized-3-13-17</a>
    		</li>
    	</ul>
    </div>
</NetworkLayout>
