---
import NetworkLayout from "@/layouts/NetworkLayout.astro";
---

<NetworkLayout
    title="Policy Manuals and Appendices"
    activeMainText="HFNY Network"
    activeSubText="Policy Manuals and Appendices"
>
    <h1 class="heading">Growing Great Kids Prenatal through 36 Months</h1>
    <h2>
    	Growing Great Kids Prenatal through 36 Months - Supporting
    	Documentation
    </h2>
    <div>
    	<p>Below is a list of approved curriculum.</p>
    	<ul>
    		<li>
    			<a href="/documents/GGKResearchFoundations-Finalized-3-13-17 (2).pdf"
    				target="_blank">GGKResearchFoundations-Finalized-3-13-17</a>
    		</li>
    		<li>
    			<a href="/documents/GGKPaths-to-Positive-Outcomes-FINAL-3.3.17.pdf"
    				target="_blank">GGKPaths-to-Positive-Outcomes-FINAL-3.3.17</a>
    		</li>
    		<li>
    			<a href="/documents/GGK_lecroy_lopez_2018_HFAz_RCT_w_GGK.pdf" target="_blank">GGK - Lecroy Lopez
    				- 2018</a>
    		</li>
    		<li>
    			<a href="/documents/GGK_lecroy_davis_2016_HFAz_RCT_w_GGK.pdf" target="_blank">GGK - Lecroy Davis
    				- 2016</a>
    		</li>
    		<li>
    			<a href="/documents/GrowingGreatKidsCurriculum_EBP_Summary_Final_5-5-2016.pdf"
    				target="_blank">GGK - EBP Summary Final 05/2016</a>
    		</li>
    		<li>
    			<a href="/documents/GKI-Program-Partner-Research-Publications_v1.pdf" target="_blank">GKI -
    				Program Partner Research - Publications v1</a>
    		</li>
    	</ul>
    </div>
</NetworkLayout>
