---
import NetworkLayout from "@/layouts/NetworkLayout.astro";
---

<NetworkLayout
    title="Curriculum"
    activeMainText="HFNY Network"
    activeSubText="Curriculum"
>
    <h1 class="heading">Curriculum</h1>

	<h2>The HFNY Curriculum Committee recently researched 26 curricula and gave recommendations to the HFNY
		Central Administration (CA).<br />
		The CA has made changes to the HFNY-approved curricula. Please see the attached documentation for more
		information.</h2>
	<div>
		<p>
		<ul>
			<li>
				<a href="/documents/Curriculum_Manual_December2024Updated_Final.pdf" target="_blank">
					Curriculum Manual (PDF) (Updated December 2024)
				</a>
			</li>
			<li>
				<a href="/documents/Curriculum_Manual_December2024Updated_Final.docx" target="_blank">
					Curriculum Manual (Word document - DOCX) (Updated December 2024)
				</a>
			</li>
			<li>
				<a href="/documents/Curricula_At_A_Glance_Final_2021_02_22 (1).pdf" target="_blank">
					Curricula at a Glance
				</a>
			</li>
			<li>
				<a href="/documents/Curriculum_Committee_HFNY_Complete_Documentation_Final_2023_05_23.xlsx"
					target="_blank">
					Curriculum Spreadsheet - Curricula Evaluated by the HFNY Curriculum & HFNY Central Administration
					(updated 09/2022)
				</a>
			</li>
			<li>
				<a href="/documents/Curriculum_Executive_Summary_CADecisions_FINAL_2021_02_22.pdf"
					target="_blank">
					HFNY Curriculum Committee: Executive Summary
				</a>
			</li>
			<li>
				<a href="/documents/HFNY_Curriculum_Committee_RegionalMeetings_March2021_2021_03_01.pptx"
					target="_blank">
					HFNY Curriculum Committee and HFNY Central
				</a>
			</li>
		</ul>
		</p><p>
		<h2>HFNY Curriculum Community of Practice (CoP) Presentations and Tools</h2>
		<ul>
			<h3>Critical Health and Safety Topics List - Videos and Tools</h3>
			<ul>
				<li>
					<a href="https://youtu.be/04z-cNeJ5Uk" target="_blank">
						Community of Practice - Curricula For Critical Health And Safety Topics presentation (5/22/2025)
					</a>
				</li>
				<li>
					<a href="/documents/CriticalHealth_AndSafetyList_Presentation_DeannaPace_5.22.2025.pdf"
						target="_blank">
						Presentation on Curricula for Critical Health and Safety Topics presentation (5/22/2025)
					</a>
				</li>
				<li>
					<a href="/documents/Critical Health and Safety List (6-4) 2-2025.docx">
						Critical Health and Safety list
					</a>
				</li>
				<li>
					<a href="/documents/Trusted Websites - 2025.docx">
						Trusted Websites for Critical Health and Safety Topics
					</a>
				</li>
				<li>
					<a href="/documents/HEALTH SAFETY BINGO.docx">
						Health and Safety Topics BINGO Card
					</a>
				</li>
				<li>
					<a href="/documents/Health and Safety Pictionary Instructions.docx">
						Instructions for Health and Safety Topics Pictionary
					</a>
				</li>
				<li>
					<a href="/documents/Health and Safety topics cards for pictionary.pdf" target="_blank">
						Health and Safety Topics Pictionary Cards
					</a>
				</li>
			</ul>
			<li>
				<a href="https://youtu.be/h8wLJ6tc5gQ" target="_blank">
					Parents as Teachers (PAT): Partnering with Teen (or Young, ages 12-25) Parents video (2/27/2025)
				</a>
			</li>
			<li>
				<a href="https://youtu.be/x3mLBUc5uzQ" target="_blank">
					Parents as Teachers (PAT): Interactions Across Abilities video (curriculum for children with
					developmental disabilities) (10/3/2024)
				</a>
			</li>
		</ul>
		</p>
			<a href="/documents/SAN ANGELO FLAGGED PAGES_YearOne_2021_03_02.pdf" target="_blank">
				SAN ANGELO FLAGGED PAGES YEAR ONE – NOT TO USE
			</a>
	</div>
    <br>
	<div>
		<h1>
			<p>Supporting Documentation for Curricula</p>
		</h1>
		<h2>
			<p>General Curricula</p>
		</h2>
		<h3>Primary Curricula</h3>
		<p>
		<ul>
			<li><a href="/network/curriculum/GGKp36">Growing Great Kids Prenatal through 36 Months (GGK P36)</a></li>
			<ul>
				<li>
					<a href="https://youtu.be/UwDDA2dKX-8" target="_blank">
						Great Kids, Inc. Presentation for the Curriculum Committee - GGK and Other Curricula Available Free
						To You - 8/24/2023
					</a>
				</li>
				<li>
					<a href="https://youtu.be/9JCtpDqxz2w" target="_blank">
						Curriculum Committee - follow-up Q&A with Great Kids, Inc. - 12/12/2023
					</a>
				</li>
				<li>
					<a href="/documents/GGKCurriculumQuestions_FAQ_GreatKidsIncPresentation_12.12.2023.pdf"
						target="_blank">
						FAQ on Questions and Concerns About the GGK Curricula
					</a>
				</li>
			</ul>
			<li><a href="/network/curriculum/pfhbcurr">Partners for a Healthy Baby/Florida State University (PHB/FSU)</a></li>            
			<li><a href="/network/curriculum/pat">Parents as Teachers (PAT)</a></li>
		</ul>
	</p>
	<h3>Supplemental General Curricula</h3>
	<p>
		<ul>
			<li><a href="/network/curriculum/babytalk">Baby TALK (Prenatal-Age 5)</a></li>
		</ul>
	</p>
	<h3>Curricula Specifically for Ages 3-5</h3>
	<p>
		<ul>
			<li><a href="/network/curriculum/GGKPlayWithMe">GGK Play With Me! (Ages 3-4)</a></li>
			<li><a href="/network/curriculum/GGKforPreschoolers">GGK for Preschoolers (Ages 3-5)</a></li>
			<li><a href="/network/curriculum/patFoundational2">PAT Foundational 2 (Ages 3-6)</a></li>
			
			<li><a href="/network/curriculum/patPartneringwithTeenParents">PAT: Partnering with Teen Parents
				(prenatal-Kindergarten)</a></li>
				<li><a href="/network/curriculum/babytalkkindergarden">Baby TALK (prenatal-Kindergarten)</a></li>
				
			</ul>
		</p>
		<h2>
			<p>Specialized Supplemental Curricula</p>
		</h2>
		<h3>Fatherhood-Focused Curricula </h3>
		<p>
			<ul>
				<li><a href="/network/curriculum/24-7Dad">24/7 Dad</a></li>
				<li><a href="/network/curriculum/nurturingFathers">Nurturing Fathers</a></li>
				<li><a href="/network/curriculum/understandingDad">Understanding Dad</a></li>
				<li><a href="/network/curriculum/patPartneringwithTeenParents">PAT: Partnering with Teen Parents</a></li>
				<li><a href="/network/curriculum/insideOutDad">InsideOut Dad (for incarcerated fathers) (Not Approved)</a></li>
				<li><a href="/network/curriculum/responsibleFatherhood">The Responsible Fatherhood Curriculum (Not Approved)</a>
					<br>✅<br><br> 
					<!-- ? REMOVE THIS LATER! -->
			</li>
		</ul>
		</p>
		<h3>Curricula for Teen Parents</h3>
		<p>
		<ul>
			<li><a href="PAT-Partnering with Teen Parentsspecialized.htm">PAT: Partnering with Teen Parents</a></li>
			<li><a href="24-7dad_adaptationforteendads.htm">24/7 Dad: Adaptation for Teen Dads</a></li>
		</ul>
		</p>
		<h3>Curricula for Children with Disabilities </h3>
		<p>
		<ul>
			<li><a href="PAT-Interactions Across Abilities.htm">PAT: Interactions Across Abilities</a></li>
			<li><a href="childrenwithdisability.htm">PAT: Partnering with Teen Parents</a></li>
		</ul>
		</p>
		<h3>Overcoming Adversity/Trauma & Building Resilience</h3>
		<p>
		<ul>
			<li><a href="mindmatters.htm">Mind Matters: Overcoming Adversity and Building Resilience</a></li>
		</ul>
		</p>
		<h3>Program for Native American/Tribal Communities </h3>
		<p>
		<ul>
			<li><a href="NATCFACE.htm">FACE: Family and Child Education Program</a></li>
		</ul>
		</p>
	</div>
</NetworkLayout>
