---
import NetworkLayout from "@/layouts/NetworkLayout.astro";
---

<NetworkLayout
    title="Curriculum"
    activeMainText="HFNY Network"
    activeSubText="Curriculum"
>
					<h1 class="heading">InsideOut Dad</h1>

					<h2>InsideOut Dad - Supporting Documentation</h2>

					<div>
						<p>Below is a list of approved curriculum.</p>
						<ul>
							<li>
								<a href="/documents/368_IoDEvalRpt_NREPP_120712.pdf" target="_blank">InsideOut Dad Eval Report -
									12/07/2012</a>
							</li>
						</ul>
					</div>
</NetworkLayout>
