---
import NetworkLayout from "@/layouts/NetworkLayout.astro";
---

<NetworkLayout
    title="Curriculum"
    activeMainText="HFNY Network"
    activeSubText="Curriculum"
>
					<h1 class="heading">
						Mind Matters: Overcoming Adversity and Building Resilience
					</h1>

					<h2>
						Mind Matters: Overcoming Adversity and Building Resilience -
						Supporting Documentation
					</h2>

					<div>
						<p>Below is a list of approved curriculum.</p>
						<ul>
							<li>
								<a href="/documents/Mind_Matters_Research_Base_2020_11_02.pdf" target="_blank">Mind Matters -
									Underlying Evidence Base</a>
							</li>
							<li>
								<a href="/documents/Mind_Matters_Technical_Report_2020_05_02.pdf" target="_blank">MIND MATTERS -
									TECHNICAL REPORT MAY 2020</a>
							</li>
						</ul>
					</div>
</NetworkLayout>
