---
import NetworkLayout from "@/layouts/NetworkLayout.astro";
---

<NetworkLayout
    title="Curriculum"
    activeMainText="HFNY Network"
    activeSubText="Curriculum"
>
    <h1 class="heading">Nurturing Fathers
    </h1>
    <h2>Nurturing Fathers - Supporting Documentation</h2>
    <div>
    	<p>Below is a list of approved curriculum.</p>
    	<ul>
    		<li><a href="/documents/NFP_Research_CrossCulturalInvestigation 1).pdf" target="_blank">A Cross
    				Cultural Investigation of the Nurturing Father’s Program Outcomes</a></li>
    		<li><a href="/documents/NFP_Research_ParentalAttitudesandBehavior.pdf" target="_blank">Parental
    				Attitudes and Behaviors of Participants in the Nurturing Fathers Program</a></li>
    		<li><a href="/documents/NFP_Research_Summary2_CrossCulturalInvestigation (1).pdf" target="_blank">A
    				Cross Cultural Investigation of the Nurturing
    				Father's Program Outcomes - Study 2</a></li>
    		<li><a href="/documents/NFP_ResearchSummary1_ ParentalAttitudesandBehaviors (1).pdf"
    				target="_blank">Parental Attitudes and Behaviors of Participants in the
    				Nurturing Father's Program - Study 1</a></li>
    	</ul>
    	</ul>
    </div>
</NetworkLayout>
