---
import NetworkLayout from "@/layouts/NetworkLayout.astro";
---

<NetworkLayout
    title="Policy Manuals and Appendices"
    activeMainText="HFNY Network"
    activeSubText="Policy Manuals and Appendices"
>
    <h1 class="heading">Parents as Teachers (PAT)</h1>
    <h2>Parents as Teachers (PAT) - Supporting Documentation</h2>
    <div>
    	<p>Below is a list of approved curriculum.</p>
    	<ul>
    		<li>
    			<a href="/documents/PAT_2020_PricingSheet.pdf" target="_blank">Parents as Teachers - Pricing
    				Sheet</a>
    		</li>
    		<li>
    			<a href="/documents/Parents_as_Teachers_Evidence_Base_Bibliography_Updated2019April (1).pdf"
    				target="_blank">Parents as Teachers Research Bibliography</a>
    		</li>
    		<li>
    			<a href="/documents/PAT_Pfannenstiel_JAIE_2011_evidence_base.pdf" target="_blank">Journal of
    				American Indian Education - Volume 50, Issue 2,
    				2011</a>
    		</li>
    		<li>
    			<a href="/documents/PAT_SAMPLEPacket_FoundationalCurriculum.pdf" target="_blank">Parents as
    				Teachers Sample Packet</a>
    		</li>
    	</ul>
    </div>
</NetworkLayout>
