---
import NetworkLayout from "@/layouts/NetworkLayout.astro";
---

<NetworkLayout
    title="Policy Manuals and Appendices"
    activeMainText="HFNY Network"
    activeSubText="Policy Manuals and Appendices"
>
    <h1 class="heading">PAT Foundational 2</h1>
    <h2>PAT Foundational 2 - Supporting Documentation</h2>
    <div>
    	<p>Below is a list of approved curriculum.</p>
    	<ul>
    		<li>
    			<a href="/documents/Parents_as_Teachers_Evidence_Base_Bibliography_Updated2019April.pdf"
    				target="_blank">Parents as Teachers Evidence Base Bibliography Updated
    				2019April</a>
    		</li>
    	</ul>
    </div>
</NetworkLayout>
