---
import NetworkLayout from "@/layouts/NetworkLayout.astro";
---

<NetworkLayout
    title="Curriculum"
    activeMainText="HFNY Network"
    activeSubText="Curriculum"
>
					<h1 class="heading">
						Children with Disabilities - PAT: Interactions Across Abilities
					</h1>

					<h2>
						Children with Disabilities - PAT: Interactions Across Abilities -
						Supporting Documentation
					</h2>

					<div>
						<p>Below is a list of approved curriculum.</p>
						<ul>
							<li>
								<a href="/documents/PAT_InteractionsAcrossAbilities_Curriculum_Sample.pdf" target="_blank">PAT:
									Interactions Across Abilities - Sample Curriculum</a>
							</li>
						</ul>
					</div>
</NetworkLayout>
