---
import NetworkLayout from "@/layouts/NetworkLayout.astro";
---

<NetworkLayout
    title="Policy Manuals and Appendices"
    activeMainText="HFNY Network"
    activeSubText="Policy Manuals and Appendices"
>
    <h1 class="heading">PAT: Partnering with Teen Parents</h1>

    <h2>
    	PAT: Partnering with Teen Parents - Supporting Documentation
    </h2>
    <div>
    	<p>Below is a list of approved curriculum.</p>
    	<ul>
    		<li>
    			<a href="/documents/PAT_PartneringwithTeenParents_sample_curriculum.pdf" target="_blank">PAT -
    				Partnering with Teen Parents - Sample curriculum</a>
    		</li>
    	</ul>
    </div>
</NetworkLayout>
