---
import NetworkLayout from "@/layouts/NetworkLayout.astro";
---

<NetworkLayout
    title="Curriculum"
    activeMainText="HFNY Network"
    activeSubText="Curriculum"
>
    <h1 class="heading">PAT: Partnering with Teen Parents</h1>

    <h2>
    	PAT: Partnering with Teen Parents - Supporting Documentation
    </h2>
    <div>
    	<p>Below is a list of approved curriculum.</p>
    	<ul>
			<li>
				<a href="/documents/PAT_TOC_Partnering_with_Teen_Parents (1).pdf" target="_blank">PAT - Table
					Contents - Partnering with Teen Parents</a>
			</li>
			<li>
				<a href="/documents/PAT_PartneringwithTeenParents_sample_curriculum.pdf" target="_blank">PAT -
					Partnering with Teen Parents - Sample curriculum</a>
			</li>
    	</ul>
    </div>
</NetworkLayout>
