---
import NetworkLayout from "@/layouts/NetworkLayout.astro";
---

<NetworkLayout
    title="Curriculum"
    activeMainText="HFNY Network"
    activeSubText="Curriculum"
>
    <h1 class="heading">
    	Partners for a Healthy Baby/Florida State University
    </h1>
    <h2>
    	Partners for a Healthy Baby/Florida State University - Supporting
    	Documentation
    </h2>
    <div>
    	<p>Below is a list of approved curriculum.</p>
    	<ul>
    		<li>
    			<a href="/documents/PHBFSU_prepost_ZTT_2014.pdf" target="_blank">The Development and Evaluation
    				of the MOMobile Program</a>
    		</li>
    		<li>
    			<a href="/documents/PHBFSU_Final_Policy_Brief.pdf" target="_blank">Partners for Healthy Baby
    				Curriculum Study - Final
    				Policy</a>
    		</li>
    	</ul>
    </div>
</NetworkLayout>
