---
import NetworkLayout from "@/layouts/NetworkLayout.astro";
---

<NetworkLayout
    title="Curriculum"
    activeMainText="HFNY Network"
    activeSubText="Curriculum"
>
					<h1 class="heading">The Responsible Fatherhood Curriculum</h1>

					<h2>
						The Responsible Fatherhood Curriculum - Supporting Documentation
					</h2>

					<div>
						<p>Below is a list of approved curriculum.</p>
						<ul>
							<li>
								<a href="/documents/The_Responsible_Fatherhood_Curriculum.pdf" target="_blank">The Responsible
									Fatherhood Curriculum</a>
							</li>
						</ul>
					</div>
</NetworkLayout>
