---
import NetworkLayout from "@/layouts/NetworkLayout.astro";
---

<NetworkLayout
    title="Curriculum"
    activeMainText="HFNY Network"
    activeSubText="Curriculum"
>
					<h1 class="heading">Understanding Dad</h1>

					<h2>Understanding Dad - Supporting Documentation</h2>

					<div>
						<p>Below is a list of approved curriculum support materials.</p>
						<ul>
							<li>
								<a href="/documents/Understanding_Dad_Pearson_2020_5Site_Eval_Qualitative_Peer_Reviewed.pdf"
									target="_blank">
									Pearson 2020 Study on Understanding Dad
								</a>
							</li>
							<li>
								<a href="/documents/Understanding_Dad_Fagan_2015.pdf" target="_blank">
									Fagan 2015 Study on Understanding Dad
								</a>
							</li>
							<li>
								<a href="/documents/Understanding_Dad_Sample.pdf" target="_blank">
									Understanding Dad Sample Curriculum
								</a>
							</li>
						</ul>
					</div>
</NetworkLayout>
