---
import Layout from "../layouts/Layout.astro";
import Sidebar from "../components/Sidebar.astro";
import Footer from "../components/Footer.astro";
import Header from "../components/Header.astro";

const {
  title,
  activeMainText = "Home Visits",
  activeSubText = "Home Visits",
} = Astro.props;

const menuItems = [
  {
    text: "Home Visits",
    href: "/homevisits",
    active: true,
  },
  {
    text: "How Does HFNY Work?",
    href: "/homevisits/process",
    active: false,
  },
  {
    text: "Is HFNY for me?",
    href: "/homevisits/eligibility",
    active: false,
  },
  {
    text: "Family Voices",
    href: "/homevisits/quotes",
    active: false,
  },
  {
    text: "Find a Program Site",
    href: "/maps",
    active: false,
  },
].map((item) => ({
  ...item,
  active: activeSubText === item.text,
}));
---

<Layout title={title}>
  <Header activeMainText={activeMainText} />
  <!-- begin content area -->
  <div id="content">
    <!-- begin 2-column layout -->
    <div id="col-1">
      <Sidebar menuItems={menuItems} />
    </div><!-- end col-1 -->

    <div id="col-2">
      <!-- begin text area -->
      <div id="text-area">
        <slot />
      </div>
    </div>
  </div>
  <Footer />
</Layout>
